<div class="deliviery">
					<img src="images/deliviery-bg-bottom.png" alt="" class="deliviery__bg-bottom leftSideDirect">
					<img src="images/deliviery-bg-left.png" alt="" class="deliviery__bg-left">
					<img src="images/deliviery-bg-right.png" alt="" class="deliviery__bg-right">
					<div class="container-fluid">
						<div class="deliviery__title title title_icon_top wow animated bounceInLeft" data-wow-duration="1s">
							<h3>
								<span class="icon icon-heart-white"></span>
								<span>Доставим в любую точку России</span>
							</h3>
						</div>
						<div class="deliviery__map map-russia">
							<svg
							xmlns:dc="http://purl.org/dc/elements/1.1/"
							xmlns:cc="http://creativecommons.org/ns#"
							xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
							xmlns:svg="http://www.w3.org/2000/svg"
							xmlns="http://www.w3.org/2000/svg"
							xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
							xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
							version="1.1"
							id="svg3775"
							inkscape:version="0.92.3 (2405546, 2018-03-11)"
							sodipodi:docname="russia-map.svg"
							x="0px"
							y="0px"
							viewBox="0 0 686.77954 390.82477"
							xml:space="preserve"
							width="686.77954"
							height="390.82477"><metadata
							id="metadata94"><rdf:RDF><cc:Work
							rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type
							rdf:resource="http://purl.org/dc/dcmitype/StillImage" /><dc:title></dc:title></cc:Work></rdf:RDF></metadata><defs
							id="defs92" />
							<style
							type="text/css"
							id="style2">
							.st0{fill:#16C9D4;stroke:#109B9B;}
							.st1{fill:#16C9D4;stroke:#109B9B;stroke-width:1.4286;}
							</style>
							<sodipodi:namedview
							bordercolor="#666666"
							borderopacity="1"
							gridtolerance="10"
							guidetolerance="10"
							id="namedview3777"
							inkscape:current-layer="svg3775"
							inkscape:cx="345.16247"
							inkscape:cy="171.91357"
							inkscape:pageopacity="0"
							inkscape:pageshadow="2"
							inkscape:window-height="1027"
							inkscape:window-maximized="1"
							inkscape:window-width="1920"
							inkscape:window-x="-8"
							inkscape:window-y="-8"
							inkscape:zoom="1.776"
							objecttolerance="10"
							pagecolor="#ffffff"
							showgrid="false"
							fit-margin-top="0"
							fit-margin-left="0"
							fit-margin-right="0"
							fit-margin-bottom="0">
							</sodipodi:namedview>
								<g
								id="g3773"
								transform="matrix(0.7,0,0,0.7,-4.8375304,-31.088787)">
									<path
									id="vectormap1_MOW"
									class="path st0"
									d="m 133.3,287 -0.7,-1.3 -0.8,1.1 -1.2,0.6 -0.4,1.9 -2.7,-1.2 -1.3,1.2 -1.8,-1.9 -0.5,2 -1.7,0.5 0.5,2.3 1.4,-1 1.1,1.3 2.3,-0.1 0.6,-1.4 0.8,1.3 1.6,-0.8 1.6,1.1 2.5,-0.2 0.4,-1.6 -0.7,-2.4 0.3,-0.9 c -0.9,0 -1,-0.2 -1.3,-0.5 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_SPE"
									class="path st0"
									d="m 139.2,211 -2.9,-1 -3.9,1 -1,3.9 1,2.9 3.9,1.9 2.9,-1.9 1.9,-2.9 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_NEN"
									class="path st0"
									d="m 304.4,195.5 h -4.8 l -3.9,3.9 1,3.9 4.8,1 h 1 l 1,-1 h 1 v 0 l 1,-1 v 1 0 l -1,1 v 0 h 1 l 1,-1 v -3.9 z m 44.4,22.3 1.9,1 v 1 1 1 l 2.9,1.9 1.9,-2.9 -1,-2.9 -1,-2.9 v 0 -1.9 l -1,-1.9 h -1.9 v 1.9 h -1 -1 v 4.7 z m -27,-1 -2.9,-1 -3.9,-1 -4.8,1 v 0 l 1,1 v 1.9 h -1.9 l -1,-1 v -1 l 1,-1 -2.9,-1 h -2.9 -1 l -1,-1 -5.8,1 -5.8,-1 -1,-1 v -1 1 0 1 h -1 v 1 1.9 0 l -1,-1.9 -1.9,-1 -1,-1 -3.9,2.9 -3.9,3.9 -4.8,-1.9 -3.9,-2.9 1,-2.9 1,-1.9 -1,-1.9 -1,-1.9 3.9,-1.9 2.9,-1 4.8,2.9 1,-1 1,-1 v -1 h 1 v -2.9 -2.9 l -2.9,-3.9 -3.9,-2.9 -1,-2.9 -1,-1 v 2.9 4.8 l -5.8,4.8 -4.8,3.9 v 2.9 2.9 l -3.7,3.2 -1.9,1.9 v 1 1.9 l 3.9,5.8 2.9,5.8 1,1.9 1,1 v 1 h 1.9 v 0 -1 l 1.9,-1 h 1.9 l 1.9,1 1.9,1.9 v 0 h 6.8 l 7.7,1 1.9,-1 1,-1 1,1 v 1 l 1.9,-1 h 1.9 l 4.8,3.9 5.8,4.8 29,17.4 1,1 1,1 5.8,-1 6.8,-1.9 v -1 l 1,-1.9 1,1 h 1 l 1.9,-1 1.9,-1 1.9,-1 1.9,-1 1,-1 h 1 1 l 1.9,1 1.9,-2.9 v -1.9 l -1,-1 -1.9,-2.9 1,-1 1,-1 1.9,-1.9 V 238 l -2.9,-4.8 -3.9,-3.9 -4.8,-3.9 -1,-1 -1,-1 -1,1 -1,1 v 0 l -1,-1 h -1 l -1,1 v 5.8 l -1,5.8 v 0 0 l -1,-1 h -1 l -1.9,1 -1.9,-1 h -1 l -1,1.9 -2.9,1 -1,-1.9 1,-1.9 1.9,-1 h 1 v -1.9 l -1,-1.9 h 1 l -6.8,-1 -5.8,1 -1.9,-2.9 -5.8,-1.9 -3.9,1 v 1 l -1,1 -1,-1.9 H 315 l -1,1 h -1 v 0 l 1,-1 v -1 -1 l -1.9,-1 h -1.9 l 1,-1 v -1 h 1 1 l 1.9,1 1,-1.9 1,-1.9 h 1 l 1,-1 v -1 h -1 1.9 1.8 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_YAR"
									class="path st0"
									d="m 159.5,266.1 1,-1 -2.9,-1 -1,1 1,1 z m 6.8,0.9 h -1 l -1,1 -2.9,-1.9 v 3.9 l -1,2.9 -1.9,1.9 v -1 -1 -1 l -2.9,1 -1,-1 1,-1 h 1 l -1,-5.8 h -1.9 l -1.9,1 1,1 -1,1 -1,1 h -1.9 v 1 1 l -1,1.9 v 2.9 1.9 l 1,1 -2.9,1.9 -2.9,2.9 v 1 1 1.9 l 2.9,2.9 2.9,-1 5.8,-1.9 4.8,1.9 5.8,-3.9 6.8,-2.9 v -1 l 1,-1.9 -3.9,-4.8 V 270 Z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_CHE"
									class="path st0"
									d="m 256.1,378.1 v 2.9 l -1.9,3.9 1,1 1,1 h -1.9 -1 -1 l -1,1 h -1 l -1.9,-1 -1,1.9 -1,1 h -1 v -1 -1 l -1,-1 -1.9,1 v -1.9 l 1,-1 -2.9,-2.9 -2.9,1 -1,1 v 1 h -1 v 1 l 1.9,6.8 v 1 h 1.9 1.9 v 1 l 1,1 h 5.8 4.8 l -1.9,2.9 -2.9,2.9 -1,1.9 -1,-1 -1,-1 -1,1 h -1.9 -1 -1 l -2.9,4.8 -2.9,4.8 -1,1 -1.9,1.9 v 1 1 h -1 v 1 l 1,1 v 1 1 h 1 l 1,-1 2.9,1.9 2.9,1.9 -1.9,1.9 -1.9,1.9 h 1 l 3.9,1 3.9,-1 1,-2.9 v -1.9 l 1,-1 h 1 l 1,-1 h 1 l 3.9,1.9 2.9,1.9 -1.9,-3.9 -1.9,-2.9 1.9,-1.9 h 1.9 l -1.9,-1 -1.9,-1.9 h 1 l 1,-1 1,-1 -1,-1 h 1 1 1 1 v 1 l 1,1 2.9,1 1.9,1 v 1 l 1,1 1,-1 h 2.9 l 2.9,1 v -1 0 -1 l -1,-1 1.9,-1.9 V 409 l -2.9,-1.9 -3.9,-2.9 1.9,-1.9 1,-1 1,-1.9 v -1 h 1 l 1,-1 h 1 1 l 1,-3.9 v -4.8 l -1,-1.9 v -1 l -1,-1 -1.9,-1 v 0 h -1 l -1,1 -4.8,-2.9 -4.8,-3.9 v -1 h -1 -1 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_ULY"
									class="path st0"
									d="m 180.7,351.1 -1,-1.9 -3.9,-1 v -1.9 l -2.9,-1.9 -1.9,-2.9 -3.9,5.8 -1.9,-1 h -3.9 l 1,3.9 -1,3.9 1,1.9 v 1.9 l -2.9,3.9 -2.9,1.9 2.9,4.8 h 5.8 l 1,1 v 1 l 1.9,-2.9 1.9,-4.8 h 1 1.9 l 1.9,-1 h 1 l 1.9,1 h 1.9 l 1.9,1.9 2.9,1.9 v -1 h 1 1 1 l 1.9,-2.9 1,-1.9 -1.9,-2.9 V 355 l -1,-1.9 h -2.9 -1.9 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_TUL"
									class="path st0"
									d="m 117.8,297.9 h -1.5 l -0.3,1 -1.1,1 h -0.8 l -0.5,-1 -2.3,-1 -2.2,-1 h -0.3 l -0.4,1 h -1.9 l -1.6,1 -0.5,1 -0.7,1 0.7,4.8 2.1,3.9 1.1,1 1,1 -0.2,1.9 0.1,2.9 1.6,1.9 1.3,1 h 1.8 l 0.4,-1 0.8,-1 h 0.8 0.8 l 1.3,-1 h 1.5 l 4.7,-7.7 -0.1,-1.9 1.4,-1.9 h 1 l -1,-1 v -1 -1.9 -1 h -1.4 l -2,-2.9 v 0 h -1.2 l -1.4,1 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_SVE"
									class="path st0"
									d="m 303.4,323.1 -2.9,-1.9 -2.9,-1.9 v -1.9 -1 l -1,-1 v -1 l -1.9,1 v 1 l -2.9,3.9 -1.9,3.9 v 1 1 l -4.8,4.8 -4.8,4.8 -1.9,1 -1.9,1 -2.9,2.9 1.9,4.8 -1.9,2.9 v 2.9 1 0 l -2.9,2.9 -4.8,1 -1,2.9 V 361 H 262 l -1.9,-1.9 -1.9,1.9 -1.9,2.9 h -4.8 l -1.9,1 v 0 1 l -1,2.9 -1.9,1.9 v 1 1.9 h 1 l 1,1 3.9,1.9 2.9,1.9 h 1 v 0 l 1,-1 h 1 1 v 1 l 4.8,3.9 4.8,2.9 1,-1 h 1 v 0 l 1.9,1 1,1 v 1 l 1,1.9 2.9,-1.9 2.9,-1 1.9,1 1.9,1.9 h 1 v 0 h 1 l 1,1 1.9,1.9 2.9,-1.9 h 4.8 l -1,1.9 h 1 1 l 1,-1 h -1 v -1 l 1,-4.8 1.9,-3.9 1.9,-1 h 2.9 v 1 0 h 1.9 1.9 l 1.9,-1 v -1.9 -1.9 l 1,-1.9 v -1 -1.9 l -1,-1 v -4.8 -3.9 l -2.9,-1.9 -2.9,-2.9 1,-2.9 1,-3.9 v -1.9 l -1,-1 v 0 -2.9 -1.9 l 1,-3.9 1.9,-3.9 -1.9,-2.9 -1,-1.9 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_RYA"
									class="path st0"
									d="m 139.2,306.6 -1.9,-1 v 1 h -1 -1 -1 -2.9 l -1.9,1 h -1 l -1,-1 -1,1 -1.9,1 h -1.4 l -4.7,7.7 0.7,1.9 v 1.9 h 2.1 l 2.2,1 -0.3,1.9 0.4,1.9 1.9,1 h 2.9 l 1,1.9 1,1 h 1.9 l 1,-1 5.8,2.9 h 1 1 l 1,-1 v 0 -1 l 1,1 h 1.9 v 0 l -1,-1.9 h -1.9 l 1.9,-1 h 1.9 l 1,-1 1.9,-1 v -1.9 0 l 1,-1.9 v -1.9 l -1.9,-1 h -1 v 0 l 1,-1 v -1 -1 l -3.9,-4.8 -2.9,-3.9 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_ORL"
									class="path st0"
									d="m 103.7,300.8 -3.9,-1 -3.9,-1 -0.4,1 h -0.7 l -2.1,1 h -1.5 l -0.4,1 -0.3,1.9 -2.3,1 -1.1,1.9 1.3,1 1.6,1 v 1 1.9 l 2.5,1 1.8,1 0.1,1.9 0.2,2.9 1,1 1,1 -0.3,1 v 1.9 h 0.8 0.7 l 0.3,1 h 0.7 l 3.2,-1 1.2,1 0.3,-1.9 -0.1,-1 0.5,-1 0.6,-1.9 4.1,-1.9 -0.1,-2.9 0.2,-1.9 -1,-1 -1.1,-1 -2.1,-4.8 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_NGR"
									class="path st0"
									d="m 130.5,228.4 v -1 h -2.9 l -1.9,1 -1,-1.9 -1.4,-1 -1.8,1 H 120 l -4.8,1.9 0.7,3.9 1,2.9 -0.9,1 h -1.2 l -0.1,1 -0.2,1 -2.9,1 -0.5,1.9 -1.7,1.9 0.2,1.9 1.3,1.9 1.4,1 5.4,1.9 5.3,1 1.8,1 1,1 v 0 l 2.9,-1 2.9,-1 1,-1 1,-1 2.9,1.9 1.9,2.9 v 0 h 1 l 1,1 1.9,1 1,-1 h 1 l 1.9,1 1,1.9 h 1 l 1.9,1 v -2.9 -2.9 l -1,-1 h -1 v -1 h -1 v -1.9 l 1,-2.9 -1.9,-2.9 -1,-1.9 v -2.9 l -1.9,-1.9 v -1 l -1,-1 h -1.9 -1.9 v -1.9 -1.9 l -1,-1 -1,-1 v 0 -1 l -1.9,1 -1.9,1 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_LIP"
									class="path st0"
									d="m 118.6,316.3 h -1.5 l -1.3,1 h -0.8 -0.8 l -0.8,1 -0.4,1 h -1.8 l -1.3,-1 -1.6,-1.9 -2.1,1 -1.9,1 -0.6,1.9 -0.5,1 0.1,1.9 -0.3,1 -1.2,-1 -3.2,1 0.6,1.9 1.8,1.9 2.7,1 2.3,1 v 1 h -0.1 l 0.9,1 h 1.2 l 0.9,1.9 -0.3,1 2.4,1.9 2.6,2.9 1.8,-1 1.5,-1 -1,-5.8 3.4,-3.9 4.3,-2.9 -0.4,-1.9 0.3,-1.9 -2.2,-1 h -2.1 v -1.9 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_KRS"
									class="path st0"
									d="m 90,309.5 v -1 l -1.6,-1 -1.3,-1 h -2.4 -0.4 -0.6 -0.5 l -0.7,1 -1.7,-1.9 -1.8,1.9 -1,1 -1.7,-1 -0.3,1 -0.2,1 -2.4,1.9 1.6,2.9 2.2,2.9 -0.3,1 -0.5,1 H 77 l 0.3,1 h -0.5 l -0.5,1 1.8,1.9 h 2.2 0.7 0.7 l 0.9,1.9 1.1,1 4.5,1.9 5.8,2.9 0.9,1 0.9,1.9 1.4,-1.9 1.1,-1.9 1.3,1 h 1.2 0.3 v -1 l 0.6,-1 -0.2,-1 v 0 l -1.8,-1.9 -0.6,-1.9 h -0.7 l -0.3,-1 h -0.7 -0.8 v -1 l 0.3,-1 -1,-1.9 -1,-1 -0.2,-2.9 -0.1,-1.9 -1.8,-1 -2.5,-1 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_KGN"
									class="path st0"
									d="m 296.7,389.7 -4.8,1 -2.9,1 -1.9,-1.9 -1,-1 h -1 v 0 h -1 l -1.9,-1.9 -1.9,-1 -2.9,1 -2.9,1.9 v 4.8 l -1,3.9 h -1 -1 l -1,1 h -1 v 1 l -1,1.9 -1,1 -1.9,1.9 3.9,2.9 2.9,1.9 v 1.9 l -1.9,1 1,1 v 1 1 1 l 4.8,1 4.8,1 1.9,1 1,1 1,-1 1,-1 h 1.9 l 2.9,1 1,1 7.7,1 7.7,1 1,-1 1,-1 h 1 l 1.9,1 1,-1 h 1 l -1.9,-3.9 -1,-2.9 h -1 v 0 l -1.9,-1 -1,-1 -1,-2.9 -1.9,-2.9 -1,-1 -1,1 -1,-1 v -1 h -1.9 -1 v -1.9 -1.9 l -1.9,-1 -1.9,-1 v -3.9 l 1,-1.9 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_KGD"
									class="path st0"
									d="m 35.3,200.4 v 0 h 2.3 v 0 z m 4.3,-1 1.2,-1 -1.2,1 -1.1,1 h 0.1 z m 9.6,2.9 v 0 l -5.5,-1 -1.4,-1.9 -1.5,-1 -1.2,1 -1,1 H 39 l 1.1,2.9 -2.2,-1 -2.9,-1 4.1,7.7 4.6,6.8 2.7,3.9 h 0.5 0.4 l 1.1,-1 3.4,-1 -0.9,-6.8 -0.3,-2.9 -0.1,-2.9 -0.5,-1 h -0.6 -0.7 l -1.1,1 -1.1,1 -1.7,-1.9 -0.7,-1.9 h 0.5 0.7 3 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_IVA"
									class="path st0"
									d="m 174.9,297 -1.9,-1 -1.9,-1 -1,-1.9 -1,-1.9 -1,1 -1.9,1 -6.8,-3.9 -4.8,-1.9 -4.8,1.9 v 0 l 1,2.9 -1,3.9 h 1.9 1.9 l 1,1.9 1,1.9 2.9,2.9 h 1 v 0 1.9 1 l 1.9,1 1.9,1 h 1 l 1,1 1,-1 1.9,-1.9 1.9,1 1.9,1 1.9,-1 1,-1.9 1.9,-1 h 1 v -1 L 175.9,300 H 173 l 1,-1 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_BRY"
									class="path st0"
									d="m 87.9,284.4 -1,1 h -1.1 -0.7 -0.3 -1 -1 l -1.8,-1 h -2 l -1.6,-2.9 -2.9,-1 -0.9,1 -0.3,1.9 -0.6,1 H 72 l -1.4,1.9 -1.5,1.9 -0.9,1.9 h -0.7 l 0.8,1 -0.2,1 h 0.6 l 2.4,1 1.8,-1 0.9,1 0.6,1.9 1.8,1 1.5,1 2.3,2.9 0.3,2.9 -1.3,1.9 -0.2,2.9 1.8,-1.9 1.7,1.9 0.7,-1 0.5,-1 0.6,1 h 0.4 l 2.4,-1 1.1,-1 2.3,-1 0.3,-1.9 0.4,-1.9 1.5,1 2.1,-1 h 0.7 l 0.4,-1 -2.2,-3.9 1,-1.9 1.5,-1 -1,-4.8 -0.6,-3.9 -3.4,1 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_AST"
									class="path st0"
									d="m 117.2,397.4 h -1.3 l -1.1,-1 -0.2,1 h -0.2 l -0.8,-1 h -1.3 l -1.6,1 1,1.9 0.6,2.9 1.2,1 0.8,1 -1.3,1 -0.9,1.9 0.3,2.9 1,1.9 h 2.5 l 2,1.9 h -1.6 l -2.1,1 -0.5,4.8 -0.4,3.9 -3.5,1 h -3.6 l 0.2,1 1,1 -0.4,1 -0.3,1 1,1 0.7,1 -3.3,1 -0.9,2.9 0.4,1 h 0.4 0.8 0.8 l 0.7,1 0.7,1 v 1 h 0.3 v 0 h 0.3 0.4 l -0.2,1 h 0.2 0.7 l 0.6,-1 2.8,1.9 0.1,1 h 0.1 l 1.1,-1 h 0.3 0.2 l -0.2,1 0.7,-1 1,-1 0.6,1 -0.1,1 -0.8,1 -0.4,1 1.2,-1 1.2,-1 2.7,-1.9 2.8,-1 0.5,1 -1.7,-7.7 h 0.6 l 1.2,1.9 h 1.9 l 1,-6.8 v -7.7 l -1.9,-1.9 -1.5,-1.9 -1,1 -1,-1 0.9,-2.9 1.6,-1.9 -0.4,-2.9 -1,-2.9 2.3,-1.9 -1,-1.9 -0.6,-1.9 -2.9,-1 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_CE"
									class="path st0"
									d="m 78.2,439.9 -0.4,-1 -1.4,1 -2.1,1 h -0.9 l 0.8,1 2.1,1 -2,4.8 h -0.1 v 0 0 H 74 l -0.4,1 v 0 l -3.1,1 -2.7,-1 -0.4,-1 H 66.8 65.5 65 l 0.3,1 -0.2,1 h 1.4 l 1.5,1.9 0.5,1.9 0.2,1 1.1,1 1.1,1.9 2,-1 H 75 l 1.1,1 0.4,-1 H 77 78.4 80 l 1,-1.9 1.6,-2.9 2.4,-1 2.1,-1 0.3,-1.9 -0.5,-1.9 h -1.6 -1.6 l 0.1,-1 0.3,-1 h -1.3 l -1.4,-1 -0.1,-1 -0.2,-1 h -0.5 -1 -0.8 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_UD"
									class="path st0"
									d="m 240.6,333.7 -1.9,-1 -1,-1 v -1 l -1,-1 h -1 -1 l -1.9,-1 -1.9,-1.9 -3.9,2.9 -1.9,4.8 -1.9,1 h -1.9 -1 l -1.9,-1 -1.9,2.9 -1,3.9 -1,1 h -1.9 l -1,3.9 -1,2.9 1,1 h -1 l -1.9,1 1,1 h 1 l 1.9,1.9 h 1.9 1 v 1 h 1 v 0 l 1,1 1.9,-1 v -1 l -1,-1 1.9,-1 1.9,1 h -1 v 1.9 1.9 l 1,-1 1.9,1 -2.9,1.9 h -2.9 l 1,1.9 h 1 l 1.9,1.9 1,1.9 1.9,1 1.9,-1 2.9,-1 2.9,-1 -1,-1.9 -1,-2.9 h -1 l -1,1 V 354 l 1,-1 h 1 l 1,-1 v -1 l 1,1 1,-1 3.9,-8.7 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_SE"
									class="path st0"
									d="m 70.2,439 -1.4,1 h -1.2 l -0.8,-1 h -1 l -1.1,1 -0.6,-1 -0.8,-1 -2.1,1 -2.2,1 -0.9,-1 h -0.9 l 1.4,4.8 0.1,1.9 2.8,1 3.4,1 h 0.5 1.3 2 l 0.8,-2.9 -1,-1 1.1,-1.9 1.5,-1.9 h 0.5 0.3 l 2.1,1 -0.4,-2.9 -2.4,-1.9 -1.2,1.9 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_MO"
									class="path st0"
									d="m 169.2,333.7 -2.9,1 -1.9,1 h -1 v -1 l -1.9,1 -1.9,1 -1.9,-3.9 -1.9,-6.8 -1.9,-1 H 152 l -1,-1 -1.9,-1.9 v 1 1.9 l -1.9,1 -1,1 h -2.2 -1.9 l 1.9,1 1,1.9 v 0 l -1.9,-1 h -1 v 0 1 l -1.9,1 1.9,2.9 1.9,1.9 1,-1 1,-1 1.9,3.9 2.9,5.8 h 1.9 l 1.9,-1.9 2.9,2.9 3.9,1.9 h 3.9 l 1.9,1 3.9,-5.8 1,-3.9 h -1 v -1 h -1 l -1,-1 1,-1 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_KL"
									class="path st0"
									d="m 111.8,399.4 -1,-1.9 h -1.5 -1.4 v -1.9 l -1.4,-1 -0.7,1.9 -1.3,1.9 -3.6,-1.9 -4.7,1.9 -0.6,1 1.6,1 h 2.9 l -1.4,2.9 -2.7,1.9 -0.2,1 -0.2,1 h -2.4 -2.5 l -0.7,1.8 -1.1,1 h -0.4 l -0.5,-1 -1.4,1 -1.7,-1 -3,-6.8 -4.2,-2.9 -2.6,1 -3.5,1 0.7,1 h 1 l -0.1,1 0.2,1 1.2,-1 h 1.3 l 0.3,1 -0.6,1 h 2.7 3.1 l 0.9,2.9 0.7,1.8 1.4,1.9 1.2,1.9 -0.3,1.9 -0.4,2.9 0.6,1.9 1.4,1.9 2.2,4.8 0.8,4.8 0.7,1 1.5,1 2.9,5 2,2.9 h 1.1 l 0.7,1 0.8,-1 h 0.6 l 3,-1.9 3.2,-1 0.7,-1 h 1 v -1 l -0.7,-1 -0.7,-1 h -0.8 -0.9 l -0.4,-1 h -0.4 l 0.9,-2.9 3.3,-1 -0.7,-1 -1,-1 0.3,-1 0.4,-1 -1,-1 -0.2,-1 h 3.6 l 3.5,-1 0.4,-3.9 0.5,-4.8 2.1,-1 h 1.6 l -2,-1.9 h -2.5 l -1,-1.9 -0.3,-2.9 0.9,-1.9 1.3,-1 -0.8,-1 -1.2,-1 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_IN"
									class="path st0"
									d="m 74.1,441.9 -0.8,-1 H 72 l -0.3,-1 h -0.5 l -1.5,1.9 -1.1,1.9 1,1 -0.8,2.9 -1.4,1 3.1,1 3.1,-1 v 0 l 0.4,-1 h 0.2 l 2,-3.9 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_AL"
									class="path st0"
									d="m 440.6,496.9 h -1 l -1,-1 -1,-1 -1,1 h -1 l -1,-1 -1.9,-1.9 -2.9,1 -1,1.9 1,1.9 -1.9,1.9 -1,-1 v 0 h -1.9 -1 l -1,-1 -1,-1 -1,1.9 -1,1.9 h -1 -1 l -1,1 -1,1 h -2.9 -3.9 l -1.9,1 -1,1 v 0 l -1.9,-1 -1.9,1 1.9,1.9 1.9,1.9 v 1 1.9 1 h -2.9 l 1.9,4.8 2.9,3.9 1,2.9 1,2.9 1,1 h 1 l 1.9,1 1,1 3.9,-1 2.9,-1 v 1 l -1,1 4.8,6.8 h 1.9 1.9 l 1.9,-1 1,-1.9 4.8,1 v 0 h 1 1 1 l 1,-1 h 1 l 1,1 1.9,-2.9 1,-1.9 -1,-1.9 v -1 h -1.9 v -1 l 2.9,-1.9 h 1.9 v -1.9 l -1.9,-1 v -1.9 -1.9 h -1 l -1,-1 v -2.9 l -1,-3.9 -1,1 -1.9,1 -2.9,-1 -1.9,-2.9 1,-1 1,-1 v -1 -1.9 l 1.9,-1 1.9,-1.9 v -1.9 -1 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_BA"
									class="path st0"
									d="m 239.7,365.6 -1,-1 v -1 h -2.9 l -2.9,-1 -2.9,1 -2.9,1 h -1.9 -1.9 l -3.9,1.9 -3.9,1 -1,-1 v 1 l -1,1 v 0 l 1,1 v 1.9 l -1,1.9 -1,1 h -1.9 v 1 l -1,1.9 -1.9,3.9 v 0 l -1,2.9 v 2.9 2.9 l 1,1 1,1 v 0 1 l 1,1 h 1 l -1,2.9 v 1.9 l 1,1.9 v 1 h -1 -1 l 1,2.9 1,2.9 h 1 l 1.9,-1.9 2.9,1 -1.9,2.9 -1.9,1.9 1,1 1,1 -1.9,4.8 h 1 l 1,1.9 1,1 h 1.9 1.9 l 1.9,1 1,1 3.9,1 1.9,-3.9 h 1.9 l 1,-1.9 v -1 h 1 v -1 -1 l 1.9,-1.9 1,-1 2.9,-4.8 2.9,-4.8 h 1 1 l 1.9,-1 h 1 l 1.9,1 v 1 l 1,-1.9 2.9,-2.9 1.9,-2.9 -4.8,-1 -5.8,1 -1,-1 v -1 h -1.9 -1.9 v -1 l -1.9,-6.8 v -1 h 1 v -1 l 1,-1 2.9,-1 2.9,1.9 -1,1.9 v 1.9 l 1.9,-1 1,1 v 1 1 h 1 l 1,-1 1,-1.9 1.9,1 h 1 l 1,-1 h 1 1 1.9 l -1,-1 -1,-1 1.9,-3.9 v -2.9 h -1 l -2.9,-1.9 -3.9,-1.9 -1,-1 h -1 v -1.9 -1 h -1.9 -1.9 v -1 l -1,-2.9 h -1 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_AD"
									class="path st0"
									d="m 53,398.4 -0.5,-2.9 -2.6,1 -3.3,-1 -1.5,-1.9 -1,-1 -0.8,1 0.3,1 0.5,1 1.7,1.9 1.5,1.9 H 48 l 0.9,-1.9 H 50 l 0.7,2.9 -0.3,2.9 h -2.2 l -2.2,2.9 0.2,1 0.3,1 -1,1 h -1.3 l 0.2,-1 -0.4,-1 -0.8,1 h -1 l -0.4,1 1.2,2.9 1.9,1.9 1.9,-1 1.3,-2.9 H 49 l 0.8,-1 1.3,-1.9 2.1,-1 -0.3,1.9 -0.4,1.9 h 1 0.5 l 0.5,-1 0.5,-1 0.6,-1 1.2,-1 -1,-4.8 c -0.1,0.1 -2.8,-2.8 -2.8,-2.8 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_CR"
									class="path st0"
									d="m 10.4,362.2 2.5,-3.7 -2,-4.9 -1.9,-1 -0.2,-1.3 4.4,0.2 4.6,0.9 3.2,2.6 -0.6,-3.8 2.5,2.8 0.3,1.3 2.9,2.6 1.4,3.6 -1.1,2.9 -0.5,5.5 1.8,0.5 1.3,-0.2 0.4,1.7 1.8,0.4 2.4,3.1 h -2.9 l -1,1.7 -4,-3.4 -0.9,-2.3 -2.2,-0.2 -4.6,-1.8 -3.1,-1 -4,0.1 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_SEV"
									class="path st0"
									d="M 10.8,368.7 8.4,367 7.5,363.5 10.4,362.2 Z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_PNZ"
									class="path st0"
									d="m 154.7,341.4 -1.9,1.9 h -1.9 l -2.9,-5.8 -1.9,-3.9 -1,1 -1,1 -2.9,-1.9 -1,-2.9 h -1.9 v 0 l -1,1 -1,1.9 -1,1 1,1 v 0 1.9 l -1.9,1 1,2.9 v 4.8 l -1,1 -1.9,1 1.9,1.9 2.9,1.9 1,1.9 1,1 h 1.9 l 1,1 1,1 v 1 l 2.9,1.9 h 1.9 l 1,1 v 1.9 l 2.9,-1 h 1.9 l 1.9,1 1,1 2.9,-1.9 2.9,-3.9 v -1.9 l -1,-1.9 1,-3.9 -1,-3.9 -3.9,-1.9 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_TAM"
									class="path st0"
									d="m 133.4,327.9 -1,1 h -1.9 l -1,-1 -1,-1.9 h -2.9 l -1.9,-1 -4.3,2.9 -3.4,3.9 1,5.8 -1.5,1 -1.8,1 0.8,1 1,1 -0.5,1.9 -0.3,1 1.7,1 2,1 1.1,1.9 1,1.9 h 0.7 0.8 l -0.2,1 1.3,1 4.6,-1.9 4.8,-1.9 1.9,-1 1,-1 v -4.8 l -1,-2.9 1,-1 1,-1.9 v 0 l -1,-1 1,-1 1,-1.9 1,-1 v 0 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_LEN"
									class="path st0"
									d="m 133.4,198.4 -1.9,1 1,1 1,1 h 1.9 l 1,1 v 0 h -1 l -1,1 v 1 h -1 v -1 4.8 l 1,1.9 h 1.9 l 2.9,1 1.9,3.9 -1.9,2.9 -2.9,1.9 -3.9,-1.9 -1,-2.9 1,-2.9 -1.9,-1.9 -1,1 -1,-1 -1,-1 -1,-1 -1,1 h -1 v -1.9 0 h -1.2 l -0.7,1 -1.4,1 h 0.5 l -1.2,1.9 -1.7,-1 -1.6,1 h -1.7 l 1,2.9 0.8,1.9 1,1.9 0.9,1.9 -0.7,3.9 1.4,2.9 h 1.4 l 1.9,-1 1.4,1 1,1.9 1.9,-1 h 2.9 v 1 l 1.9,1 1.9,-1 1.9,-1 v 1 0 l 1,1 1,1 v 1.9 1.9 h 1.9 1.9 l 1,1 v 1 l 1.9,2.9 v 1.9 l 1,1.9 1.9,2.9 h 2.9 l 1.9,1 1,-1 1,-1 h 1.9 l 1,-1 h -1 v -1 l 1,-1 v -1 -1 -1 l 2.9,-1.9 2.9,-1 1.9,-1.9 v -1 l 1,-1 h 1.9 1 l 1.9,-1 -1,-1 v 0 l -1,-3.9 -1,-1 H 166 l -1.9,-1.9 -1.9,-1.9 v 0 h -1 v 1 l 1,1.9 h -1.9 l -1,-1 h -1.9 -1.9 -1.9 v 0 h -1 l -1,-1 -1.9,1.9 -2.9,1 -1.9,-2.9 H 142 l -1.9,-1 -1,-1 h 1 l 1,-1.9 1,-1.9 1.9,-4.8 2.9,-3.9 v -1.9 -1 L 145,202 v -2.9 h -6.8 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_KOS"
									class="path st0"
									d="m 187.5,279.6 -1,-1 h -1 v -1 -1 l -1,1 -1,1 -2.9,-1 -2.9,-1 -1,1 v 1 l -3.9,1 -1,1.9 v 1 l -6.8,2.9 -5.8,3.9 6.8,3.9 1.9,-1 1,-1 1,1.9 1,1.9 1.9,1 1.9,1 -1,1.9 -1,1 h 2.9 l 1.9,2.9 3.9,1.9 h 3.9 l 1.9,-1.9 1,-1 2.9,2.9 v 1.9 h 1 1 l 3.9,1 1.9,-1 2.9,-1.9 h 1 l 1.9,1 v -1 h 1 1 1 1 v 0 l 1.9,-1 v -2.9 l 1,-2.9 1,-1.9 -1,-1.9 -1.9,-1 -1,1 -1,1 h -1 l -1.9,-1 -1,1 h -1 l -6.8,-4.8 -1,-1.9 -1,-1.9 -1.9,-1 -1,-1 v 0 -1 l -3.9,-1 v -1.9 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_PSK"
									class="path st0"
									d="m 117.4,215.8 -0.8,-1.9 -1,-2.9 -2.1,2.9 -2.2,1.9 h -0.5 -2.5 l -1.5,1.9 0.7,1 0.5,1 -1.4,2.9 -1.4,-1 0.4,-1 0.3,-1 h -0.6 l -0.2,1 v 0 h -1 l -0.8,-1 -1.7,1 h -1.8 v 1 h 0.4 l -0.1,1 -1,2.9 -2.2,1.9 -2.4,1 0.2,1 0.1,1 -2.4,2.9 -3.2,3.9 H 89 l 0.1,1 0.8,1 1,1 -0.4,1 -0.1,1 h 0.9 l 1.3,1.9 -1.2,2.9 -0.8,1 H 92 l 0.8,1 h 1.6 l 1.7,4.8 v 1.9 l 0.5,1 h 2 l 1.4,1.9 2.5,-1.9 2.4,-1.9 0.6,-2.9 V 250 l 0.9,-1 0.9,-1 -0.5,-1 h -0.1 l 1.4,-1 1.5,-1 -0.2,-1.9 1.7,-1.9 0.5,-1.9 2.9,-1 0.2,-1 0.1,-1 h 1.2 l 0.9,-1 -1,-2.9 -0.7,-3.9 4.8,-1.9 -1.4,-2.9 0.7,-3.9 -0.9,-1.9 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_YEV"
									class="path st0"
									d="m 801.9,517.2 v 0 h -1 -1.9 l -1,-1 h -1.9 l -2.9,-2.9 -1,-1 v 0 h -1.9 l -1.9,1 -1.9,-1 h -1.9 l -1,1.9 -1,1 v 0 h -1 v 0 l -2.9,1.9 h -1 l -1,1 -1,2.9 -1,1.9 v 1.9 1.9 l 1,1 1.9,1.9 v 1 1 l 1,1.9 1,1 1,1 v 0 l 1.9,1 1.9,-1 h 1 v 0 l 5.8,-2.9 h 1 1 l 1,-1.9 v -1.9 l 1.9,-1 1.9,-1.9 h 1 1 l 1.9,-3.9 2.9,-1.9 h 1.9 1.9 l 2.9,-1.9 -1,-1.9 v 0 l -1,-1.9 -1.9,1 h -1 -1.9 -1 l -1.8,1.8 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_TY"
									class="path st0"
									d="m 508.2,490.2 h -1.9 l -4.8,1.9 -2.9,-1 -1,1 h -1 -1 v -1 h -1 l -1,1 h -1.9 -1 l -1,1.9 -1,2.9 -1.9,1 -1.9,1 -4.8,6.8 -6.8,3.9 -6.8,-1 -5.8,-1.9 -1,-1.9 -1.9,-1 -2.9,1 -2.9,1 v 2.9 1.9 h -3.9 l -3.9,-1 v 3.9 2.9 l 1,1 h 1 v 1.9 1.9 l 1.9,1 v 1.9 h -1.9 l -2.9,1.9 1,1 h 1 v 1 l 1,1.9 3.9,-1 h 3.9 V 527 l 1,-1.9 4.8,1 1.9,-1 1.9,-1 h 1.9 1.9 v -1 l 1,-1 h 1 v 1 h 1 v 1 h 1 l 1.9,-1 v 1.9 l 1,1.9 h 3.9 l 4.8,1 1,2.9 1,3.9 3.9,1 3.9,1 h 1 l 1,-1 4.8,1.9 h 1 1 l 2.9,1 1,1 1,1 6.8,-3.9 1,-2.9 1,-2.9 h -1 l -1,-1.9 v -1 -1 -1 l -1,-1 1.9,-4.8 2.9,-3.9 h 1 l 1,-1 1.9,-1.9 1,-1.9 v -1 -1 l -1,-1 v -1 -1 l 1,-1 v -2.9 -1.9 h 1 v 0 -1.9 l -1,-1 h -1.9 -1.9 l -4.8,-3.9 -4.8,-4.8 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_KK"
									class="path st0"
									d="m 462.8,468 -1.9,-1.9 -1.9,1 h -2.9 l -2.9,-2.9 -2.9,-2.9 -1,1 v 1.9 1.9 1 l -1,2.9 -1,3.9 h 2.9 l 1.9,1.9 -1,1 -1,1 1,1.9 -1,1.9 h -1 l -1.9,1.9 v 1.9 l 1,2.9 -1,1.9 1,1.9 1,2.9 -3.9,2.9 -3.9,1.9 -1.9,1.9 -1.9,1 v 1.9 1 l -1,1 v 1 l 1,2.9 2.9,1 1.9,-1 1.9,-1 3.9,1 h 3.9 v -1.9 -2.9 l 2.9,-1 2.9,-1 1,-2.9 1.9,-1.9 1,-1 h 1.9 v 0 l 1.9,-3.9 v -1 l 1.9,-1 1.9,-1.9 v -1 l -1,-1 -1,-1 v -1 0 l -1,-1 1.9,-4.8 -1.9,-5.8 -1,-5.8 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_DA"
									class="path st0"
									d="m 97,441.9 -2,-2.9 -2.9,-4.8 -1.5,-1 -0.7,-1 -1.7,1 -2.7,1.9 -1.4,-1 -1.4,1 h 0.6 l -0.2,1.9 h -1.8 -1.4 l 1.4,1 -0.5,2.9 h 0.5 l 0.2,1 0.1,1 1.4,1 h 1 l -0.3,1 -0.1,1 h 1.6 1.6 l 0.5,1.9 -0.3,1.9 -2.1,1 -2.4,1 -1.6,2.9 -1,1.9 H 78.4 77 76.5 l -0.4,1 -1.1,-1 h -2.1 l -2,1 -1.2,1 -1.4,1.9 1.9,4.8 2.5,3.9 0.7,6.8 2.1,5.8 h 2.3 l 2.5,-1 h 3.3 l 2.8,-1.9 v -8.7 l 1,-8.7 5.5,-4.8 2.4,-1 -0.4,-1 h -1.1 -0.3 l 0.4,-2.9 0.4,-2.9 -1.4,-4.8 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_STA"
									class="path st0"
									d="m 78.3,406.1 -2.7,-1 0.6,-1 -0.3,-1 h -1.3 l -1.2,1 -0.2,-1 0.1,-1 h -1 l -0.7,-1 -1.6,-1.9 -1.9,-1 -0.5,1.9 -0.5,1 -1.7,-1 -1.4,-1 -1.3,1.9 -0.8,2.9 0.9,2.9 -0.6,1.9 0.8,1 -1.4,1.9 -1.5,1 -0.4,-1 h -0.5 l 0.1,3.9 1.5,1.9 1.3,2.9 h 1.4 l 1.3,1 -0.4,1 H 64.3 62 l -1.6,1 0.4,1 h 1.1 l -0.8,1 -1.2,1.9 h 2.2 l 2.5,1 0.5,1 -0.2,1 2.7,1.9 h 2.1 l 1.8,1.9 1.1,1 h 0.5 l -0.8,1 h -1 l 2.4,1.9 0.4,2.9 2.1,-1 1.4,-1 0.4,1 0.8,1 h 0.8 1 l 0.5,-2.9 -1.4,-1 h 1.4 1.9 l 0.2,-1.9 h -0.6 l 1.4,-1 1.4,1 2.7,-1.9 1.7,-1 -0.8,-4.8 -2.2,-4.8 -1.4,-1.9 -0.6,-1.9 0.4,-1.9 0.3,-2.9 -1.2,-1.9 -1.3,-2 -0.8,-1.9 -0.9,-1.9 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_KB"
									class="path st0"
									d="m 65.1,429.3 -0.5,-1 -2.5,-1 h -2.2 -1.6 -1.1 l -3.8,2.9 2.6,3.9 1.4,4.8 h 0.9 l 0.9,1 2.2,-1 2.1,-1 0.8,1 0.6,1 1.1,-1 h 1 l 0.8,1 H 69 l 1.4,-1 1.2,-2.9 h 1 l 0.8,-1 h -0.5 l -1.1,-1 -1.8,-1.9 h -2.1 l -2.7,-1.9 c -0.3,0.1 -0.1,-0.9 -0.1,-0.9 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_KC"
									class="path st0"
									d="m 60.8,417.7 -1.5,-1.9 h -1.5 l 0.1,1 -3.5,1.9 -1.5,-1.9 -1.5,-2.9 -3.3,1.9 -3.2,1.9 3.4,6.8 5.3,5.8 3.8,-2.9 h 1.1 1.6 l 1.2,-1.9 0.8,-1 H 61 l -0.4,-1 1.6,-1 h 2.1 0.1 l 0.4,-1 -1.3,-1 H 62 Z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_KDA"
									class="path st0"
									d="m 66,383 -4.3,-1.9 -3,-1 0.5,-1 1.3,-1 -0.4,-1 0.2,-1 -1.1,-1 h -1.4 v 1 l -0.3,1 h -0.1 l -0.9,-1 -0.5,-1 -1.4,-1 h -1.3 l -0.6,-1 -0.7,-1 v 5.8 l 0.3,4.8 -0.5,-1 h -0.5 l -0.1,-1.9 v -1 l -1.3,1 -1.4,1 v -1 h 0.4 l -0.7,-1 -1.8,1 -1.7,1 h -1 -1.2 l -1.3,1 H 40 l -2.6,-1.9 -1.6,-2.9 -0.3,1.9 0.2,1 -1.6,-1 h -1.4 l 1.2,1.9 1,3.9 -0.7,1.9 0.2,1.9 0.7,1 h 0.7 0.5 l 0.1,2.9 -0.1,1.9 2,5.8 0.6,6.8 0.2,7.7 h 3.2 l 1.3,1.9 0.8,1 h 0.7 l 3.1,-1.9 3.3,-1 1.5,1.9 1.5,1.9 3.5,-1.9 -0.1,-1 h 1.5 l -0.1,-3.9 h 0.5 l 0.4,1 1.5,-1 1.3,-1.6 -0.8,-1 0.6,-1.9 -0.9,-2.9 0.8,-2.9 1.3,-1.9 1.4,1 1.7,1 0.5,-1 0.5,-1.9 0.5,-1 -0.1,-1.9 h 0.6 l 0.5,-1 h -0.5 -1.2 l -2.2,-3.9 0.5,-1 0.4,-1 -0.4,-1 -0.2,-1 h 0.7 l 0.9,-1 -0.4,-1.9 z m -13.4,12.5 0.5,2.9 2.7,2.9 1,4.8 -1.2,1 -0.6,1 -0.5,1 -0.5,1 h -0.6 -1 l 0.4,-1.9 0.3,-1.9 -2.1,1 -1.3,1.9 -0.8,1 H 48 l -1.3,1.9 -1.9,1.9 -1.9,-1.9 -1.2,-2.9 0.4,-1 1,-1 H 44 l 0.4,1 -0.2,1 h 1.3 l 1,-1 -0.3,-1 -0.2,-1.9 2.2,-1.9 h 2.2 l 0.3,-2.9 -0.7,-2.9 h -1.1 l -0.9,1.9 h -0.6 l -1.5,-1.9 -1.7,-1.9 -0.5,-1 -0.3,-1 0.8,-1 1,1 1.5,1.9 3.3,1 c -0.1,-0.1 2.6,-1.1 2.6,-1.1 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_ROS"
									class="path st0"
									d="m 103.9,360.7 h -0.8 l -0.7,1 -4.2,1 -4,-1 -2.2,-1.9 -3.1,2.9 -4.1,-1 -0.7,1 v 1.9 H 85 l 0.6,1 h -1.4 -2.7 l -0.3,1 0.3,1 -0.8,1.9 -0.7,1 -1.7,1.9 -2.5,1 -3.1,-1.9 -3,-2.9 h -1.1 -1 -1.7 l -1.7,-1 -2.4,1.9 -2.6,1.9 1.6,1 0.9,1 2.8,1 2.1,1 -0.2,1 h -0.6 l -0.8,1.9 -0.6,-1 h -1 l -1.7,-1 h -1.5 l -0.2,1 0.4,1 -1.3,1 -0.5,1 3,1 4.4,1.7 1.2,1 0.4,1.9 -0.9,1 H 66 l 0.2,1 0.4,1 -0.4,1 -0.5,1 2.2,3.9 h 1.2 0.5 l -0.5,1 h -0.6 l 0.1,1.9 -0.5,1 1.9,1 1.6,1.9 3.5,-1 2.6,-1 4.2,2.9 3,6.8 1.7,1 1.4,-1 0.5,1 H 89 l 1.1,-1 0.8,-1.9 h 2.5 2.4 l 0.2,-1 h 0.2 l 2.7,-2.9 1.4,-2.9 h -2.9 l -1.6,-1 0.6,-1 -0.6,-1 -0.7,-1 h -0.9 -0.7 l 0.5,-1 v -1 h -0.8 -0.9 l 0.2,-1 0.8,-4.8 -1.4,-2.9 -1,-1.9 0.5,-1 h 1 l 1.2,-1 1.3,-1 3.2,1 3.5,-1.9 -0.2,-2.9 -0.5,-1.9 -0.6,-1 h -0.4 l 2.7,-2.9 2.6,-1.9 -1,-4.8 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_SAM"
									class="path st0"
									d="m 192.3,363.6 -1.9,-2.9 -1,2.9 -1.9,1.9 h -1 -1 l -1,1 v 0 l -2.9,-1.9 -1.9,-1.9 h -1.9 l -1.9,-1 h -1 l -1.9,1 h -1.9 -1 l -1.9,4.8 -1.9,2.9 v 1 l 1,1.9 v 1.9 l 1,1 1.9,1 v 1 1 1 h 1 v 1 1.9 0 l 1,1 1,3.9 1,2.9 7.7,-1 2.9,-2.9 3.9,-1.9 1,-1 h 1.9 l 1.9,-1.9 1.9,-2.9 1.9,-1 1.9,-1 1.9,-3.9 2.9,-1 -1.9,-1.9 h -1 v -1 -1.9 l -1,-1 -1.9,-1.9 h -1.9 l -1.9,1 -1.9,-2.9 v 0.8 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_TA"
									class="path st0"
									d="m 205.9,338.5 v 0 l -1.9,1 -2.9,-1.9 v 0 h -1 -1 -1.9 v 0 1 h -1 v 0 h -1.9 l -1.9,1 -1,-1 h -1 l -1.9,1 h -1 v 1 0 l -4.8,1 v 1 l 1,1 -1,2.9 h -3.9 l -1,-1 h -1 l -1,1 v 1.9 l 3.9,1 1,1.9 1.9,1.9 h 1.9 2.9 l 1,1.9 v 2.9 l 1.9,2.9 1.9,2.9 1.9,1.9 1.9,-1 h 1.9 l 1.9,1.9 1,1.9 v 1 1 h 1 l 1.9,1.9 1.9,2.9 h 1 v 1 0 l -1,1 v 1.9 l 1.9,1.9 1.9,-3.9 1,-1.9 v -1 0 h 1 -1 1.9 l 1,-1 1,-1.9 v -1.9 -1 0 h -1 1 l -1,-1 v 1 -1 1 l 1,-1 v -1 l 1,1 3.9,-1 3.9,-1.9 -1,-1.9 -1.9,-1.9 h -1 l -1,-1.9 h 2.9 l 2.9,-1.9 -1.9,-1 -1,1 v -1.9 -2.1 h 1 l -1.9,-1 -1.9,1 1,1 v 1 l -1.9,1 -1,-1 v 0 h -1 v -1 h -1 -1.9 l -1.9,-1.9 -1,-1 h -1 l 1.9,-1 1,-1 h -1 l -1.9,-1 -1,-2.9 h 1 v -1 h -1 v -1.9 l 1,-2.9 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_ME"
									class="path st0"
									d="m 203,328.9 v -1 l -1.9,-1 -1,-1 h -1 l -1,1 -1,-1 -1,-1 h -2.9 l -1,-1.9 -1,-1 -1,-1 -2.9,-1.9 h -2.9 -1 l -1,1 -1,-1 h -1 l -1,1.9 1,1.9 h -1 l -1,1.9 1,1 -1,1.9 h 2.9 l 1,1 4.8,1 1,2.9 v 1 l 1,1 v 1.9 l 1,2.9 h 1 1 l 1.9,-1 h 1.9 v 0 h 1 v -1 0 h 1.9 1 1 v 0 l 2.9,1.9 1.9,-1 v 0 l 1,-1 1,-1 -1,-1 v -1 -1 -1.9 h -1 v 0 l -1,-1 1,-1.9 v -1 h -1.9 l -0.7,1.4 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_CU"
									class="path st0"
									d="m 182.7,328.9 -1,-1 h -2.9 l -1,1 -1.9,1 v 0 2.9 l 1,1.9 h -1 -1.9 l -1.9,1 v 1 h -1 v 1 h 1 l -1,3.9 1.9,2.9 2.9,1.9 1,-1 h 1 l 1,1 h 3.9 l 1,-2.9 -1,-1 v -1 l 4.8,-1 v 0 -1 h 1 1.9 l -1,-2.9 v -1.9 l -1,-1 v -1 l -1,-2.9 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_NIZ"
									class="path st0"
									d="m 187.5,302.8 -1.9,1.9 h -3.9 l -3.9,-1.9 v 1 h -1 l -1.9,1 -1,1.9 -1.9,1 -1.9,-1 -1.9,-1 -1.9,1.9 -1,1 -1,-1 h -1 v 1.9 l -1,1 v 1 h 1 -1.9 -1 v 0 h -2.9 l -2.9,1 -2.9,1.9 -3.9,1 v 1 1 h -1 v 1 h 1 l 1.9,1 v 1.9 l -1,1 1.9,1.9 1,1 h 1.9 l 1.9,1 1.9,6.8 1.9,3.9 1.9,-1 1.9,-1 v 1 h 1 l 1.9,-1 2.9,-1 1,1 -1,1 1,1 h 1 1 v -1 l 1.9,-1 h 1.9 1 l -1,-1.9 v -2.9 0 l 1.9,-1 1,-1 1,-1.9 -1,-1 1,-1.9 h 1 l -1,-1.9 1,-1.9 h 1 l 1,1 1,-1 1,-1 2.9,1 2.9,1.9 1,-1 1,-1 1,-1.9 1,-1 3.9,1.9 1.9,-1 1.9,-1 v 0 l 1,-1 -2.9,-3.9 -2.9,-3.9 -3.9,-1 h -1 -1 v -1.9 l -2.9,-2.9 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_VLA"
									class="path st0"
									d="m 153.7,297 -1.9,-1 h -1.9 l 1,-3.9 -1,-2.9 v 0 l -3.9,1 -2.9,-2.9 v -1.9 -1 l -2.9,4.8 -1.9,5.8 1,1 1,1.9 v 0 l 1,1 1.9,1.9 -1.9,5.8 2.9,3.9 3.9,4.8 3.9,-1 1.9,-1.9 h 3.9 2.9 v -1 h 1 1.9 -1 v -1 l 1,-1 v -1.9 l -1.9,-1 -1.9,-1 v -1 -1 -1 h -1 l -2.9,-2.9 -1,-1.9 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_MOS"
									class="path st0"
									d="m 126.7,272.8 -1,0.9 h -0.9 l -2,1 -2.7,0.9 -1.6,3.9 -3.7,3.9 1.4,0.9 h 1.1 l 0.9,2 1,1.9 3,0.9 1,4.8 -1,1 -0.8,1.9 2.1,2.9 h 1.4 v 0.9 1.9 1 l 0.9,0.9 h -0.9 l -1.4,1.9 0.1,2 h 1.3 l 1.9,-1 1,-1 0.9,1 h 1 l 1.9,-1 h 2.9 0.9 1 0.9 v -0.9 l 1.9,0.9 h 2 l 1.9,-5.8 -1.9,-1.9 -1,-1 -1,-1.9 -0.9,-0.9 1.9,-5.8 2.9,-4.8 0.9,-0.9 -0.9,-1.9 -1,-1.9 h -0.9 -2 l -1.9,-1 -0.9,1 h -1 l -0.9,-1 -2.9,-1 -2.9,-0.9 -0.9,-1.9 z m 5.9,12.9 0.7,1.3 c 0.3,0.3 0.4,0.5 1.2,0.4 l -0.3,0.9 0.8,2.4 -0.4,1.6 -2.4,0.2 -1.6,-1.1 -1.6,0.9 -0.8,-1.3 -0.6,1.4 -2.3,0.1 -1,-1.3 -1.4,1 -0.5,-2.3 1.7,-0.5 0.5,-2.1 1.7,1.9 1.3,-1.2 2.7,1.2 0.4,-2 1.2,-0.6 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_KLU"
									class="path st0"
									d="m 119,288.3 -1,-1.9 -0.9,-1.9 H 116 l -1.4,-1 -7.4,1.9 -1,-1 -0.9,-1 -0.9,1 h -1.6 l -1.4,-2.9 -2,-1 -0.9,1 -0.7,1 h -1.5 l -1.6,1 0.6,4.8 1,3.9 -1.5,1.9 -1,1 2.2,3.9 3.9,1 3.9,1 0.7,-1 0.5,-1 1.6,-1 h 1.9 l 0.4,-1 h 0.3 l 2.2,1 2.3,1 h 0.5 l 0.8,1 1.1,-1 0.3,-1 h 1.5 1 l 1.4,-1 1.2,-1 0.8,-1 1,-1.9 -1,-3.9 -3,-1.9 v 1 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_BEL"
									class="path st0"
									d="m 93.9,336.6 1.5,-1 0.2,-1.9 -0.9,-1.9 -0.9,-1 -5.8,-2.9 -4.5,-1.9 -1.1,-1.9 -0.9,-1 H 81 80.4 78.2 l -1.8,-1.9 -3.5,5.8 1.3,1 1.9,1.9 0.5,1.9 0.7,1.9 0.1,1 3.2,1 3.1,1.9 h -0.1 -0.3 l -0.7,3.9 v 2.9 l 1.3,1 1.3,-1 1.2,3.9 2.3,3.9 0.7,-1 0.9,-1 1,-1.9 1.4,-2.9 h 1 l 1,-1 -0.2,-1.9 v -2.9 h 1.4 l 1,-1.9 h -1.4 l -1.3,-1.9 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_ORE"
									class="path st0"
									d="m 209.7,396.5 1,-2.9 h -1 l -1,-1 v -1 0 l -1,-1 -1,-1 v -2.9 -2.9 l 1,-1.9 v -1 l -1.9,-1.9 v -1.9 l 1,-1 v 0 -1 h -1 l -1.9,-2.9 -2.9,1.9 -1.9,2.9 -1.9,1 -1.9,1 -1.9,2.9 -1.9,1.9 h -1.9 l -1,1 -3.9,1.9 -2.9,2.9 -7.7,1 v 1 l 1.9,2.9 v 1.9 0 l 2.9,1.9 h 4.8 v 1.9 2.9 l 2.9,1 1.9,1.9 1,1.9 v 1.9 l 1,3.9 1,3.9 -1,1 v 1.9 l 1.9,-1 1,-1.9 1,1 h 1 v 1 1.9 l 1.9,1.9 1,1.9 h 1.9 1 l 1,-1 1,-1 3.9,1 3.9,1.9 1,1.9 v 1 h 1.9 l 1.9,-1 1,1 1,1 h 1 1 l 1,2.9 -1,1.9 4.8,6.8 h 2.9 l 1.9,-1.9 1,1.9 v 1 l 6.8,2.9 5.8,-4.8 -2.9,-4.8 -2.9,-3.9 h 1 v -1 l -1,-1.9 v -1.9 h -1 l 1.9,-2.9 1.9,-1 -2.9,-2.9 -2.9,-1 -1,1 h -1 v -1 -1 l -1,-1 -1,1.9 h -1.9 l -2.9,3.9 -3.9,-1 v -1 l -1.9,-1 h -1.9 -1.9 l -1,-1 -1,-1.9 h -1 l 1.9,-4.8 -1,-1 -1,-1 1.9,-1.9 1.9,-2.9 -2.9,-1.9 -1.9,2.9 h -1 l -1,-3.9 -1,-2.9 1,1 h 1 v -1.9 l -1,-1 v -2.9 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_SAR"
									class="path st0"
									d="m 148.9,361.7 -1,-1 -1.9,-1 -2.9,-1.9 v -1 l -1,-1 -1,-1 h -1.9 l -1,-1 -1,-1.9 -2.9,-1 -1.9,-2.9 -3.9,1.9 -5.5,2.1 0.2,2.9 -1.4,3.9 0.6,3.9 2.3,1.9 h 2.9 v 1 l 1,1 v 0 h 1.9 v 1 1 h 1 l 1,1 1,2.9 -1.9,2.9 -1.9,1 v 0 l 1,1 h 1 v 1 l 1,1 v 0 l 1,-1 v 0 h 1 l 1,1 v 1.9 l 1.9,1 h 1.9 l 1,2.9 1.9,3.9 v 1 l 2.9,4.8 v 5.8 l 4.8,-1.9 1,-2.9 1,-2.9 h 1 v 1 l 1,1 h 1.9 2.9 l 1,-1 1,-1.9 7.7,1.9 1.9,-1 1.9,-1 1,1 v 0 h 1 v -1 -1 l -1,-3.9 -1,-2.9 -1,-1 v 0 -2.2 -1 -1 h -1 v -1 -1 l -1.9,-1 -1,-1 v -1.9 l -1,-2.9 v 0 -1 l -1,-1 -5.8,-1 -2.9,-3.9 -1,-1 -1.9,-1 H 152 l -2.9,1 v -1.9 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_VGG"
									class="path st0"
									d="m 127.6,365.6 v -1 h -2.9 l -2.3,-1.9 -0.6,-3.9 -2.1,-1 -2.5,-1 -1.1,-1 -0.9,-1.9 H 114 l -1.4,1 -2.3,-1 h -2.4 l -0.1,1.9 0.3,1.9 -2,1.9 -2.1,1 0.2,3.9 1,4.8 -2.6,1.9 -2.7,2.9 h 0.4 l 0.6,1 0.5,1.9 0.2,2.9 -3.5,1.9 -3.2,-1 -1.3,1 -1.2,1 h -1 l -0.5,1 1,1.9 1.4,2.9 -0.8,3.9 -0.2,1.9 h 0.9 0.8 v 1 l -0.5,1 h 0.7 0.8 l 0.7,1 0.6,1 4.7,-1.9 3.6,1.9 1.3,-1.9 0.7,-1.9 1.4,1 v 1.9 h 1.4 1.5 l 1.6,-1 h 1.3 l 0.8,1 h 0.2 l 0.2,-1 1.1,1 h 1.3 3.1 l 2.9,1 0.6,1.9 1,1.9 1.9,-1 1,-1 h 1.9 1 v -1.9 l 1,-2.9 3.9,-2.9 4.8,-1 1,-1 1,-1 v -1 l -1.9,-3.9 -1,-2.9 h -1.9 l -1.9,-1 v -1.9 l -1,-1 h -1 v 0 l -1,1 v 0 l -1,-1 v -1 h -1 l -1,-1 v 0 l 1.9,-1 1.9,-2.9 -1,-2.9 -1,-1 h -1 v -1 -1 h -1.9 v 0 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_VOR"
									class="path st0"
									d="m 106.2,330.8 v -1 l -2.3,-1 -2.7,-1 v 0 l 0.2,1 -0.6,1 v 1 h -0.3 -1.2 l -1.3,-1 -1.1,1.9 -1.4,1.9 -0.2,1.9 -1.5,1 1.3,1 h 1.4 l -1,1.9 h -1.4 v 2.9 l 0.2,1.9 -1,1 h -1 l -1.4,2.9 -1,2.9 h -0.8 l -0.8,1 1.1,5.8 1.7,1 0.8,1 2.2,1.9 4,1 4.2,-1 0.7,-1 h 0.8 l 2.1,-1 2,-1.9 -0.3,-1.9 0.1,-1.9 h 2.4 l 2.3,1 1.4,-1 h 1.3 l 0.9,1.9 1.1,1 2.5,1 2.1,1 1.4,-3.9 -0.1,-3 -1.3,-1 0.2,-1 h -0.8 -0.7 l -1,-1.9 -1.1,-1.9 -2,-1 -1.7,-1 0.3,-1 0.5,-1.9 -1,-1 -0.8,-1 -2.6,-2.9 -2.4,-1.9 0.3,-1 -0.9,-1.9 h -1.2 l -0.6,-0.8 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_SMO"
									class="path st0"
									d="m 116.6,269.9 -3.7,-1 -5.1,-1 -3.8,-4.8 -4.1,-4.8 -1.4,-1.9 h -2 l -1.3,1 -2.1,1.9 -2.9,2.9 h -1.8 l -0.1,1.9 0.2,1 h 0.3 l 0.1,1 H 88 l -1,1 -0.9,1.9 -0.4,2.9 0.4,1.9 -0.1,1 -1,1 -1.2,1 0.6,1 1.1,1 0.3,2.9 -1,1 0.2,1.9 -0.4,1 h 0.4 0.7 1.1 l 1,-1 h 3.4 l 3.4,-1 1.6,-1 h 1.5 l 0.7,-1 0.9,-1 2,1 1.4,2.9 h 1.6 l 0.9,-1 0.9,1 1,1 7.4,-1.9 3.7,-3.9 1.6,-3.9 -1.3,-1 -1.4,-1.9 -0.4,-1 c 0.2,0 -0.1,-2 -0.1,-2 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_TVE"
									class="path st0"
									d="m 136.3,250.6 -2.9,-1.9 -1,1 -1,1 -2.9,1 -2.9,1 h -1 l -1,-1 -0.9,-1 -5.3,-1 -5.4,-1.9 -1.4,-1 -1.3,-1.9 -1.5,1 -1.4,1 h 0.1 l 0.5,1 -0.9,1 -0.9,1 v 1.9 l -0.6,1.9 -2.5,1.9 -2.4,2.9 4.1,4.8 3.8,4.8 5.1,1 3.7,1 0.3,1.9 0.4,1 1.4,1.9 1.4,1 2.6,-1 2,-1 h 1 l 1,-1 1,1.9 1,1.9 2.9,1 2.9,1 1,1 1,-1 1,-1 1.9,1 1.9,1 h 1 l 1,1.9 v 1.9 l 2.9,-3.9 2.9,-1 -1,-1.9 v -1 -2.9 l 1,-1.9 v -1 l 1,-1 1,-1 h 1.9 v -1 l -1,-1 1.9,-1 h 1.9 l 1,-5.8 v 0 l -3.9,-1 -2.9,-1 h -1.9 l -1,-1 -1,-1 -1.9,-1 h -1 l -1,1 -1.9,-1 -1,-1 h -1 v 0 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_PER"
									class="path st0"
									d="m 263.8,311.5 -1.9,-1.9 -1.9,-1.9 h -2 l -1.9,-1 -1,-1 1,-1.9 -1.9,-1.9 h -1 -1 l -5.8,-1.9 -1.9,4.8 1,2.9 -1.9,1 3.9,4.8 3.9,1.9 -2.9,3.9 -4.8,2.9 v 2.9 l 1.9,1.9 -1,1 -1,2.9 -1.9,1 -1,1.9 -2.9,8.7 -3.9,8.7 -1,1 -1,-1 v 1 l -1,1 h -1 l -1,1 v 4.8 l 1,-1 h 1 l 1,2.9 1,1.9 2.9,1 h 2.9 v 1 l 1,1 1,1 h 1 l 1,2.9 v 1 h 1.9 1.9 l 1.9,-1.9 1,-2.9 v 0 -1 h 1.9 l 4.8,-1 1.9,-2.9 1.9,-1.9 1.9,1.9 h 2.9 v -1.9 l 1,-2.9 4.8,-1 2.9,-2.9 v 0 -1 -2.9 l 1.9,-2.9 -1.9,-4.8 2.9,-2.9 1.9,-1 1.9,-1 4.8,-4.8 4.8,-4.8 v -1 -1 l 1.9,-3.9 2.9,-2.9 -9.7,-1.9 -5.8,-4.8 h -2.9 l -1.9,1 v 0 h -1 l -1,-1 -1,1 h -1.9 v -1 h -1 -2.9 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b" />
									<path
									id="vectormap1_VLG"
									class="path st1"
									d="m 185.6,252.5 h -1 l -1.9,-1 v -1 -1 l -1,-1 h -1 v -3.9 l 1,-1.9 1,-2.9 1,-2.9 -2.9,-2.9 -1.9,-1.9 h -1 -1 v 1 l -2.9,1 -3.9,1 -1,-1 -1,-1.9 h -1.9 l -1,1 v 1 l -1.9,1.9 -2.9,1 -2.9,1.9 v 1 1 1 l -1,1 v 1 h 1 l -1,1 h -1.9 l -1,1 -1,1 -1.9,-1 h -2.9 l -1,2.9 v 1.9 h 1 v 1 h 1 l 1,1 v 2.9 2.9 h 2.9 l 3.9,1 v 1 1 1 2.9 l 1,-1 2.9,1 v -2.9 l 1,-2.9 1,1 -1,1.9 v 3.9 l 2.9,1.9 1,-1 h 1 l 2.9,2.9 v 4.8 l 3.9,4.8 3.9,-1 v -1 l 1,-1 2.9,1 2.9,1 1,-1 1,-1 v 1 1 h 1 l 1,1 v 1 1.9 l 3.9,1 v 1 0 l 1,1 1.9,1 1,1.9 1,1.9 6.8,4.8 h 1 l 1,-1 1.9,1 h 1 l 1,-1 1,-1 1.9,1 1,1.9 1.9,-1.9 -1,-1.9 1,-1 1,-1 v 0 h -1 -1.9 l -1,-1.9 v -1 l 1.9,-1 h 1.9 l 3.9,-1.9 1.9,-1.9 -1,-3.9 -1.9,-1 v -1.9 -1 h -3.9 -1.9 l -2.9,-3.9 -1.9,-2.9 -1.9,1 H 203 v -1 -1.9 h -2 l -1,-1 -1,-1 v -1 l -1,-1 -1,-1 h -1 v 0 -1 h -1.9 l -2.9,1 v -1.9 l -1,-1 -1,-1 -1,-1 -1,-1 h -1 v -1 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b;stroke-width:1.42859995" />
									<path
									id="vectormap1_KR"
									class="path st1"
									d="m 204.9,157.9 -3.9,-4.9 -2.9,6.8 -3.9,4.8 h -1 -1.9 l -2.9,1.9 h -1 v 1 l -1,1 -2.9,1 -1,2.9 1,1 v 0 l -1,1 -2.9,2.9 -1,3.9 -2.9,1 H 173 l -1,6.8 -1,7.7 -12.6,1.9 -13.5,1 v 1.9 l 1.9,2.9 v -1 l 1,1 h 1 2.9 2.9 l 1,-1 v 0 l 1,9.7 -2.9,10.6 h 1.9 1.9 1.9 l 1,1 h 1.9 l -1,-1.9 v -1 h 1 v 0 l 1.9,1.9 1.9,1.9 h 1.9 l 1,1 1,3.9 v 0 l 1,1 1,-2.9 -1,-4.8 1,-4.8 v 1 h 1 l 1,-1.9 1,-1.9 v 2.9 h 1 l 1,-2.9 1,-1.9 v 1 1 1 0 l 1,-1.9 1,-1 -1,2.9 -1.9,3.9 h 1 v 0 l 1,-1.9 v 1 l 1.9,1 1.9,-3.9 v -1 h -1 v 1 -1 -1 l -1,1 v 0 l 1,-2.9 1,-2.9 1,8.7 -4.8,6.8 -1,2.9 -1,3.9 h 1 1 l 1.9,1.9 2.9,2.9 1,-1 1,-1 h 1 v 1 l 1.9,-2.9 1,-2.9 v 0 -1 l 1.9,-1.9 1.9,-1.9 -1.9,-2.9 -1,-3.9 1.9,-1.9 1,-1.9 1,-2.9 1,-2.9 1,1 1,1 1.9,-1 1.9,-1.9 v -1.9 l 1,-1.9 v -1.9 -1 h -1 -1 v -2.9 -1.9 l 1,-1 v 0 l 3.9,-4.8 1,-1.9 1,-2.9 h 1 l 1,1 1.9,-1.9 1,-1 v 1 h 1 l 1,-5.8 -1.9,-5.8 h 1 1.9 l -1,-1.9 -1,-1.9 1,-1 h -1 l -1,-1 -2.9,1 -1,-2.9 1,-2.9 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b;stroke-width:1.42859995" />
									<path
									id="vectormap1_MUR"
									class="path st1"
									d="m 235.8,128.9 v 0.5 l -1.9,1.4 -2.9,-1.2 -2,-0.6 -1,0.8 -1.9,1.1 -1,-1.5 -1,-0.1 -1.9,-0.3 v 0.9 1.1 l -3.9,1.9 -2.9,3.9 v 1 1 l -1,4.8 -1,3.9 -2.9,1 h -3.9 l -5.6,4.5 3.9,4.8 2.9,4.8 v 2.9 l 1,2.9 2.9,-1 1,1 h 1 v 0 l 1,1 v -1.9 -1.9 l 1,-1.9 v -1 -1 -1.9 l 1.9,3.9 v 1 h -1 v 1.9 2.9 h 1 1 l 1,4.8 v 0 h -1 v 1 l 1,1 h 1 v 1.9 2.9 l 1.9,2.9 2.9,3.9 2.9,4.8 1.9,3.9 9.7,2.9 5.8,-1 4.8,-1.9 1,-1 v -1.9 l 1.9,-1.9 1.9,-2.9 v 0 l -1,-1.9 v 0 l -1,-1 1,-2.9 1,-2.9 h -1 v 0 h -1 v -2.9 -2.9 0 l -1,-1 v 1 0 0 l -1,-6.8 v -6.8 -2.9 -1 0 l -1,-1.9 h -1 v 0 l 1,-1 -1,-1 v -1 h -1 -1 l -1,-2.9 -1,-1.9 -1.9,-1 -1.9,1 -1,-1 v 0 0 l 1.9,-1 1.9,-1.9 -1.9,-1 h -1 v 0 h 1 l 1,-1 -1,-1 -1.9,-1 v 0 h 1 l 1,-1 -1,-1 v -1 l 1.9,1.9 2.9,1 -1,-2.9 -1,-3.9 v 1 h -1 v 0 0 h -1 -1 v 1 l -1,-1 v 0 0 0 -1 l -1,-1.9 v -1 l -1,1 v 1 h -1.9 l -0.6,-2.6 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b;stroke-width:1.42859995" />
									<path
									id="vectormap1_SA"
									class="path st1"
									d="m 599,206.2 h -1 -1 v 1 1.9 h -1 v 0 l 1,1.9 2.9,1.9 1.9,-1 1,-1.9 z m 100.5,-12.6 -1.9,-2.9 -2.9,-1 1.9,1.9 z m -9.7,-22.2 v -3.9 l -1,-1 -1.9,1 1.9,2.9 v 1.9 z m 24.2,9.7 1,3.9 1,1 h 1.9 v -4 z m 16.4,11.6 1.9,-3.9 v -1 l -1,-1 -4.8,-2.9 h -4.8 l -1.9,2.9 v 3.9 l -1,1.9 -1,1 -1,1 h 1.9 l 1.9,-1 1.9,-1 h 2.9 l 4.8,-1 v 1.1 z m -6.8,-36.8 1,-1 -4.8,-1 -3.9,-1 -1,1 -1.9,1 -3.9,-1.9 -2.9,-1 v 1 l 1,1 v 0 h -1 v 0 l -1,1 v 1 l 1,1.9 v 1 l 1,1 v 0 l -2.9,-1 -2.9,-1 -1.9,-1 h -1 l -1,-1 v -1 l -1,1 -1,1.9 -1,1.9 -1,1 -1,1 1,1 v 1 1.9 l -1,1.9 h 1 l 1,1 v 1.9 l 1,1.9 1.9,1.9 2.9,1 1,1.9 1,1 h 3.9 1 v -2.9 -2.9 l 1,1 1,1 1,-1 1,-1 3.9,-2.9 h 1 1.9 1 v 0 l 1,-1 1,-1 1,-1 -1.9,-1 h -1.9 l -3.9,-2.9 -1.9,-3.9 2.9,-2.9 v 0 1 l 5.8,7.7 2.9,-3.9 -1,-3.9 c -0.3,0.3 0.6,-0.7 0.6,-0.7 z m 23.2,-5.8 v 0 l -1,1 -2.9,-1 -2.9,1 v 1 l -1,1 -1.9,-1 v -1 h -2.9 l -1.9,1 v 1.9 l -1,1 -1.9,-1.9 v -1 l -1,1.9 1,3.9 3.9,1 4.8,1 5.8,-1.9 3.9,-3.9 v -1.9 c 0,-0.1 -1,-2.1 -1,-2.1 z m 63.8,34.8 -15.5,9.7 -4.8,5.8 -3.9,1.9 -3.9,-1.9 -3.9,-1.9 h -1.9 -1 -1.9 l -3.9,-1 v 1 l -1,1 H 767 l -1,-1 1,-1.9 1.9,-1 -1.9,-1.9 -2.9,-1.9 -3.9,1 -2.9,1 -3.9,7.7 -3.9,6.8 h -1 v -1.9 0 l -1,-1 1.9,-1 1,-1 -1,-1 v -1.9 l 1.9,-1 1,-1.9 -1.9,1 -4.8,2.9 -1,1 -1,1 -1,-1.9 2.9,-2.9 h 1 l 2.9,-1.9 2.9,-1 v 0 l -10.6,1 -10.6,3.9 h -4.8 l -1.9,1 1,1 1.9,1 -1,2.9 -2.9,1 -1.9,4.8 1,1 1.9,-1 v 1 1 l 1,1 1,1.9 v 1.9 l 1.9,1 v 1.9 h -1.9 v 1 1 l -1,-1 -1,-1 h -1 l -1,1 h -1 -1 v 0 2.9 2.9 l -3.9,-1.9 -6.8,-1 -2.9,3.9 -3.9,2.9 -3.9,-1 -2.9,-1.9 -1,-1.9 1.9,-1 v 0 l -1.9,-1 -1,8.7 -1,10.6 -1,1 -1,-1 -1,-1 v 0 1 h -1 -1 l -1,-1 v -1 h -1 -1.1 l -1.9,-2.9 -1.9,-2.9 h -1 l -1,-1 1,-1 1,-1 -1,-1.9 -1.9,-1 v 0 l 1,1 v 1 l -1,1 -1.9,-1.9 -1,-1.9 -4.8,-2.9 -1.9,-1 h 1 1.9 l 1.9,1.9 1.9,1.9 h 2.9 l 1.9,-1.9 -1,-2.9 -1.9,-1.9 v -1.9 -1.9 l -1,-1.9 v -1 l -1.9,-1.9 h -1 -1 l -5.8,-4.8 -1.9,1 -1.9,1 h -1 -1.9 -1.9 l -2.9,-1.9 -3.9,-1 v 1 l -1,1 -1.9,4.8 1,3.9 v 3.9 l -1.9,-1 h -2.9 v 0 1 h -1 -1 l -1.9,1 -1,1 -2.9,-1 -1.9,-1 h -2.9 -2.9 l -1.9,-1 v -1.9 l 1.9,-1.9 -1,-1 h -1 -1.9 -1.9 -2.9 l -1.9,-1 -1,1 h -1 l -1.9,-1 h -1.9 l -1,1 -1,1 -1.9,1 -2.9,1 v 1.9 1 l -1.9,-1.9 1,-1.9 -1,-2.9 -1.9,-1.9 v 1 1.9 l -1,1 h -2.9 l -2.9,-1.9 -1,1 -1,2.9 -1.9,1.9 1,1 h 1 v 1 1 1 l 1,1 -1,3.9 1,3.9 1,1 v 1 1.9 l 1,1 1.9,1 1.9,1.9 1,3.9 v 3.9 l 1.9,3.9 1,2.9 v 1 l -3.9,2.9 -3.9,2.9 -1,2.9 v 1.9 l -1,1 -1.9,1 v 3.9 l -1.9,2.9 h -1.9 l -2.9,-1 -2.9,1 -1.9,1.9 h -1.9 l -1.9,-1 v 1 h -1 l -1,1.9 v 1 l 1,3.9 1.9,2.9 v 6.8 6.8 l -1,10.6 -2.9,1.9 -1.9,1.9 1,1 1,1 v 3.9 2.9 l 1,1.9 v 1.9 2.9 l 1,1.9 1.9,1.9 1.9,1.9 -1,1.9 -1,1 -1.9,2.9 v 2.9 l -1.9,2.9 1.9,3.9 h 1 1 l 1,1 1,1 3.9,1 h 3.9 2.9 l 1,1.9 1,2.9 -1,1 -1.9,2.9 2.9,1.9 3.9,1.9 1,6.8 v 4.8 l 1.9,1.9 1,2.9 -1,2.9 -1.9,1 1,4.8 2.9,2.9 -1.9,4.8 -1.9,5.8 v 1.9 1 1 l -1,1 -1,4.8 1,3.9 h 1 1 l 4.8,-1 1,-1.9 2.9,1 h 1 v -1 h 1 l 1,1 1,-1 v 0 h 1 1.9 l 1,-1 1.9,-1.9 v 1 l 1.9,1.9 1,1 -1,2.9 4.8,-4.8 3.9,-5.8 h 1 1 l 1,-1.9 1,-2.9 1.9,-1 h 1.9 l 2.9,-2.9 h 3.9 l 2.9,1 1.9,1.9 1.9,1 v 1.9 l 1,1 v 1 1 h 4.8 l 4.8,1 1,1 v 1.9 l 1,1.9 v 1 1.9 l 1,1.9 1,1 v 1 l 1,1.9 v 3.9 1.9 l 1.9,3.9 v 0 l 1,-1 h 1 l 1,3.9 2.9,3.9 3.9,-1.9 3.9,-1 1.9,1 1.9,1 1.9,1 h 2.9 1 l 1.9,1 1,1 h 5.8 l 4.8,1 1.9,1.9 1.9,1.9 4.8,1 2.9,-1 h 2.9 l 1.9,1 h 1.9 l 2.9,-1.9 1.9,-1 h 1.9 l 1,1 1,-1 v -1.9 h 1 1.9 1 l 1,-1 1.9,1 2.9,1 1,-1 v -1 l 1.9,-1.9 1.9,-1 v -1 l 1,-1 h 2.9 l 1.9,-1.9 1,-4.8 v -3.9 l 1.9,-1 1,-1 v -1.9 l -1,-1.9 -1.9,-1 -1,-1 h -1 -1 l 1,-1.9 1.9,-1 v -1.9 -1 l 1,-1 1,-1 -2.9,-1.9 -1.9,-2.9 h 1 1.9 l -1,-3.9 1,-2.9 1,-5.8 1,-1.9 1.9,-1.9 h 1 1 l 4.8,-1.9 4.8,-1.9 1,-1 v -1 -1 l 1,-1.9 h 1 l 1,1 h 1 l 1.9,-1 v 0 l 4.8,-2.9 1,-3.9 v -1 l 1,-1 1.9,1.9 1,-1 -1,-2.9 -1,-1.9 -1.9,-3.9 -1,-4.8 -1.9,-2.9 1,-3.9 v -1 l 1,-1 v -1 l 1,-1 v -1 -1 l 1.9,-1 1,-1 v -5.8 l 1,-5.8 h 3.9 l 4.8,1.9 h 1.9 l 1,-1 1,1 1,1 1.9,-2.9 1.9,-1.9 h 1.9 v 1 l 1,-1 1,-1 1,1 1.9,1.9 1,-2.9 v -2.9 -3.9 l 1,-1.9 v -1.9 l -1,-1 1,-1.9 v -1 l -1.9,-1.9 -2.9,-1.9 -1,-8.7 1,-3.9 1,-2.9 v 0 h 1.9 l 1.9,-1 1,-1 1,-1 1,1 1,-1 1,-2.9 -1.9,-2.9 1.9,-1 h 1.9 l 1.9,-1.9 1,-1.9 3.9,1.9 2.9,1 1,-1.9 v -1 l 1.9,-1 1,-1 1,-1.9 1.9,-2.9 h 1 v -1 -1 h -1 v -1 l 1,-1.9 -1,-1 -2.9,-1.9 V 267 l 1.9,-2.9 -1.9,-1 v -2.9 l 1,-1.9 1,-1.9 -1,-1.9 v -1.9 h 1 1 1 v -1 -1 l 3.9,-1 2.9,-1 1,-1 1,-1 1.9,1 h 1 l 1,-1.9 1,-2.9 1.9,-1 v -1.8 0 l -1.9,-2.9 -1.9,-3.9 1,-1 v -1 l -5.8,-1.9 -5.8,-3.9 v -1.9 l 1,-1.9 -1,-1 -1,-1 4.8,-6.8 6.8,-7.7 1,-1 1.9,-1 -1,-1.9 -1.9,-2.9 v -1 -1 l -1.9,-1 h -1 l -1,-1.9 v 0 l -1,-1 h -1 l -1,-1 -1,-1.9 v 0 l -1,1.9 v 1 1 h -1 v -1 h -1 v 2.9 1.9 l -1,-1.9 -1.9,-1.9 -2.9,1 h -3.9 l -1,-2.9 -1.9,-3.9 z m -94.7,40.6 1.9,1 1.9,-1 v -1 l -1,-1 -1.9,1 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b;stroke-width:1.42859995" />
									<path
									id="vectormap1_KHA"
									class="path st1"
									d="m 806.7,336.6 -1.9,-1.9 -1,-1 -1,1 -1,1 -1,-1 H 799 l -1,1.9 -1.9,2.9 -1,-1 -1,-1 -1,1 h -1.9 l -4.8,-1.9 h -3.9 l -1,5.8 v 5.8 l -1,1 -1.9,1 v 1 1 l -1,1 -1,1 v 1 1 l -1,3.9 1.9,2.9 1,4.8 1,3.9 1.9,1.9 1,2.9 -1,1 -1.9,-1.9 -1,1 -1,1 -1,3.9 -3.9,2.9 v 0 l -1.9,1 h -1 l -1.9,-1 v 0 l -1,1 v 1.9 1 l -1,1 -4.8,1.9 -4.8,1.9 h -1 -1 l -1.9,1.9 -1,1.9 -1,5.8 -1,2.9 1,3.9 h -1.9 -1 l 1.9,2.9 2.9,1.9 -1,1 -1,1 v 1 1.9 l -1.9,1 -1,1.9 h 1 1 l 1,1 1.9,1 1,1.9 v 1.9 l -1,1 h -1.9 v 4.8 l -1,4.8 3.9,1 2.9,-1.9 1,1 h 1 l 1.9,-1 1,-1 1.9,1 1,1 h 1 1 l -1,2.9 -1.9,1.9 v 1 1 l -1.9,1.9 -1.9,1.9 -1,1 -1,1 v 2.9 2.9 l -2.9,1.9 v 3.9 l 2.9,1 h 3.9 l 1.9,1.9 1.9,2.9 h 1 1 1 1 v 0 l 1,-1 1.9,-1 3.9,-1.9 1.9,-1.9 1,-1.9 h 1.9 l 2.9,-1 1,-1 h 1 v -1 l 2.9,1 1,3.9 v 3.9 l 1,1.9 v 1.9 l -1,1 h -3.9 l -4.8,1 v 0 l 1,1.9 v 3.9 l -1.9,1 -1.9,1 -1,1 -1,1.9 v 1 1 l -2.9,1.9 -2.9,1.9 1,1.9 v 1 l -1,1.9 -1,2.9 v 2.9 2.9 l 1,-1 v 0 l 1,1 v 1 h 1 l 1,-1 1,1 v 1 h 1 l 1.9,1 v 3.9 2.9 l 1,2.9 v 2.9 l 3.9,-1.9 v 0 h 1 v 0 l 1,-1 1,-1.9 h 1.9 l 1.9,1 1.9,-1 h 1.9 v 0 l 1,1 1.9,2.9 h 1.9 l 1.9,1 h 1.9 1 l 1,-1.9 h 1.9 1.9 1 l 1.9,-1 1,1.9 v 0 l 1,1.9 -2.9,1.9 -1,1.9 1,1.9 1,1 1.9,1.9 -1.9,2.9 -1,1 v 4.8 l 1,4.8 1.9,-1.9 v -1.9 l 1,-2.9 1.9,-2.9 h 1 l 1,1 1,-1 1,1 v 1 1 l 1,-1 1,-1 1,1 1,1 4.8,-1.9 3.9,-2.9 v -1.9 -2.9 l 3.9,-1.9 1.9,-5.8 h -1.9 -1.9 l -1,-1 v -1 l -1,-1 -1,-1 v -1 h 1 v 0 h 1 l 1.9,-2.9 3.9,-1.9 v 0 1 l 1.9,1.9 1.9,1.9 -1,1.9 v 1.9 l 1.9,1 h 2.9 l 1.9,-8.7 1.9,-6.8 v -1 l -1,-1.9 v -1 -1.7 -1 l -1,-1 v -2.9 l -1,-2.9 -1,-1.9 -1,-1.9 v -1.9 -1 0 0 L 839.7,468 v -1 -1 l 1,-4.8 -1,-3.9 1,-1.9 -1,-1 -1,1 -1.9,-2.9 v -2.9 h -1 l -1,-1 -3.9,-1.9 v 0 h 1 1.9 l 1,-1.9 -1,-1.9 h -1.9 l -1.9,-1 v 0 l -1,-1 h -3 l -2.9,-1.9 v -1 l -1.9,-1 v 0 h -1 l -1,-1 h -1.9 l -1,1 -1,1 -2.9,1 h -1.9 v 0 h 1 l 1,1.9 v 3.9 3.9 l -1,-1.9 v -2.9 -1 0 l -1.9,3.9 -4.8,4.8 v -2.9 l 1.9,-3.9 h -1 l -1,1 h -1 l -1.9,-1 1,-1 1,-1 v -1 l -2.9,2.9 1,1 v 1.9 1 h -1 -1 v 1 0 l -1.9,-4.8 -2.9,-4.8 -6.8,2.9 -4.8,-1.9 1.9,-2.9 1,-1.9 1.9,-2.9 1,-2.9 1,-1.9 1,-1 2.9,-4.8 1,-5.8 1,-1 1,-1 v -1 l -1,-1 1,-1.9 v -2.9 l 1,-1 1.9,-4.8 1.9,-3.9 1,-1.9 v -1.9 l 1,-1 1,-1.9 v -1.9 -2.9 l 1,-3.9 1.9,-1.9 1,-7.7 4.8,-6.8 h 1 l 1,-1 1,-1 1,-1 4.8,-1.9 4.8,-2.9 h 1 l 1,-1 h 1 v 1.9 l 1.9,1 1,-1.9 -1,-2.9 h 1.9 1.9 v -1.9 -1 l -2.9,-2.9 -3.9,-1.9 h -3.9 l -2.9,-1 v -3.9 l 2.9,-1 -1,-1.9 v -1 -1 l 1,-1 -2.9,-4.8 -5.8,-3.9 -3.9,1 -4.8,1 v 2.9 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b;stroke-width:1.42859995" />
									<path
									id="vectormap1_MAG"
									class="path st1"
									d="m 859.8,243.8 v 0 h -1 l -1.9,1 h -1 -1.9 l -1,-3.9 v 0 l -1.9,-1 h -2.9 v 0 1.9 l -1.9,1 -1,2.9 -1,1.9 h -1 l -1.9,-1 -1,1 -1,1 -2.9,1 -3.9,1 v 1 1 h -1 -1 -1 v 1.9 l 1,1.9 -1,1.9 -1,1.9 v 2.9 l 1.9,1 -1.9,2.9 v 4.8 l 1.9,1.9 1.9,1 -1,1.9 v 1 h 1 v 1 1 h -1.9 l -1,2.9 -1,1.9 -1,1 -1.9,1 v 1 l -1,1.9 -2.9,-1 -3.9,-1.9 -1,1.9 -1.9,1.9 H 813 l -1.9,1 1.9,2.9 -1,2.9 -1,1 -1,-1 -1,1 -1,1 -1.9,1 h -1.9 v 0 l -1,2.9 -1,3.9 1,8.7 1.9,1.9 2.9,1.9 v 1 l -1,1.9 1,1 v 1.9 l -1,1.9 v 3.9 l 4.8,-1 3.9,-1 5.8,3.9 2.9,5.8 h -1 v 1 1.9 l 1,1 -2.9,1 v 4.8 h 2.9 3.9 l 3.9,1.9 2.9,2.9 v 1.9 1 l 2.9,-1 h 1 v 0 l 1.9,-1.9 1.9,-1.9 h 1.9 l 2.9,-1 v 0 l -1,-1 h -1 v 0 -1.9 h 1 v -1 -2.9 l 2.9,-1 2.9,-1 h 2.9 1 v 0 h -1 v 1 h 1 1 v -1.9 l 2.9,-1.9 1.9,1 1.9,1 1.9,-1 h 1 v 1 h -1 l -1.9,1.9 -1.9,1 1,2.9 h 1 l 1.9,-1 1.9,-2.9 1,-1 h 1.9 l 1.9,-1 v 0 -1 -1.9 l 1,-1.9 v 0 l 2.9,-1 h 1.9 l 1,-1 v -1.9 h 1.9 1 l -1,-1 h 1 l 1,-1 v 0 l -1,-1.9 -1.9,-1 -1.9,1 -1,1 v 1 l -1,1 h -1 v -1 -1 -1.9 h -1 l -1,-1 v -1 l 1,-1 h -1 v -1 -1 -1 -1 -1.9 l 1.9,-3.9 1,-4.8 -1,-1 v -1 -2.9 l 1,-1.9 v 0 l -1,-1.9 -1,-1.9 1.9,-3.9 1,-2.9 h 1.9 l 1,-1 3.9,-5.8 h 2.9 l 1.9,1 1,-2.9 v -1.9 l 1.9,1.9 1,1.9 v 1.9 1.9 l 1,1 1,1 v 1 l 1,1 1,-1 1,-1 1,1.9 1,2.9 1.9,-9.7 1.9,-10.6 h -1 l -1,-1.9 -1,-1 v -1 -1.9 h -1 l -1,-1 v -1 -2.9 l -3.9,-1.9 -2.9,-1.9 v -1.9 -1 l -1,-1.9 v -1.9 l -2.9,-2.9 -1.9,-2.9 v -1.9 -1.9 l -1.1,-3.7 -1.9,-1 -1.9,1 -1.9,2.9 h -1 v 0 h -1 v 0 h -2.9 l -3.9,-1 -2.9,1.9 h -2.9 l -1.9,-1 h -1 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b;stroke-width:1.42859995" />
									<path
									id="vectormap1_CHU"
									class="path st1"
									d="m 857.9,165.6 h -1 l -1,2.9 3.9,1.9 1.9,-1 1.9,-1.9 -1,-1 -1,-1.9 v 0 h -1.9 z m 27.1,-61.3 -2.9,1.9 v 0.8 0.6 l -1,0.6 -1,0.8 -1,4.2 1,4.3 1,2.2 1.9,1.2 1,0.5 v 0 l 1.9,-5.3 2.9,-1.5 1,-1 v -1.2 l 1.9,-4.2 -1,-4.2 -1.9,0.3 z m 65.7,20.1 -1,1.5 -1,1.1 -1,1 1,0.2 1,-0.7 1.9,0.5 1.9,0.8 v 0.2 1 1 h 1.9 l 1.9,1 h -1 -1 v 1 1 h -1 l -1,-1 -1,1 h -1 -1.9 v -1.9 l -1.9,-1 -3.9,-2.8 -1,-0.2 h -1 v -0.1 0.9 1.3 l -1,-0.3 v -0.4 l -1,-1.3 -1.9,-1 -1.9,0.6 -1,1 2.9,0.5 -1,0.9 -1.9,1.9 -1,-1.9 -1,-1.1 -1,0.9 -1.9,1.2 -1,-1 -1,-0.2 -2.9,1.2 -2.9,1.9 -1,-1 h -1 l -1.9,1 -1.9,1 -1,-1 -1.9,-1 -2.9,1 -2.9,1.9 h -2.9 -1.9 l -1,1 -1.9,1 v 0 -1 h 1 v -1 h -1 l -1.9,1 -1,1 -1.9,1 h -1.9 l -1,1 -2.9,1 -2.9,1 h -1 v 1 1 l -1,-1 h -1 v 0 l -3.9,4.8 -1,1 -1.9,1.9 v 0 h -1 -1 l 1,1 v 1 h -1.9 l -1.9,1 v 0 l -1,1 -1.9,1 -2.9,1.9 -2.9,1 1,1 1,1 1,1.9 v 1.9 1 h 1.9 l 1,-1 4.8,2.9 1,4.8 -1,1.9 v 1.9 h -2.9 l -1.9,-1.9 -2.9,1 -2.9,1 -1.9,-1.9 -4.8,-1.9 -1,1 v 1.9 2.9 l -1.9,1.9 h -1.9 l -1.9,1 -1,1 -1.9,1.9 -2.9,1 -1.9,-1 v 1 0 l -1,1 -1,1 h -1 l -1,1.9 v 1 l -1,1 -1,1 v 0 l 1,1.9 1,1 h 1 l 1,1 v 0 l 1,1.9 h 1 l 1.9,1 v 1 1 l 1.9,2.9 1,1.9 -1.9,1 -1,1 -6.8,7.7 -4.8,6.8 1,1 1,1 -1,1.9 v 1.9 l 5.8,3.9 5.8,1.9 v 1 l -1,1 1.9,3.9 1.9,2.9 h 2.9 l 1.9,1 v 0 l 1,3.9 h 1.9 1 l 1.9,-1 h 1 v 0 h 1.9 l 1.9,1 h 1 3.9 l 2.9,-1.9 2.9,1 h 2.9 1 v 0 0 0 0 h 1 v 0 l 1.9,-1.9 2.9,-1.9 -1,-1.9 1.9,-1.9 1,-1 1.9,-1 h 1 1 1 v -1 l 3.9,-1.9 h 1 l 1.9,-1 1.9,-1.9 1,-1 v 0 l 1.9,-1 h 1.9 l 1,1 v 0 l 2.9,-1 2.9,-1 h 1.9 l 1,1 h 1.9 2.9 l 1,4.8 1,5.8 3.9,-1 h 3.9 l 3.9,1 2.9,1 h 1 l 1,-1 h 1 l 1,-1 v -1.9 -1 h 1 l 1.9,-1.9 9.7,-10.6 1,1 1.9,1 1.9,-1 h 1.9 v 1 l 1,1 1,-2.9 v -3.9 l 1.9,-5.8 1.9,-5.8 v 0 h -1 -1 v -1 l -1,-1 v 0 h 1 v 0 -1 l 1.9,1.9 v 0 l 4.8,-2.9 4.8,-2.9 -1,-1 v -1 -2.9 l -2.9,-1 -2.9,-1 v -1.9 l -2.9,1 -2.9,-1 -4.8,-2.9 -5.8,-2.9 -1,2.9 -3.9,1 -1.9,-1.9 -1,-1 -1,2.9 v 1 h -1 -1 v 1 1 l -1,-1 1,-1 h -1 -1 -1.9 v 1 l 1,1.9 -1.9,1 -1,1 1,-1.9 1,-1 v -1 l -1,-1.9 h 1 l 5.8,-2.9 -1,-1 v -1 h 1.9 1.9 l 3.9,-2.9 1.9,-5.8 -1,-5.8 -1.9,-5.8 h -2.9 l -3.9,-1 -1,-2.9 1,-1.9 h -1 l -1,-1 1.9,-1 1,1 v -3.1 -1.9 l 1.9,2.9 1,2.9 h 1.9 l 1,-1 h 1 l 1.9,3.9 1,-1 1,-1 1.9,-4.8 1.9,-2.9 1.9,-1 2.9,-1 2.9,1.9 1.9,1 3.9,-1 2.9,-1.9 1,-1 1,-1 2.9,1 2.9,-1 v -1 -1 l -1,-1 v -1 l 1.9,1.9 1,1 1,-1.9 -1.9,-1.9 v 0 h 1 l 1,-1 v -1 h -1.9 l -1.9,1 -1,-1 -1,-1 v 1 h -1 l 1,-1.9 v -3.9 l -1,-1 -1,-1 -1.9,-1 h -1 -1 -1.4 -1 l 1.9,-1 1.9,-1 1.9,-1.6 1,-2.1 V 125 l -1.9,0.3 -1.9,-0.7 1.9,-0.7 2.9,-1.7 -1.9,-1.3 -1,-1 v -3.2 -2.3 l -1,0.3 -1,0.8 -1,0.2 -1,0.1 -2.9,0.8 -1.9,0.7 -4.8,0.1 h -2.9 l -1.9,2.4 -1,2.4 -1,0.8 v -0.1 0.3 l 1,0.8 v 0.8 l -1.9,-0.6 -1,-1 c 0.1,0.4 -0.8,1.2 -0.8,1.2 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b;stroke-width:1.42859995" />
									<path
									id="vectormap1_KAM"
									class="path st1"
									d="m 968.1,323.8 2.6,-0.9 2.3,1.4 5,-0.6 -1.7,-1.7 -2.1,0.7 -3.3,-1.1 0.4,-1.4 -2.7,1.9 z m 12.9,-5.2 2.5,0.1 0.9,-0.6 2.6,-0.2 -0.2,-0.5 -6,0.6 z m -44.8,-25.5 h -1.9 v 1 1.9 3.9 3.9 1 h 1 v -1 -1.9 l 1,-1.9 v -1 -1 l 1,-1 1,-1.9 z m 3.8,-60.8 -1,1 v 1 1.9 h -1 -1 l -1,1 -1,1 -2.9,-1 -3.9,-1 h -3.9 l -3.9,1 -1,-5.8 -1,-4.8 h -2.9 -1.9 l -1,-1 H 911 l -2.9,1 -2.9,1 v -1 h -1 -1.9 l -1.9,1 v 0 l -1,1 -1.9,1.9 -1.9,1 h -1 l -3.9,1 v 1 l -1,1 h -1 -1 l -1.9,1 -1,1 -1.9,1 1,2.9 1,1 1.9,3.9 v 1.9 1.9 l 1.9,2.9 2.9,2.9 v 1.9 l 1,1.9 v 1 l 1,1.9 1.9,1.9 3.9,1.9 1,2.9 -1,1 1,1 h 1 v 1.9 1 l 1,1 1,1.9 h 1 l 1,-1 v -1 l 1,1 h 1.9 v -2.9 h -2.9 l -1.9,-3.9 v -1.9 l -1,-1 -1,-2.9 2.9,-1.9 1,-2.9 h 2.9 1 1 l -1.9,1.9 -1,3.9 1.9,2.9 1.9,2.9 v 1.9 l 1,1.9 h 1 1 l 1,2.9 v 1.9 l 1,1 1,1 -1,1.9 -1.9,1.9 v 0 0 1.9 1 l -1,1 -1,1.9 v 2.9 l 1,1 -1,5.8 v 4.8 l -1,1 v 1 l -1,3.9 v 3.9 l 1,1 1,1 v 1 l -1,1 v 2.9 2.9 l -1,3.9 -1,3.9 -1,1.9 -1,1 v 1 1.9 l -1.9,1 -1.9,1 1.9,1 1.9,2.9 v 5.8 l -1,4.8 1.9,5.8 2.9,5.8 13.5,18.4 17.4,17.4 2.9,4.8 3.9,3.9 2.9,1.9 v 0 l 1,-4.8 v -4.8 l 1,-1 1,-2.9 -1,-8.7 -1.9,-1.9 h -1 v -1 -1 l -1,-1.9 h -1 l -1,-1 1,-1 1.9,1 v 0 l 2.9,-6.8 1.9,-1 h 1 v -1 l -4.8,-3.9 -1.9,-5.8 v -4.8 l 2.9,-4.8 h 1 l 1,1 1.9,-3.9 v -2.9 l -2.9,-1.9 -2.9,-1.9 -2.9,-6.8 1,-6.8 v -1 l -1,-1 1,-1.9 1,1 v 2.9 h 1.9 l 1,-2.9 -4.8,-3.9 v -1 l -1,1 -1,1 -2.9,-2.9 -1.9,-2.9 v -2.9 l -1,-2.9 h -1.9 -1.9 -1 l -1,1 1,1 -1.9,1 -1.9,-1 -2.9,-8.7 v -4.8 -1 l -1,-1 v 0 h 1 v -1 0 h -1 v -1 -1 -1 l -1,-1 h -1 l -1,-4.8 1.9,-3.9 1,-1 -1,-1 h 2.9 l 1.9,1 1,-2.9 -1.9,-1 v -1 l 1.9,-3.9 1,-3.9 1,1 3.9,5.8 v -2.9 -3.9 l 1,-4.8 2.9,-5.8 3.9,-1.9 4.8,-1.9 3.9,1.9 h 2.9 l -1,-2.9 -1.9,-2.9 1,-1.9 1,-2.9 v -1.9 -1.9 -1 l 1,-1 -1,-1.9 h -1 l 1,-1 h 1 l -1,-1 -1,-1 h 1 l 1,-2.9 -1,-1 h -1 l 1,-1 1,-1 v -2.9 h -1 v -1 -1 h 1 l 1,-1.9 v -1.9 l 1,-1 -1,-1 v -1 h -1.9 l -1.9,1 -1.9,-1.9 -1,-1 -9.7,11.6 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b;stroke-width:1.42859995" />
									<path
									id="vectormap1_SAK"
									class="path st1"
									d="m 919.7,524 v 0 l -1.9,1 h -1 -1 v 1 1 l -1,3.9 -1,3.9 1,1 h 1 v -3.9 l 1,-3.9 1.9,-1.9 1,-1 z m 5.8,6.8 v -1.9 l -1,1 -1,1 h 2 z m 6.8,-26.1 -1,-1.9 h -1 l -1,2.9 -1,1.9 h -1.9 -1.9 v 1 l 1,1 -1,1.9 -1,1.9 v 1.9 l -1,1.9 v 1 1 l -1,1.9 1,1 1,-4.8 1,-1 1,-1 v -1 -1 l 1.9,-1.9 1,-2.9 1.9,-1.9 z m 6.8,-16.5 v 0 l -1,1 -1.9,4.8 v 1 l -1,1 1.9,1 1.9,-6.8 v -2 z m 7.7,-14.4 -1,-2.9 v 2.9 l -1,1.9 v 1 0 z m 1,-13.6 v 1.9 l 1,-1 v -1 h -1 z m 0.9,-14.5 v 0 0 l -1,-1.9 1,1 z m -0.9,-11.5 1,1.9 v 1 l 1,-1 -1,-2.9 z m 3.8,-18.4 v -1.9 h -1 l -1,1.9 z m -2.9,5.8 -1.9,3.9 1,1 1.9,-1.9 1,-2.9 v -2.9 l -1,-1.9 -1,-1 -1,1 1,1.9 z m -80.2,48.3 -4.8,-5.8 -3.9,-4.8 -2.9,-3.9 v 1 h -1 v -1 -1 l -1.9,-1 -1.9,-1.9 -1,-4.8 -1.9,-5.8 v 0 -1 1 h -1 l -1.9,-1.9 -1,-1.9 h 1 l 1,1 v 1 h 1 l -3.9,-4.8 -2.9,-3.9 v -1 -1 l -2.9,-1.9 -1,-1 v 1 1 h -1 l -1,1 1.9,1 2.9,1.9 v 1 1 -1 h 1 v 1.9 h -1 v 1 0 l 1,1 -1,2.9 -1,-1 h -1 l -1.9,1 v 1.9 l 1,1.9 1,1 1.9,6.8 1.9,6.8 3.9,2.9 4.8,3.9 1,2.9 v 3.9 l 1.9,1.9 1,1.9 5.8,17.4 v 1 l 3.9,2.9 1.9,3.9 1,2.9 v 3.9 l 1.9,1.9 1,1.9 1.9,7.7 3.9,5.8 1,-1 v -1.9 l -1,-4.8 1,-3.9 1,1 v 0 l 2.9,-1 1.9,1 1.9,1 1,1.9 1,1 -1.9,-4.8 -1.9,-3.9 -1,1 -1.9,-1 -1.9,-1 -1.9,-1.9 -3.9,-2.9 -2.9,-4.8 -1,-5.8 v -4.8 l -1,-1.9 v -1.9 l 1,-1 1,-1.9 4.8,-1 4.8,1.9 1.9,1 1,1 -1.9,-1.9 -2.9,-1.9 -1.9,-1.9 -1,-1.9 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b;stroke-width:1.42859995" />
									<path
									id="vectormap1_PRI"
									class="path st1"
									d="m 845.4,517.2 h -2.9 l -1.9,-1 v -1.9 l 1,-1.9 -1,-1.9 -1.9,-1.9 -1,-1 v 0 l -2.9,1.9 -2.9,2.9 v 0 h -1 -1 v 1 l 1,1 1,1 v 1 l 1,1 h 1.9 1.9 l -1.9,5.8 -3.9,1.9 v 1.9 1.9 l -3.9,2.9 -4.8,1.9 -1,-1 -1,-1 -1,1 -1,1 v -1 -1 l -1,-1 -1,1 -1,-1 h -1 l -1.9,2.9 -1,2.9 v 1.9 l -1.9,1.9 v 4.8 5.8 l -1,1.9 1,1.9 -1,1 -1,1.9 1,2.9 -1.9,1.9 H 799 l -2.9,1 -1,3.9 -1.9,1 -1,1 1,1.9 1,1.9 2.9,5.8 1,5.8 1,1 v 1 l -1,6.8 -2.9,1 -1,1.9 h 1 l 1,1 1,1.9 1,1.9 1,-1.9 v -1 l -1,-1 -1,-1 h 3.9 v 0 h 1 v -1 -1 l 1,-3.9 1.9,-2.9 -1,-1 1,-1 h 1 v 1 1.9 l 1,-1 1,-1 1,-1 v -1 l 1,2.9 v 1.9 h 1 v -1 h 1 l 1,1 1,-1 v 0 l 1.9,1 1,1 v 0 -1.9 l 1,1 v 0 l 1.9,-1 1.9,-1.9 5.8,-5.8 3.9,-6.8 1,-1 v -1.9 h 1 v -1 -2.9 l 1,-2.9 v -1.9 l 1.9,-1.9 1,-4.8 1.9,-5.8 1.9,-5.8 1.9,-4.8 1,-4.8 1,-5.8 v -1.9 -2.6 l 1,-3.9 v -2.9 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b;stroke-width:1.42859995" />
									<path
									id="vectormap1_AMU"
									class="path st1"
									d="m 763.2,442.8 1.9,-1.9 1,-2.9 h -1 -1 l -1,-1 -1.9,-1 -1,1 -1.9,1 h -1 l -1,-1 -2.9,1.9 -3.9,-1 -1.9,1.9 h -2.9 l -1,1 v 1 l -1.9,1 -1.9,1.9 v 1 l -1,1 -2.9,-1 -2.9,-1 v 1 h -1.9 -1 -1 l -1,1.9 v 1 l -1.9,-1 h -1 l -1.9,1 -2.9,1.9 h -2.9 l -1,-1 H 714 l -2.9,1 -4.8,-1 -1.9,-1.9 -1.9,-1.9 -4.8,-1 h -5.8 l -1,-1 -1.9,-1 h -1.9 -2.1 l -1.9,-1 -1.9,-1 -1.9,-1 -3.9,1 -3.9,1.9 v 3.9 0 h 1 l 1,1.9 v 1 l 1.9,1 2.9,1 -1.9,1 h -1 v 1.9 l 1.9,1.9 h 1 v -1 l 1.9,-1 2.9,-1 1.9,2.9 1,2.9 h 1 l 1.9,-1 1.9,4.8 -1.9,4.8 1,1 h 1 l 2.9,1.9 -1,1 -1,1 v 1 1 1 l -1,1.9 v 0 l 2.9,2.9 1.9,2.9 h 1 1 2.9 l 1.9,-1 1.9,-1 v 0 h 1 l 1,-1 1.9,1 1.9,1 v 0 l 1,-1 2.9,1.9 2.9,1 v -1 0 h 5.8 l 1,1 v 1 0 h 1 v 0 l 1,1 v 0 h 1 v 1 1 h 1 v 0 l 1.9,1.9 1,1 1,3.9 4.8,5.8 h 1 v 1 l 1,1 v 1.9 l 1.9,1.9 1.9,2.9 1,1 1,2.9 h 1 l 1,1 v 1.9 l 2.9,4.8 3.9,-1 3.9,-1 v 0 l 1,1 v 0 h 1 1 v 1 h 1 v 0 l 1,-1 1,1 v -1 h 1 v -1 l 3.9,2.9 6.8,1 h 1 l 1,-1.9 1,-2.9 1,-1 v 0 0 -2.9 l -1,-2.9 v -2.9 -3.9 l -1,-1 h -1.9 v -1 l -1,-1 -1,1 h -1 v -1 -1 h -1 l -1,1 v -2.9 -2.6 l 1,-2.9 1,-1.9 v -1 l -1,-1.9 2.9,-1.9 2.9,-1.9 1,-1 -1,-1 1,-1.9 1,-1 1.9,-1 1.9,-1 v -3.9 l -1,-1.9 v 0 l 4.8,-1 h 3.9 l 1,-1 V 468 l -1,-1.9 v -3.9 l -1,-2.9 -2.9,-1 v 0 h -1 l -1,1 -2.9,1 h -1.9 l -1,1.9 -1.9,1.9 -3.9,1.9 -1.9,1 -1,1 v 0 h -1 -1 -1 -1 l -1.9,-2.9 -1.9,-1.9 h -3.9 l -2.9,-1 v -3.9 l 2.9,-1.9 v -2.9 -2.9 l 1,-1 1,-1 1.9,-1.9 1.9,-1.9 v -1 -1 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b;stroke-width:1.42859995" />
									<path
									id="vectormap1_ZAB"
									class="path st1"
									d="m 658,426.4 -2.9,-1 -1.9,1.9 1.9,1.9 -1,1 h -1 v 1.9 1 h -1 v 1 l 1,6.8 h 1 1 v 2.9 2.9 h -1 l -1,-1 -1.9,1.9 -1,1 -1.9,-1 h -1 -1.9 -1 l -1.9,1 v 1.9 l -1,1 v 0 h 1 v 0 0 l 1,1 1,1 v 1.9 l -1,1 v 0 h 1 l 1,1.9 v 0 1 0 l 1,1.9 -1,1 v 0 l 1,2.9 2.9,1.9 4.8,3.9 v 7.7 h -1.9 l -2.9,1 h -1 l -1.9,1 -4.8,4.8 -5.8,4.8 -1,1 -1,1 1.9,3.9 1.9,5.8 -4.8,3.9 -5.8,1 -1,1 -1.9,1.9 -1,-1 h -1 l -1,1.9 -1,1.9 -1.9,1 -2.9,1 -1,1.9 -1.9,1.9 -1,1 -1.9,-1 h -2.9 l -2.9,1.9 -1.9,1.9 h -1 l -1.9,-1 h -3.9 l -1,1.9 1,2.9 v 0 1 l -1.9,1 -1.9,1.9 2.9,1.9 1.9,1.9 -1.9,1 h -1.9 l -1.9,2.9 v 3.9 l 1.9,1.9 3.9,3.9 6.8,1 6.8,1 h 1 l 1,-1 1,1 h 1.9 l 1.9,-1 2.9,-1.9 6.8,-1.9 6.8,-1.9 1.9,-3.9 6.8,-5.8 4.8,1 3.9,1.9 h 3.9 l 5.8,-1 4.8,2.9 6.8,1 1.9,-2.9 2.9,-2.9 2.9,-1.9 1.9,-1.9 v -1 -1 0 h -1 v -1 l 1.9,-7.7 1.9,-8.7 2.9,-3.9 1.9,-3.9 -1,-1 -1,-1 v -1.9 l -1,-1 -2.9,1 -1,-2.9 1,-1.9 2.9,-2.9 v -1 l 1,-1 3.9,-1.9 4.8,-2.9 -1.9,-2.9 -2.9,-2.9 v 0 l 1,-1.9 v -1 -1 -1 l 1,-1 1,-1 -2.9,-1.9 h -1 l -1,-1 1.9,-4.8 -1.9,-4.8 -1.9,1 h -1 l -1,-2.9 -1.9,-2.9 -2.9,1 -1.9,1 v 1 h -1 l -1.9,-1.9 v -1.9 h 1 l 1,-1 -1.9,-1 -1.9,-1 -1,-1 v -1.9 h -1 -1 l 1,-3.9 -2.9,-3.9 -1,-3.9 h -1 l -1,1 v 0 l -1.9,-3.9 v -1.9 -3.9 l -3.9,1 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b;stroke-width:1.42859995" />
									<path
									id="vectormap1_BU"
									class="path st1"
									d="m 626.1,452.5 h -1.9 l -1.9,-1.9 v -1.9 l -1,1 h -2.9 -1 -1.9 l -1,-1 -1,-1 -1,1.9 -2.9,1.9 h -1.9 -2.9 l -1,-1 h -1 v 0 -1 h -1 l -1.9,1 -1,1.9 h -1 l -1,-1 -1.9,1.9 -2.9,1.9 1,4.8 h 1.9 v 1 1 l 1.9,1 1,1.9 h -1 -1 v 1.9 l -1.9,7.7 1,7.7 2.9,-10.6 1.9,-3.9 2.9,-1 -1,12.6 -1.9,13.5 -1,1 -1,1 v -1 -1.9 l -1,-1 -1,1.9 -1,1.9 h 1 1.9 v 1.9 l -1,1.9 h -1 -1 l -1.9,2.9 -2.9,3.9 -11.6,4.8 -1,2.9 -1,2.9 -6.8,3.9 -3.9,1 -1,1 -2.9,2.9 h -3.9 l -1,1 h -1 v -1.7 -1.9 l -1,-1.9 -1.9,-1 v -1.9 l -1,-1.9 -6.8,-5.8 -1,1 h -1 l -1,-1.9 -1,-2.9 -4.8,-2.9 -3.9,-2.9 -1,-2.9 V 495 l -4.8,3.9 -3.9,2.9 -1,-1 v 0 h -1 v 1.9 2.9 l -1,1 v 1 1 l 1,1 v 1 1 l 1,1 1.9,1 6.8,3.9 5.8,2.9 h 1 l 1,1 3.9,1 2.9,1 v 5.8 l 5.8,6.8 8.7,1.9 7.7,-1.9 1.9,-1 h 1 l 3.9,1 3.9,1 h 1.9 1 l 2.9,1.9 1.9,1.9 h 1.9 l 1.9,1 v -3.9 l 1.9,-2.9 h 1.9 l 1.9,-1.9 -1.9,-1 -1.9,-1.9 1,-1.9 1.9,-1.9 v 0 0 l -1,-2.9 1,-1.9 h 3.9 l 2.9,1 v 0 l 1.9,-1.9 2.9,-1.9 h 2.9 l 1.9,1 1,-1 1.9,-1.9 1.9,-1.9 1.9,-1 1.9,-1 1,-2.9 1,-1 h 1 l 1.9,1 1,-1.9 1.9,-1 4.8,-1 4.8,-3.9 -1.9,-5.8 -1.9,-3.9 1.9,-1 v -1 l 5.8,-4.8 4.8,-4.8 1.9,-1 1.9,-1 h 1.9 l 1.9,-1 v -6.8 l -4.8,-3.9 -2.9,-1.9 v -2.9 -1 0 0 l -1,-1.9 v 0 -1 0 l -1,-1.9 v -1 0 -1.9 l -1,-1 -1,-1 v 0 0 h -1 v 0 l 1.9,-1 -1,-1.9 1.9,-1.9 h 1 l 1,-1 -4.8,-1 -4.8,5.8 -4.8,1.9 -3.9,-1 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b;stroke-width:1.42859995" />
									<path
									id="vectormap1_IRK"
									class="path st1"
									d="m 590.3,356.9 h -2.9 v 3.9 h -1 l -1.9,1 -1,1 -1,1 v 0 l -1,-1 h -1 -1.9 v 1 0 l -1.9,4.8 -1,4.8 1,1.9 1,2.9 -1,1 -1,1.9 1,1 v 1.9 l -3.9,4.8 -4.8,4.8 h -1.9 l -1,1 v 1 0 l -1,4.8 1.9,7.7 2.9,1 1.9,1.9 v 1 1 1 1 h -1 -1 -1 v 1 l -1,1 -1,1 1.9,1.9 1.9,2.9 -1,2.9 -1.9,1.9 v 1 l -1.9,2.9 h -1 l -1,-1 -1,-1 h -1.9 v -1 -1 h -1 l -1.9,-1 v -1.9 -1 l -1,-1 -2.9,1 -1.9,1 -1,1.9 v 1 l -7.7,4.8 -3.9,7.7 v 0 l 1,1 -1,1 1,1 v 1.9 l -3.9,-1.9 -1.9,-5.8 v -1.9 h -1 -1 l -1,1 -1,3.9 h -3.9 l -1.9,-1 h -2.9 l -2.9,-1 -2.9,4.8 -1.9,4.8 1,1 1.9,1.9 v 1.9 2.9 l 1,1 -1,1 h -1 l -2.9,1.9 -3.9,3.9 -1,2.9 1,1.9 -1,1 -1,1 v 1.9 l -1,2.9 v 2.9 h -1 l -2.9,1 -2.9,1.9 v 1 1 l 1,1 1.9,1 1.9,2.9 1.9,2.9 h 1.9 l 4.8,3.9 4.8,3.9 h 1.9 1.9 l 1,1 v 1.9 l 1,1 3.9,-2.9 3.9,-3.9 1,1.9 1,2.9 3.9,2.9 4.8,2.9 1,2.9 1,1.9 h 1 l 1,-1 6.8,5.8 v 1.9 l 1,1.9 1,1 1.9,1.9 v 1.9 l -1,1.9 h 1.9 l 1,-1 h 3.9 l 2.9,-2.9 v -1 l -6.8,-1.9 2.9,-1 4.8,-1.9 -1,-1 -1.9,-1 v -1 l -1,-1 v -1 l 2.9,2.9 3.9,1.9 11.6,-12.6 14.5,-21.3 -1,-7.7 1,-7.7 1,-1.9 h 1 1 l -1,-1.9 -1.9,-1 v -1 l -1,-1 h -1 l -1,-4.8 1.9,-1.9 2.9,-1.9 1,1 h 1 l 1,-1.9 1.9,-1.9 1,1 v 1 0 h 1 l 1,1 h 2.9 1.9 l 2.9,-1.9 1,-1.9 1,1 1,1 h 1 1.9 1.9 l 1.9,-1 v 1.9 l 1.9,1.9 h 1.9 l 1.9,-1 3.9,1 4.8,-1.9 4.8,-5.8 3.9,1 v 1 h -1 l 1,1 h 1.9 1 l 1.9,1 1,-1 1.9,-1.9 1,1 h 1 v -2.9 -2.9 h -1 -1 l -1,-6.8 v -1 h 1 v -1 -1.9 h 1 l 1,-1 -1.9,-1.9 1.9,-1.9 2.9,1 1.9,1 3.9,-1 -1,-1.9 v -1 l -1,-1 -1,-1.9 v -1.9 -1 l -1,-1.9 v -1.9 l -1,-1.9 h -4.8 -4.8 v -1 -1 l -1,-1 v -1.9 l -1.9,-1 -1.9,-1.9 -2.9,-1 H 637 l -2.9,1.9 -1.9,1 -1.9,1 -1,2.9 -1,1.9 h -1 -1 l -3.9,5.8 -4.8,4.8 1,-2.9 -1.9,-1 -1,-1.9 v -1 l -1.9,1.9 -1.9,1 h -1 -1 -1 v 0 h -1 -1 v 1 h -1 l -2.9,-1 -1,1.9 -4.8,1 h -1 -1 l -1,-3.9 v -4.8 l 1,-1 1,-1 v -2.2 -1 l 1.9,-5.8 1.9,-4.8 -2.9,-2.9 -1,-4.8 1.9,-1.9 1,-1.9 -1.9,-2.9 -1.9,-1.9 v -4.8 l -1,-6.8 -2.9,-2.9 -3.9,-1 2.9,-2.9 1,-1 -1,-2.9 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b;stroke-width:1.42859995" />
									<path
									id="vectormap1_KEM"
									class="path st1"
									d="m 442.5,442.8 h -2.9 -2.9 -1 l -1,1 -1,-1 h -1 l -1.9,1.9 -1,1 h -1 l -1,-1 -1.9,1 H 424 l -1,1.9 v 1 l 1,2.9 v 1.9 1 l 1,1 -1,1.9 -1,1.9 1,1.9 v 1.9 l -1,1 -1,1.9 1.9,1.9 1,1.9 1,1 h 1 v 1.9 l 1,1 1,1 1,1 v 2.9 l 1,1.9 1.9,1 1,1 -1,1 -1,1.9 v 1 h 1 v 1 l -1,1 1,1.9 v 2.9 l 1.9,1.9 1,1 h 1 l 1,-1 1,1 1,1 h 1 l 1,-1 v 1.9 1.9 l 3.9,-1.9 3.9,-2.9 -1,-2.9 -1,-1.9 1,-1.9 -1,-2.9 1,-1.9 1,-1.9 1.9,-1 v -1 l -1,-1.9 1,-1 1,-1 -1.9,-1.9 h -2.9 l 1,-3.9 1.9,-2.9 -1,-1 v -1.9 -1.9 l 1,-1 2.9,-2.9 2.9,-1 v -1 l -1,-8.7 -1,-1 -1,-1 1,-1.9 h 1 l -1,-1 v -1 h -3.9 l -2.9,1.9 -1.9,-1 -1.9,-1 -1.2,1.2 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b;stroke-width:1.42859995" />
									<path
									id="vectormap1_NVS"
									class="path st1"
									d="m 374.9,417.7 -1.9,-1 -1.9,-1.9 -1,1.9 v 1 l -1,1.9 v 1 1 l -1.9,1 -1,1.9 1,1.9 v 1.9 h -1 -2.9 l -1.9,1 -1.9,1.9 v 0 h -1 -1 v 1.9 l 1,1 -1.9,1.9 -1,4.8 1,1.9 1,2.9 v 1 l -1,1 -1,1.9 -1,2.9 h 1.9 1.9 l 1,-1 1,-1 1,1 h 1 1 1 l -1.9,1.9 -1.9,1 2.9,5.8 3.9,6.8 1,-1.9 1.9,-1 1,1 v 1 l 1.9,-1 h 1.9 l 2.9,1 h 2.9 v 0 l 1,-1 v 0 l 6.8,-2.9 5.8,-1.9 v 1 l 1,2.9 1,1 v 1 1 h 1 l 1,1 -1,1 h -1 l 4.8,5.8 2.9,-2.9 4.8,-2.9 v 1.9 h 1.9 v -1.9 h 1.9 1.9 1.9 1.9 l 1,-1 2.9,-1.9 1,-1.9 1,-1 v -1.9 l -1,-1.9 1,-1.9 1,-1.9 -1,-1 v -1 -1.9 l -1,-2.9 v -1 l 1,-1.9 h -1.9 -1.9 -1 l -1,-1 -1,2.9 -1.9,1 h -1 v -1 0 l -1,-1 1,-1 1,-1 v -3.9 -1 -2 h -1 -1.9 l -1,1 v 1 l -1,-1 h -1 -4.8 l -0.8,-3.9 -6.9,-1 -4.8,-7.7 -6.8,-3.8 0.9,-1 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b;stroke-width:1.42859995" />
									<path
									id="vectormap1_ALT"
									class="path st1"
									d="m 414.5,468.9 h -1 -2.9 v 1.9 h -1 l -1,-1.9 -4.8,2.9 -2.9,2.9 -3.9,-5.8 v 0 l 1,-1 -1,-1 h -1 v -1 -1 l -1,-1 -1,-2.9 v -1 l -5.8,1.9 -6.8,2.9 v 0 l -1,1 v 0 h -2.9 l -2.9,-1 H 373 l -1,1 -1,-1.9 h -1 l -1,1 -1.9,1.9 6.8,34.8 3.9,-1 v -1 -1 h 1 1 v -1 l 1,-1 1.9,4.8 1.9,3.9 3.9,1 1.9,1 h 2.9 1 v -1 h 1 1 1 l 1,-1 3.9,2.9 1.9,3.9 h 2.9 v -1 -1.9 -1 l -1.9,-1.9 -1.9,-1.9 1.9,-1 1.9,1 v -1 h 1 l 1.9,-1 h 3.9 2.9 l 1,-1 1,-1 h 1 1 l 1,-1.9 1,-1.9 1,1 1,1 h 1 1.9 v 0 l 1,1 1.9,-1.9 -1,-1.9 1,-1.9 2.9,-1 V 490 l -1,-1.9 1,-1 v -1 l -1,-1 v 0 l 1,-1.9 1,-1.9 h -1 l -1.9,-1 -1,-1.9 v -2.9 l -1,-1 -1,-1 -1,-1 v -1.9 h -1 l -1.9,-1 V 468 l -1.9,-1.9 -2.9,1.9 -1,1 h -1.9 l -1.9,-1 v 0.9 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b;stroke-width:1.42859995" />
									<path
									id="vectormap1_TYU"
									class="path st1"
									d="m 336.3,370.4 -3.9,1 -1,1 v 1 h -1.9 l -1.9,-1 h -1.9 -2.9 l -1,-1 h -1 l -1.9,1 -1,1.9 H 315 l -2.9,-1 v 1.9 l -1,1 v 1.9 1.9 l -1.9,1 h -1.9 -1.9 v 0 -1 h -2.9 l -1.9,1 -1.9,3.9 -1,4.8 v 1 h 1 l -1,1 h -1 -1 l -1,2.9 v 2.9 l 1.9,1 1.9,1 v 1.9 1.9 h 1 1.9 v 1 l 1,1 1,-1 1,1 1.9,2.9 1,2.9 1,1 1.9,1 v 0 h 1 l 1,2.9 1.9,3.9 v 0 h 1 v -1 l 1,1 v 1 h 1 l 1.9,1 1.9,1.9 1,1.9 h 1.9 l 1,-1 v -1.9 h 1 l 1.9,-1 -1,-1 v -1 h 1 1 v -1 l -1,-1 1,-1 1.9,-1 v -1 l 1,-1 v 0 h 1 v -1 -1 l 1,-1 h 1 v -1 -1 -1 l 1.9,1 2.9,-1 -1,-6.8 v -1 h -1 -1.9 l -1,-1 1,-1 1.9,-1 v -2.9 -2.9 l 2.9,-1.9 2.9,-1.9 1,1 1,1.9 -1,1 v 1.9 h 1.9 l 1.9,1 1.9,1 2.9,1.9 1,-1 h 1.9 l 6.8,1.9 7.7,-2.9 -1.9,-1.9 h -2.9 l -1,-1 -1,-1 -2.9,-1.9 -1.9,-1 v -1.9 l 1,-2.9 h -1.9 l -1.9,-1.9 1,-1 v -1 l -1,-1 h -1 l -1,-3.9 -1.9,-2.9 -1,-1 h -1 l -1,-1 -2.9,-1 h -1 -2 l -1,-1 -1,-1.9 h -1.9 l -1,1 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b;stroke-width:1.42859995" />
									<path
									id="vectormap1_KYA"
									class="path st1"
									d="m 451.2,215.8 1,1.9 h 2.9 V 214.8 212 Z M 474.4,183 h 1 v 1 l 1,1 1,-3.9 -1,-1 v 0 1 z m 5.8,-72.7 v -0.9 l -1,-0.7 -2.9,-1.3 1.9,1.5 v 0.5 0.9 z m 16.4,-22.2 -2.9,-0.8 -1.9,0.9 1,1 h 1 l 1.9,0.6 z m 98.6,85.2 1,1 v 1 l 1.9,1 -1,-2.9 -1,-1 z m -62.8,-7.7 h 1.9 1 l 1.9,-2.9 h -1.9 l -1,1 -1,1 z m -1,-48.4 1,-2.8 -1.9,-1.9 -2.9,-1 -1,-0.5 -1.9,1.2 v 2.5 l 1.9,0.8 1,0.8 v 1.2 0.8 z m 21.3,1.5 -2.9,-5.1 -2.9,2.1 -1.9,3.2 -1,1.2 -1,0.6 1,-1.3 1,-1.1 v -0.2 -0.3 l -1,0.5 -2,0.7 v 0 l -1,-0.2 3.9,-2.2 1,-3.7 -2.9,-1.1 -3.9,0.4 -1,0.2 v 0.5 h -1 l -1,0.4 -1.9,1.7 1,1.2 v 1.2 l -1,0.2 -1,0.1 -1,1.2 -1,1.4 -1,0.4 v 0.5 1 l 1,0.3 v -0.8 -0.8 l 1,-0.3 v 0 1.4 1.1 l 1,-0.1 1,0.4 -1,1.8 v 1.9 l 1,0.6 v 0.6 0.8 0.8 l 1,1.1 h 1 l 1,-1 v 1 1 h 1 1.9 l 1.9,1.9 1.9,1.9 3.9,1 3.9,-2.9 -1,-1.9 v -1.9 l -1,-1.8 v -0.1 l 1,-0.1 1,-4.5 z m 21.2,26.6 h -1 v 1 l -1,1 h 1 z m 1,3.9 h 1.9 l 1,-1 -1,-1 h -1 -1 l -1,1 v 1 z m -16.4,-19.8 v -1 -1.4 l -1,0.4 -1,1 -1,2.4 v 1.9 0 l 1,1 h -1 v 0 l -1,1 v 0 1 1 1 h -1 v -1 l -1,1.9 -1,1.9 v 2.9 l -1.9,2.9 -1,2.9 1.9,1.9 2.9,-1.9 1.9,-1.9 h 3.9 l 5.8,-1.9 2.9,-1 1,-2.9 v -2.9 l -1,-1.9 h -1 v 1 h -1 v -1.9 0 -1 l -1,-1 -1,-1 v -1 -1 l -1.9,1.9 -1.9,2.9 v 1 h -1 v -1 l 2.9,-8 -1.9,-1.1 -1,-0.1 v 1.7 c 0.3,0.1 -0.6,1.3 -0.6,1.3 z m 40.5,50.7 v 1 l -1,-1.9 v -1.9 l -1,-1 h -1.9 l -1.9,-2.9 -1.9,-2.9 -1,1 v 0 l -1,-1 h -1 v 1 h -1 -1 -1 -1.9 l -1.9,1 -1,-1 h -1 l -1,1 -1.9,3.9 h -2.9 l 1.9,-4.8 v -3.9 h -2.9 -2.7 l 1,-1 v -1 l -2.9,1 -1.9,-1 1.9,-1 1.9,-1.9 1,-1 h 1 l 1,-1 -1.9,-1.9 -2.9,-1 -1,-1 v -1 h -1.9 l -1.9,1 h -1 v 0 l -5.8,6.8 -3.9,6.8 1,1 v 2.9 l -5.8,1.9 -1,-1 H 545 v 1 l 1.9,2.9 1,1.9 H 546 l -1,-1.9 -1.9,1 h -1 v 1 l -1,1 v 0 h -1 v 0 1 h -1.9 -1 l -1,1 h -1.9 1 v -1 l -1,-1 -1.9,1 -1,1 1,-1.9 1,-1 -5.8,-1.9 -5.8,1 -1,1 1.9,1 h 1.9 v 1 l -1.9,1 h -1.9 l -3.9,1 -2.9,1 h -1.9 -2.9 -1 l -1.9,1 v 0 l -3.9,1.9 -1.9,1.9 h -2.9 -2.9 l 1,1 1.9,1 -1,1 -1.9,1 -1,1.9 v 1.9 l -1.9,-1.9 -2.9,-1 v 1 l 2.9,2.9 1.9,1.9 -1,1 v 0 l -1,-1 -1,-1 -1,1 v 0 h -1 -1 l 1.9,1.9 2.9,2.9 v 0 0 l -1,1 v 0 3.9 1.9 h -1 l -1.9,1 h -1 l 1,-1 1,-1 1,-1 v -1 l -3.9,-1 -2.9,1 H 479 l -5.8,-1 -5.8,-1 h -1 -1 -1 l -1.9,-1 v 1 l -1,1.9 -1,1 1,1 v 1 0 h -1 v 1.9 l 1,1 -1,2.9 -1,1.9 v 1 0 1 l -1,1 2.9,2.9 2.9,1.9 v 2.9 2.9 l 2.9,1.9 1,3.9 -1.9,2.9 -1.9,2.9 1,1.9 -1,8.7 -1.9,1 -1.9,1 2.9,6.8 1,3.9 h -1 v -1 l -1.9,-1 -1,-1 v -1.9 -1.9 l -1,-1.9 -1,-1 3.9,-9.7 -1,-1.9 -1.9,-1 1,-1 v -1 0 -1 l 2.9,-1.9 2.9,-3.9 -2.9,-1.9 -4.8,-1 -1,-2.9 -1,-2.9 -2.9,-3.9 -2.9,-2.9 h -1.9 -1 l 1,1.9 1,1.9 1.9,1.9 1.9,1.9 v 2.9 l -1.9,1.9 -1,1 v -1 H 449 v 1.9 1.9 l 1.9,1.9 1.9,1.9 v 4.8 l -1,4.8 h -1.9 l -1.9,-1 -1.9,1.9 -3.9,2.9 h -1 v 1 0 l -1.9,1 v 1 1.9 l 1,1.9 1,2.9 v 0 l 2.9,1.9 1.9,1.9 v 1 h 1 l 1.9,-1 1.9,-1.9 1,1 v 1 l 1,1 1,1 -1,5.8 -1,5.8 -1.9,4.8 -3.9,1.9 v 1 1 0 0 0 1.9 l 1,1.9 v -1 0 1 0 l -1.9,1.9 v 1 l 1,1.9 1,1.9 1,4.8 -1,3.9 v 6.8 l 1,2.9 2.9,1 v 1 1 0 1.9 1.9 1 l -1,1.9 h -1 l 1,2.9 h 1.9 l 1,1.9 1.9,1 1.9,-1 1,2.9 -1,5.8 -3.9,5.8 H 451 l -1,1 v 1.9 l 1,1 1.9,1 -1,1.9 -1,1 v 1 l -1,1.9 -2.9,3.9 -4.8,3.9 1,6.8 3.9,1.9 1.9,1.9 -6.8,3.9 -7.7,1.9 v 7.7 4.8 l 4.8,1.9 2.9,-1 3.9,1 2.9,1 1.9,1 v 1 l 1,1 h 1 l 1.9,1.9 v 2.9 l 1,1.9 2.9,1 1.9,2.9 -1.9,1 -1.9,1.9 -1.9,2.9 v 2.9 l 3.9,3.9 2.9,4.8 -1,1 h -1 v 1.9 l -1,1 h -1 -1 l -1.9,3.9 -1,1.9 v 1 1 l 1,1 h -1 l -1,1.9 1,1 1,1 1,8.7 v 1 l -2.9,1 -2.9,2.9 2.9,2.9 2.9,2.9 h 2.9 l 1.9,-1 1.9,1.9 2.9,1 1,5.8 1.9,5.8 -1.9,4.8 1,1 v 0 1 l 1,1 1,1 v 1 l -1.9,1.9 -1.9,1 v 1 l -1.9,3.9 v 0 h -1.9 l -1,1 -1.9,1.9 -1,2.9 1.9,1 1,1.9 5.8,1.9 6.8,1 6.8,-3.9 4.8,-6.8 1.9,-1 1.9,-1 1,-2.9 1,-1.9 h 1.9 1 l 1,-1 h 1 v 1 h 1 1 l 1,-1 2.9,1 4.8,-1.9 -1.9,-2.9 -1.9,-2.9 -1.9,-1 -1,-1 v -1 -1 l 2.9,-1.9 2.9,-1 h 1 l 1,-2.9 v -2.9 -1.9 l 1,-1 1,-1 v -2.4 -2.9 l 3.9,-3.9 2.9,-1.9 h 1 l 1,-1 -1,-1 v -2.9 -1.9 l -1,-1.9 -1.9,-1 1.9,-4.8 2.9,-4.8 2.9,1 h 2.9 l 1.9,1 h 3.9 l 1,-3.9 1,-1 h 1 1 v 1 l 1.9,6.8 3.9,1.9 v -1.9 -1 -1 -1 h -1 l 3.9,-7.7 7.7,-4.8 v -1 l 1,-1.9 2.9,-1.9 h 1.9 l 1,1 v 1 1.9 l 1.9,1 h 1.9 l -1,1 v 1 h 1.9 l 1,1 1,1 h 1 l 1.9,-2.9 v -1 l 1.9,-1.9 1,-2.9 -1.9,-2.9 -1.9,-1.9 1,-1 1,-1 v -1 h 1 1 1 v -1 -1 -1 -1 l -1.9,-1.9 -2.9,-1 -1.9,-7.7 1,-4.8 v -1 0 l 1.9,-1 1,-1 4.8,-3.9 3.9,-4.8 V 382 l -1,-1 1,-1.9 1,-1 -1,-2.9 -1,-2.9 1,-3.9 2.9,-4.8 -1,-1 v 0 l 1.9,-1 1,1 1,1 v 0 l 1,-1 1,-1 1.9,-1 h 1 v -3.9 h -3.9 l -3.9,-1 -1,-1 -1,-1 h -1 -1 l -1.9,-3.9 1.9,-2.9 V 344 l 1.9,-2.9 1,-1 1,-1.9 -1.9,-1.9 -1.9,-1.9 -1,-1.9 v -2.9 -1.9 l -1,-1.9 v -3.9 -2.9 l -1,-1 -1,-1 1.9,-1.9 2.9,-1.9 1,-10.6 v -6.6 -6.8 l -1.9,-2.9 -1,-3.9 v -1 l 1,-1.9 h 1 v -1 l 1.9,1 h 1.9 l 1.9,-1.9 2.9,-1 2.9,1 h 1.9 l 1.9,-2.9 v -3.9 l 1.9,-1 1,-1 V 267 l 1,-2.9 3.9,-2.9 3.9,-2.9 v -1 l -1,-2.9 -1.9,-3.9 v -3.9 l -1,-3.9 -1.9,-1.9 -1.9,-1 -1,-1 v -1.9 -1 l -1,-1 -1,-3.9 1,-3.9 -1,-1 v -1 -1 -1 h -1 l -1,-1 1.9,-1.9 1,-2.9 1,-1 v -1.9 l 1,-1 -1.9,1 -1,1 -1.9,-1 -2.9,1.9 v 1 1.9 h 1.9 l 2.9,-1 v 1 l -1,1 h -1 l -1.9,2.9 -1.9,1 -1,-1 v 0 l -1,1.9 -1.9,1 v 0 0 1.9 1 l -1.9,-1 -1,-1 v 1 h -1 -2.9 -2.9 l -1,2.9 -2.9,2.9 h -1 l 1,-1.9 1.9,-1.9 V 228 l 1,-1.9 2.9,-1 1,-2.9 -1,-1 -1.9,-1 h -1 v 0 0 l 5.8,1 3.9,-3.9 h 1 l 1,-1.9 1,-1.9 1.9,-1.9 1.9,-1.9 1,-2.9 5.8,-3.9 v -1 l 1,-1 1.9,-2.9 2.9,-2.9 1,-4.8 -1.9,-1 -1,-1.9 v 1 l -1,1 v 0 0 -2.9 h 1 l 1.9,1 v 1 1 l 1,-1.9 V 183 h -1 -1 v -2.9 l -1.9,-1.9 v 1.9 z m -70.5,-73.5 -1,0.2 -1,0.6 1,0.4 1,0.3 1,0.9 1,1 -1,0.1 -1,-0.1 v 0.3 0.4 l 1,0.2 1,0.1 1,1.1 1,0.6 1.9,-0.7 1,-0.9 7.7,-1 1,-0.5 v -2.4 -2.8 l 1.9,-1.2 1,-1.2 v -1.1 l -1,-1.1 v -0.2 l -1,-0.5 -1.9,-4.5 -1,-3.6 -1.9,-0.1 v 1.4 l -4.8,2.7 -3.9,3.1 v 1.6 l 1,0.4 v 0.9 l -1,1 v 1.1 l -1,1.1 -1,0.5 -1,0.5 v 0.8 l 1,0.7 v 0.3 h -1 z m -1.9,-16.2 -1,1.3 v 0.9 h 1 l 1.9,0.9 1.9,-2.4 c 0,-0.2 -3.8,-0.7 -3.8,-0.7 z m 7.7,87.8 -1.9,-1 v 0 l 1,1.9 1.9,1 v -1 -1 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b;stroke-width:1.42859995" />
									<path
									id="vectormap1_OMS"
									class="path st1"
									d="m 370.1,395.5 -7.7,2.9 -6.8,-1.9 h -1.9 l -1,1 -2.9,-1.9 -1.9,-1 -1.9,-1 h -2 v -1.9 l 1,-1 -1,-1.9 -1,-1 -2.9,1.9 -2.9,1.9 v 3.9 1.9 l -1.9,1 -1,1 1,1 h 1.9 1 v 1 l 1,7.7 h -2.9 l -1.9,-1 v 1 1 1 h -1 l -1,1 v 1 1 h -1 v 0 l -1,1 v 1 l -1.9,1 -1,1 1,1 -1,1 v 0 h -1 v 1 l 1,1 -1.9,1 h -1 v 1.9 l 1.9,2.9 -1,4.8 v 1.9 h 1 l -2.9,3.9 1,1.9 1,1 1,1 h 1 l 1,-1 h 1 v 1 h 1 v -1 l 1,-1 v 2.9 3.9 l 1.9,-1 v -1 l 1.9,1 1.9,1.9 1,1 h 1.9 v 1 l -1,1 -1.9,-1 -1.9,2.9 1,1.9 1.9,-1 4.8,2.9 h 1 l 3.9,-1.9 h 2.9 l 1.9,-1.9 h 1.9 l 1,-2.9 1,-1.9 1,-1 v -1 l -1,-2.9 -1,-1.9 1,-4.8 1.9,-1.9 -1,-1 v -1.9 h 1 1 v 0 l 1.9,-1.9 1.9,-1 h 2.9 1 V 427 l -1,-1.9 1,-1.9 1.9,-1 v -1 -1 l 1,-1.9 1,-1 v -1.9 l -1,-1 -1,-1.9 1,-1 v -1 -1 l -1,-1.9 v -1 -1 -1.9 l -1,-1 v -1 h 1 v -1 -1.9 h 1 v -1.9 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b;stroke-width:1.42859995" />
									<path
									id="vectormap1_TOM"
									class="path st1"
									d="m 421.3,384.9 -1.9,-1 h -1.9 -1 l -1,-1.9 -1,-1.9 -3.9,1 h -3.9 l -1.9,-1.9 v -1.9 h -1 -1 l -1.9,1 -1,-1 -1,-1 -3.9,-1 -3.9,-1 -1,-1 v 0 1 1.9 l -1,1.9 h -1 l -1,1 -1,3.9 -2.9,4.8 h -1.9 -3.9 l -3.9,3.9 -3.9,3.9 v 1 1.9 h -1 v 1.9 1 h -1 v 1 l 1,1 v 1.9 1 1 l 1,1.9 v 1 1 l -1,1 1,1.9 1,1 1.9,1.9 1.9,1 11.6,3.9 -1,1 6.8,3.9 4.8,7.7 6.8,1 1,3.9 h 5.8 v 0 l 1,1 v -1 l 1,-1 h 1.9 1 l 1,1.9 -1,1 v 3.9 l -1,1 -1,1 h 1 v 1 l 1,1 v 0 l 1.9,-1 1,-2.9 1,1 h 1 1.9 1.9 1.9 l 1.9,-1 1,1 h 1 l 1,-1 1.9,-1.9 h 1 l 1,1 1,-1 h 1 2.9 2.9 v 0 l 1,-1 1.9,1 1.9,1 2.9,-1.9 h 3.9 l 1,-2.9 1.9,-3.9 h 1 1 l 1,-1 v -1.9 h 1 v -1 l -1.9,-4.8 -3.9,-3.9 v -2.9 l 1,-2.9 2.9,-1.9 1.9,-1 -1.8,-3.4 -2.9,-1 -1,-1.9 v -2.9 l -1.9,-1.9 h -1 l -1,-1 v -1 l -1.9,-1 -3.9,-1 -2.9,-1 -3.9,1 -3.9,-1.9 v -4.8 -7.7 l -2.9,-1 -2.8,-1.9 -1.9,1 -2.9,1.9 h -1 l -1,1 -1.9,-1 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b;stroke-width:1.42859995" />
									<path
									id="vectormap1_KHM"
									class="path st1"
									d="m 381.7,334.7 -1.9,-1.9 H 375 l -4.8,-1 v -2.9 -3.9 l -1.9,-1 -1,-2.9 v -2.9 l 1,-1 1,-1.9 -1.9,-1.9 h -1 l -1,-1 v -1 h -1.9 l -1,1 h -1 -2.9 -1.9 l -1.9,1 v 0 l -2.9,-2.9 -1.9,-2.9 1.9,-1 1,-1 -1.9,-1 -1,-1 -2.9,-1.9 -2.9,-1 h -1 l -1,1 -1,-1 v -1 h -1.9 l -1.9,1 -1,-1 h -1 -1 -1 l -1,-1.9 1,-1.9 -2.9,-1 -1,-1.9 1,-1.9 h 1.9 l 1,-2.9 1.9,-2.9 v -1 l -1,-1 v -2.9 l -1,-2.9 -1.9,1 -2.9,1 v 1 1 h -1.9 l -1.9,1 -1.9,1 -1,-1.9 v -1 0 h -1.9 l -1.9,1 h -1 l -1,1 v 0 l -1.9,1 -1,1 -1,5.8 -3.9,3.9 -3.9,3.9 -1.9,3.9 -1.9,4.8 v 1 h 1 l -1,1.9 h -1.9 l -1,2.9 -1,1.9 v 1 l 1,1 v 1 1.9 l 2.9,1.9 2.9,1.9 2.9,6.8 1,1.9 1.9,2.9 -1.9,3.9 -1,3.9 -1,1.9 v 2.9 0 l 1.9,1 v 1.9 l -1,3.9 -1,3.9 2.9,1.9 2.9,1.9 v 3.9 4.8 1.9 l 1,1 2.9,1 h 2.9 l 1,-1.9 1.9,-1 h 1 v 1 h 2.9 2.9 l 1.9,1 h 1 l 1,-1 1,-1 3.9,-1 1.9,-2.9 1,-1 h 1.9 l 1,1.9 v 1 h 2.9 1 l 2.9,1 1,1 1,1 h 1 l 1.9,2.9 1,3.9 h 1 l 1,1 -1,1 v 1 l 1.9,1.9 h 1 v 2.9 l -1,1.9 2.9,1.9 2.9,1 1,1 1,1 h 2.9 l 1.9,1.9 3.9,-3.9 3.9,-3.9 h 2.9 2.9 l 2.9,-4.8 1,-3.9 1,-1 h 1 l 1,-1.9 -1,-1.9 v -1 h 1 l 1,1 3.9,1 3.9,1 1,1 1,1 1.9,-1 h 1 1 v 1.9 l 1.9,1.9 h 3.9 l 3.9,-1 v 1.9 l 1,1.9 h 1.9 1.9 l 1,1 1.9,1 1,-1 h 1 l 2.9,-1.9 1.9,-1 2.9,1.9 1.9,1 8.7,-1.9 5.8,-3.9 -1,-1.9 -3.9,-1.9 -1,-6.8 -1.9,-3.9 -1.9,-1.9 h -1.9 -1.9 l -1.9,-2.9 -1.9,-2.9 h -2.7 -1.9 l -2.9,-2.9 v -1 l -1,-1.9 v 0 l -4.8,1.9 -4.8,1.9 -1.9,-1 -1.9,-1 h -3.9 -2.9 l -1.9,-1.9 -1,-3.9 -4.8,-2.9 -3.9,-2.9 -4.8,-1 -1.9,-1 -1.9,-1.9 -1.9,-2.9 h 0.8 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b;stroke-width:1.42859995" />
									<path
									id="vectormap1_YAN"
									class="path st1"
									d="m 423.2,195.5 v -1 h -1 -1 l -4.8,1.9 v 2.9 0 l 3.9,1 2.9,-1 v -1 -1.9 z m 12.6,24.2 v -3.9 l 1,-2.9 V 211 l -1,-1 -1,2.9 -1,4.8 -2.9,2.9 -4.8,1 -1,1 h -1 l -1,1.9 -1,1 -1,1 -1,1 v 1 l 1,1 v 1 l -1,1.9 1,3.9 v 3.9 l -2.9,2.9 -1.9,1.9 -1,2.9 -1,1.9 -1,1.9 v 1.9 1.9 l -1,1.9 -1,2.9 h 1.9 1 l 1,1 1,1 1.9,-1 h 1.9 l 5.8,3.9 2.9,5.8 v 1 l -1,1 1,2.9 v 2.9 h -1 -1 l -2.9,1.9 -1,2.9 3.9,3.9 2.9,1.9 H 428 l -1.9,-1 -1.9,1 h -1 v -1 -1.9 l -1,-1.9 v -1 l 1,-1.9 v -1.9 l 1,-1 1,-1 h -1 v -1 l 1,-1 v -1 -2.9 l -1,-1.9 v -2 -1.9 h -4.8 -5.8 l -1.9,2.9 -1,1.9 v 2.9 l -1.9,6.8 -1.9,1.9 -2.9,1 -1,2.9 -1.9,1.9 -2.9,1 -2.9,1.9 -1.9,-1 -1,1 -1.9,2.9 h -2.9 v -1 l -1,-1 -3.9,-1 -2.9,-1.9 -1.9,-1 -1,-1.9 -1,-2.9 v -2.9 0 l 3.9,1.9 4.8,1.9 -1,1 h -1.9 v 1 l 2.9,1.9 h 3.9 v -1.9 l 1,-1.9 h 1 v 0 l 1.9,-1 1,-1 h 1 v -1 -1 l 3.9,-1.9 3.9,-1.9 1,-2.9 v -1.9 l 2.9,-1.9 1.9,-2.9 -1.9,-3.9 -1,-5.8 2.9,-4.8 1.9,-4.8 1.9,-5.8 1,-1 1,-1 2.9,-5.8 -1,-4.8 v -4.8 l 3.9,-3.9 5.8,-9.7 v -1.9 -1 l -1.9,-2.9 -4.8,-1.9 -1.9,-1 -1.9,-1 v 0 h -1 l 1,-1 v 0 h -1 v -1 l -4.8,5.8 -4.8,6.8 -7.7,5.8 -5.8,2.9 h 1 v 0 l -1,1.9 h -1 l -1,1.9 h 1.9 l 1,1 -1.9,2.9 -1.9,3.9 v 1.9 l -1,1.9 -1,-1 h -1 l -1.9,1.9 -1,2.9 v 1 0 l 1,-1 v 0 h 1 l 1,1.9 1,1.9 h 1 v 0 1.9 l -1,1 v 4.8 l 1.9,1.9 v 1 l -5.8,6.8 h -1.9 l 1,-1 v -1 l -1,-1 -1,-1 v 0 l -1,-6.8 -1.9,-2.9 -2.9,-3.9 h 1 l 1.9,1.9 v 1 1 -1 l -1.9,-3.9 -3.9,-2.9 -1.9,1 -1,1.9 h -1 l 1.9,2.9 1,1.9 v 1.9 l -1.9,1.9 -1.9,1.9 -1,3.9 1.9,2.9 1,2.9 -3.9,1.9 -4.8,2.9 -1,1 -1,1.9 h -1 -1 -1 -1 l -3.9,1 h -2.9 l -1.9,1.9 v 1 l -2.9,1 -2.9,1.9 v 1 l -1.9,-1 h -2.9 l 1,2.9 v 1.9 l 1,1.9 v 1 l -1.9,1.9 -1,3.9 h -1.9 l -1,1.9 1,1.9 2.9,1 -1,1.9 1,1.9 h 1 1 1 l 1,1 1.9,-1 h 1.9 v 1 l 1,1 1,-1 h 1 l 2.9,1 2.9,1.9 1,1 1.9,1 -1,1 -1.9,1 1.9,2.9 2.9,2.9 v 0 l 1.9,-1 1.9,-1 2.9,1 h 1 l 1,-1 h 1.9 v 1 l 1,1 h 1 l 1.9,1.9 -1,1 -1,1.9 v 2.9 l 1,1.9 1.9,1.9 v 3.9 2.9 l 4.8,1 4.8,-1 1.9,2.9 1,2.9 1.9,1.9 1.9,1 4.8,1 3.9,2.9 4.8,2.9 1,2.9 1.9,2.9 h 2.9 3.9 l 1.9,1 1.9,1 5.8,-1.9 3.9,-1.9 h 1 v 1 1.9 l 2.9,2.9 h 1.9 1.9 l 1.9,2.9 1.9,2.9 h 1.9 1.9 l 1.9,1.9 1.9,2.9 4.8,-2.9 2.9,-3.9 1,-1.9 v -1 l 1,-1 1,-1.9 -1.9,-1 -1,-1 v -1.9 l 1,-1 h 1.9 l 3.9,-5.8 1,-5.8 -1,-2.9 -1.9,1 -1.9,-1 -1,-1.9 h -1.9 l -1,-2.9 h 1 l 1,-1.9 v -1.9 -1 -1.4 -1 -1 0 l -2.9,-1 -1,-2.9 v -6.8 l 1,-3.9 -1,-4.8 -1,-2.9 -1,-1 v -1 l 1.9,-1.9 v -1 l -1,-1 v -1.9 -1 -1 l 3.9,-1.9 1.9,-4.8 1,-6.8 1,-4.8 -1,-1 -1,-1 v -1 l -1,-1 -1.9,1.9 h -1.9 -1 v 0 l -1.9,-1.9 -2.9,-1.9 v 0 l -1,-2.9 -1,-1.9 v -1.9 -1 l 1.9,-1 v 0 0 -1 l 1,-1 3.9,-1.9 1.9,-1.9 1.9,1 h 1.9 l 1,-4.8 v -5.8 l -1.9,-1 -1.9,-1.9 v -1.9 -1.9 h 1.9 v 0 h 1 l 1.9,-1.9 v -2.9 l -1.9,-1.9 -1.9,-1.9 -1,-1.9 -1,-1.9 h -2.9 l -2.9,1.9 h 1 1 l 1,1.9 v 1.9 l -3.9,-1 -1,-2.9 -3.9,1 -1,3.9 1,3.9 1.9,2.9 h 1.9 l 1.9,1.9 -1,4.8 -1,-1.9 -1,-1.9 -5.8,-2.9 -4.8,-3.9 1,-1 1.9,-3.9 -1,-1.9 2.9,-2.9 z m 10.6,1.9 1,-1 v -1.9 l -1,-1 -4.8,1.9 3.9,1.9 z m -9.7,-14.5 -3.9,-1 1,2.9 h 1 v 0 l 1,-1.9 z m 4.9,-4.8 1,1 1,-1 -1.9,-1 -1,1 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b;stroke-width:1.42859995" />
									<path
									id="vectormap1_ARK"
									class="path st1"
									d="M 334.3,184.9 V 183 h -1.9 v 1.9 l 1,1 -1,3.9 2.9,-2.9 v -1 z m 22.3,-21.2 -2.9,-1 h -2.9 v 1 1 h -1 v 0 1 1 l -1.9,-1 H 345 v 1 1 l 1,1 v 0 h -1 v 1 0 h 1 v 0 h -1 l -1,1 -2.9,1.9 -1.9,1.9 v 0 l -1,-1 v -1 l -1,-1 -1.9,1 -1.9,1.9 -1,2.9 v 2.9 h 1 1 v 0 1 0 0 l 1,-1 1,-1 v 1 l -1,1.9 1.9,1.9 1,-1 v 0 0 l -1,1 -1,3.9 1,1 1,1.9 h -1 -1 v 0 l -1,-1 v 1 l -1,1 h -1 v 0 1.9 l 1,1.9 h 1.9 v 0 l 1,1.9 v 1.9 h 1 v 0 h 1 v 0 -1 h 1 l 1,1.9 1,1.9 1,1 v -1 0 -1 l 1,-1 v 1.9 l 1.9,2.9 v 0 -1 -1 0 l 1,1 h 1.9 v 0 l -1,-2.9 -1,-2.9 v -4.8 l 1,-4.8 1,-3.9 1.9,-3.9 h 1 v 0 l 1,-1.9 1,-1.9 1,-1.9 v 0 0 l 1,1 1.9,-1 v -1 l -1,-1 v 0 0 h 1 l 1.9,1 1,-1 v -1 h -1 l -1,-1 2.9,1 v -1.9 0 0 h 1 1 l -1,-2.9 -1.9,-1.9 v -1 l -1,-1 h -1.9 z m 22.2,-21.3 -1.9,1.9 v 0 1 h 1 v 1 l 1,1 v 0 H 377 l -1.9,1 h 1 l 1,1 v 0 1 l 1,1 v 0 0 l -1.9,-1 -2.9,-1 -1,1 1,1.9 v 0 h -1 -1 -1.9 l 1,1 v 1 h -1 l -1,-1 v 1.9 l 1,1.9 -1,-1 -1.9,-1.9 -1.9,1 v 1.9 0 -1 l -1.9,-1 -1.9,1 -1,1 -1,-1 v 0 l 1.9,2.9 3.9,1 v 1 h -2.9 -2.9 l -1.9,1 v 1 h 1 1.9 l 1.9,1.9 1,1.9 1,-1 v 0 2.9 l 1.9,1 v 0 l 1,-1 v 1 l 1,-1 1.9,-1 -1,-1.9 v 0 -1 -1 0 l 1,2.9 h 1.9 l 1,-1 -1,-1.9 -1,-1 v -1 0 l 1.9,1 1,1.9 v 0 1 l 1,-1.9 1,-1.9 -1,-1 v -1 0 0 h 1 v 0 -1 h 1 v 1 1.9 1.9 l 1,-1 v 0 l 1,-1 1.9,-1 1.9,-2.9 -1,-1 v -1 h 1 v 1.9 l 1.9,1 v 0 l 1,-1 1,-1.9 v -1 1 l 1,2.9 1,-1 v -1.9 h 1 v 1 1 l 1.9,-1 v -1 l 1,1 1,-1 v 0 -1 l -1,-1 v 0 h 1 1 l 1,-1 -1,1 1.9,-1 2.9,-1 v 0 0 1 l 1,-1 h 1 l 2.9,-1 h 2.9 1.9 1 10.6 l 9.7,-1 2.9,-1.9 1.9,-2.9 1.9,-1.9 -1,-2.9 -4.8,-1.9 -5.8,1.9 v 1 l -1,1 h -1 v -1 h -12.6 l -2.9,-2.9 -1.9,-1 -1,1.9 -2.9,1 h 1 v -1 H 400 l -1.9,1 -1.9,-1 h -2.9 l -1.9,1 h -1 -1 v 1 0 h -2.9 v 1.9 l -1,1 -1,-1 -1,-1 -1,1 -1,1 -1.9,1 v 0 -1 z m 48.3,-70.6 v -2.4 l -1.9,-0.5 -1,2 v 2.9 z m -10.6,-8.6 -1,2.4 2.9,0.5 1,-2.9 z m 10.6,0.4 2.9,1.6 1,-1 -1.9,-2.1 z m -4.9,4.3 v 0.8 l 1.9,-1.3 h -1 z m -0.9,-7.7 v -0.8 l -1,-0.1 v 1.1 1.3 0 c 0,0 1,-1.5 1,-1.5 z m 0.9,1.1 -1,0.8 v 0.8 1.3 l 1.9,-1.9 v -0.6 z m 5.8,0.1 1,-0.8 -2.9,-3.2 -1,1.6 1,1.6 z m -20.2,4.1 v 0.7 l 1,0.6 1,-1.4 v -1.5 l -1.9,-0.1 v 1.7 z m 0.9,-5.8 -1.9,1.3 1,1.2 1,-1.1 c -0.1,0 -0.1,-1.4 -0.1,-1.4 z M 401,45.7 V 47 l 1,0.2 v 0.5 0.8 0.8 l 2.9,-0.1 1.9,-0.6 1,-0.2 v 0.1 l 1,0.2 1,2.4 1,-0.8 v -2.1 l -1,-2 h -1.9 l -1.9,0.2 -1,-0.1 -1,-0.2 -1.9,-0.9 z m 15.5,4.2 v -0.6 l -1,0.3 -1.9,0.4 -1,0.4 v 1.1 1.2 l -3.9,0.1 -2.9,-0.8 v 0.7 l 1,0.9 h -1 l -1,-0.5 v 0.6 0.8 0.2 h -1 v -1.6 l -1.9,-0.3 -1,1.4 v 1.4 l 1.9,-0.1 v 1.3 l -1,0.6 -1,0.6 1,0.3 1,-0.1 1,0.8 1,-0.9 v 0 0.6 l 1,0.1 v 0 l 1,-1.4 -1,-1.1 v -0.1 l 2.9,0.3 1,1 1,-0.7 1.9,-0.6 5.8,-0.3 -1,-2 -1.9,-0.7 V 53 l 1,-0.7 1,-0.1 1,-1 v -0.4 0 h -1.9 z m 2.8,-2.6 -1,0.9 1,0.3 1.9,-0.4 v -1 l -1,-0.5 c 0.1,0 -0.9,0.7 -0.9,0.7 z m 34.8,10.2 1.9,1.7 1,-1.5 -1.9,-1.8 c 0,0 -1,1.6 -1,1.6 z m -7.7,14.9 1.9,1.8 3.9,0.2 2.9,-2.5 v -0.2 l 1,-3.3 -1.9,-1 -1,1.4 -1,1.3 -1,-0.2 -2.9,0.4 z m -13.5,6.2 -1,-1.2 -1.9,1.6 1.9,1.4 c 0,0.1 1,-1.8 1,-1.8 z m 0,-7.8 -4.8,-0.6 v 3 2.1 h 1 v -0.6 l 1,0.1 1,-0.4 -1,-0.7 v -0.5 -0.1 l 2.9,0.4 1,-1.6 z m 3.8,-0.9 -1,1 v 1.1 1.2 l 1,0.2 v -0.1 l 1,-0.1 v 1 l 1,1.4 2.9,-1 2.9,-2.2 1,-1.4 v -1.5 l -1,-0.6 h -1.9 l -1.9,-1.3 -1.9,-0.5 c -0.1,-0.1 -2.1,2.8 -2.1,2.8 z m -1.9,-5.2 1,1.4 1.9,-0.6 -1,-1.4 z m -1.9,2.5 -1,-0.5 -1,1.1 1,0.3 c 0,-0.1 1,-0.9 1,-0.9 z m 0,-8.2 -1,-1.2 -1,-1 -1,-1 v -1 l -1,0.3 -1,0.7 1,2 1,2.4 1,2.9 2.9,1.5 z m 1.9,-0.7 -1,-1.2 -1,0.1 1,2 v 2.2 l 1,1.7 1,0.2 v -4 c 0,0.1 -1,-1 -1,-1 z m 2.9,0.2 1,-1.2 -1.9,-0.1 -1,1.1 c 0,0 1.9,0.2 1.9,0.2 z m 6.8,8.3 1.9,-1.8 -1.9,-0.9 -2.9,1.5 z m -1,-11.2 -1,0.6 v 1.5 l 1,-0.6 z m 3.9,-7.2 -1.9,-0.4 v -0.3 l -1,0.1 v 0.9 l -1,1 1.9,0.9 2.9,-1.3 z m -7.8,3.1 v 2.8 l 2.9,0.5 -1,-3.3 z m -4.8,2.1 v -1.2 l -1,0.4 v 2.3 l 1.9,1 h 2.9 l 1,0.2 v -0.2 l -1,-2.6 -2.9,0.9 z M 249.3,205.2 h -1 l -1,1 h -2.9 l -2.9,1 -1.9,-1 -1,-1 -2.9,1 h -3.9 l -3.9,2.9 -1,3.9 -1,3.9 h -1 l -1,1 1,-1 v 0 l -1,-1 -1,-1 v 1 0 h -1 l -1.9,-1 -1,-2.9 -1.9,-2.9 -1.9,-1 -1,1 v -1 l 1,-1 h 1.9 l -1,-4.8 -2.9,-3.9 -1.9,1 -1.9,1 -1,7.7 h 1 l 1.9,1 -1.9,2.9 -2.9,2.9 v 0 l -1,-1 h -1 v 1 l -1.5,-2.9 -1.9,-3.9 -1.9,1.9 -1.9,1 -1,-1 -1,-1 -1,2.9 -1,2.9 -1,1.9 -1.9,1.9 1,3.9 1.9,2.9 -1.9,1.9 -1.9,1.9 v 1 0 l -1,2.9 -1.9,2.9 v 0 l -1,-1 -1,1 -1,1 -1,2.9 -1,2.9 -1,1.9 v 3.9 h 1 l 1,1 v 1 1 l 1.9,1 h 1 l 1,1.9 v 1 h 1 l 1,1 1,1 1,1 1,1 v 1.9 h 2.9 l 1.9,-1 v 1 0 h 1 l 1,1 1,1 v 1 l 1,1.9 h 1 l 1.9,1 v 1 1 h 2.9 l 1.9,-1 1.9,2.9 2.9,4.8 1.9,-1 h 3.9 v 1 2.9 h 1.9 l 1,3.9 4.8,1 1,1.9 1.9,1.9 1.9,-1 h 1.9 l 5.8,-1.9 1,-1.9 1,-2.9 4.8,-3.9 3.9,-3.9 -1,-1.9 -1,-1.9 h -1 l -1,1 h -1 -2.9 l -1,1.9 v 1 h -1.9 l -1,-1 h -1 -1 l -1,-1 1,-3.9 2.9,-3.9 h 1.9 l 2.9,-1 -1,-1.9 v -1.9 l 1.9,-2.9 v -4.8 l -1.9,-3.9 v -3.9 l 6.8,1.9 6.8,4.8 v 2.9 l 1,1 1.9,-1.9 1,1.9 1.9,-1 h 1 v 1 l 1,1 1,-1 h 1 l 1.9,1.9 1,1 1,-1 1,-1 v -1 l -1,-1 1,-3.9 1,-2.9 -1,-1 h -1.9 l 1,-2.9 2.9,-3.9 2.9,-3.9 -1.9,-1.9 -1.9,-1 h -1.9 l -1.9,1 v 1 0 h -1.9 v -1 l -1,-1 -1,-1.9 -2.9,-5.8 -3.9,-5.8 v -1.9 -1 l -4.8,3.9 1,-1.9 -1,-1 -1,-1 -1,1 1,-1 1.9,-1 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b;stroke-width:1.42859995" />
									<path
									id="vectormap1_KO"
									class="path st1"
									d="m 308.3,241.9 -5.8,-4.8 -4.8,-3.9 h -1.9 -1.9 v 0 l -1,-1 -1,1 -1.9,1 -7.7,-1 h -6.8 v 0 l -2.9,3.9 -2.9,3.9 -1,2.9 h 1.9 l 1,1 -1,2.9 -1,2.9 1,1.9 v 1 l -1,1 -1,1 -1,-1 -1.9,-1.9 h -1 l -1,1 -1,-1 v -1 h -1 -1.7 l -1,-1 -1.9,1 -1,-1 v -1.9 l -6.8,-4.8 -6.8,-2.9 v 4.8 l 1.9,3.9 v 4.8 l -1.9,2.9 v 1.9 l 1,1.9 -2.9,1 h -1.9 l -2.9,3.9 -1,3.9 1,1 h 1 l 1,-1 1,1 1.9,1 v -1 l 1,-1.9 2.9,-1 1,1 1,-1 h 1 l 1,1.9 1,1.9 -3.9,3.9 -4.8,3.9 -1,2.9 -1,1.9 -5.8,1.9 H 231 l -1.9,1 -2.9,4.8 v 1.9 1 l -3.9,1 -1.9,2.9 1.9,1.9 1,1.9 v 0 1.9 l 1,2.9 -1,1 v 1.9 l 2.9,-1.9 1.9,-1.9 v 0 h 1 1 v -1 l 3.9,1.9 2.9,1 3.9,-1 h 2.9 v 1 l 1.9,-1 -1,-2.9 1.9,-4.8 5.8,1.9 h 1 1 l 1.9,1.9 -1,1.9 v 0 l 2.9,1.9 1.9,-1 1.9,2.9 1.9,1 h 1.9 l 2.9,-1 1,1 v 1 l 1,-1 h 1.9 1 l 1,1 v 0 l 1.9,-1 2.9,-1 5.8,5.8 9.7,1 v -1 l 1.9,-1 1,-1.9 1,-2.9 h 1.9 l 1,-1.9 -1,-1 v -1 l 1.9,-3.9 1.9,-3.9 3.9,-3.9 3.9,-3.9 1,-5.8 1,-1 1.9,-1 v 0 l 1,-1 h 1 l 1.9,-1 h 1.9 v 0 1 l 1,1.9 1.9,-1 1.9,-1 1.9,-1 v 0 -1 l 2.9,-1 1.9,-1 h 2.9 l 1.9,1 v 0 l 2.9,-2.9 2.9,-1 v -1 l 1.9,-1.9 h 2.9 l 3.9,-1 h 1 1 1 1 l 1,-1 1,-1.9 4.8,-1.9 3.9,-2.9 -1,-2.9 -1.9,-2.9 1,-3.9 h 1 l 1,-1 -1.9,-1 h -1 -1 l -1,1 -1.9,1 -1.9,1 -1.9,1 -1.9,1 h -1 l -1,-1 -1,1.9 v 1 l -6.8,1.9 -5.8,1 -1,-1 -1,-1 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b;stroke-width:1.42859995" />
									<path
									id="vectormap1_KIR"
									class="path st1"
									d="m 226.1,283.5 -4.8,-1 -1.9,1.9 -3.9,2.9 -1.9,-1 -1.9,1 v 1.9 l 1,1 h 1.9 1 v 0 l -1,1 -1,1 1,1.9 -1.9,1.9 -1,1.9 -1,2.9 v 2.9 l -1.9,1 v 0 h -1 -1 -1 -1 v 1 l -1.9,-1 h -1 l -2.9,1.9 -1.9,1 2.9,3.9 2.9,3.9 -1,1 v 0 l -1.9,1 -1.9,1 -3.9,-1.9 -1,1 -1,1.9 -1,1 -1,1 1,1 1,1 1,1.9 h 2.9 1 l 1,1 h 1 1 l 1,1 1.9,1 v 1 0 l 1,-1 h 1.9 v 1 l -1,1.9 1,1 v 0 h 1 v 1.9 1 1 l 1,1 -1,1 -1,1 2.9,1 -1,2.9 v 1.9 h 1 v 1 h -1 l 1,2.9 1.9,1 1,-2.9 1,-3.9 h 1.9 l 1,-1 1,-3.9 1.9,-2.9 h 1.9 l 1,1 h 1.9 l 1.9,-1 1.9,-5.8 3.9,-1.9 1.9,1.9 1.9,1 h 1 1 l 1,1 v 1 l 1,1 h 1.9 l 1,-1 1.9,-1 1,-2.9 1,-1 -1.9,-1.9 v -2.9 l 4.8,-2.9 2.9,-3.9 -3.9,-2.9 -3.9,-3.9 v -1 h -2.9 l -3.9,1 -2.9,-1 -3.9,-1.9 v 1 h -1 -1 v 0 l -1.9,1.9 -2.9,1.9 v -1.9 l 1,-1 -1,-2.9 v -1.9 0 l -1,-1.9 -1.9,-1.9 1.9,-2.9 3.9,-1 v -1 -1.9 l 2.9,-4.8 -1.9,-1.9 -1,-2.9 z"
									inkscape:connector-curvature="0"
									style="fill:#16c9d4;stroke:#109b9b;stroke-width:1.42859995" />
								</g>
							</svg>
							<div class="map-russia__mark map-russia__mark_moscow wow animated zoomIn" data-wow-duration="1s">
								<span class="icon icon-map-mark"></span>
								<img src="images/arrow-bottom-right.png" alt="" class="map-russia__arrow">
								<div class="map-russia__content">679 клиентов в Москве</div>
							</div>
							<div class="map-russia__mark map-russia__mark_ekat wow animated zoomIn" data-wow-duration="1s" data-wow-delay="0.4s">
								<span class="icon icon-map-mark"></span>
								<img src="images/arrow-bottom-right.png" alt="" class="map-russia__arrow">
								<div class="map-russia__content">168 клиентов в Екатеринбурге</div>
							</div>
							<div class="map-russia__mark map-russia__mark_krasnodar wow animated zoomIn" data-wow-duration="1s" data-wow-delay="0.8s">
								<span class="icon icon-map-mark"></span>
								<img src="images/arrow-top-right.png" alt="" class="map-russia__arrow">
								<div class="map-russia__content">390 клиентов в Краснодаре</div>
							</div>
							<div class="map-russia__mark map-russia__mark_novsib wow animated zoomIn" data-wow-duration="1s" data-wow-delay="1.2s">
								<span class="icon icon-map-mark"></span>
								<img src="images/arrow-top-right.png" alt="" class="map-russia__arrow">
								<div class="map-russia__content">453 клиентов в Новосибирске</div>
							</div>
							<div class="map-russia__mark map-russia__mark_vladi wow animated zoomIn" data-wow-duration="1s" data-wow-delay="1.6s">
								<span class="icon icon-map-mark"></span>
								<img src="images/arrow-bottom-right.png" alt="" class="map-russia__arrow">
								<div class="map-russia__content">365 клиентов во Владивостоке</div>
							</div>
						</div>
						<div class="deliviery__info">
							<div class="row justify-content-between">
								<div class="deliviery__item wow animated bounceInLeft" data-wow-duration="1s">
									<div class="deliviery__content">
										<div>год начала работы нашей компании</div>
										<div class="deliviery__number deliviery__number_pink wow animated pulse infinite" data-wow-duration="3s"><strong>2015</strong></div>
									</div>
								</div>
								<div class="deliviery__item wow animated bounceInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
									<div class="deliviery__content">
										<div>городов по всей России</div>
										<div class="deliviery__number deliviery__number_red wow animated pulse infinite" data-wow-duration="3s">
											<span>более</span>
											<strong>400</strong>
										</div>
									</div>
								</div>
								<div class="deliviery__item wow animated bounceInLeft" data-wow-duration="1s" data-wow-delay="1s">
									<div class="deliviery__content">
										<div>отправок каждую неделю</div>
										<div class="deliviery__number deliviery__number_yellow wow animated pulse infinite" data-wow-duration="3s"><strong>90</strong></div>
									</div>
								</div>
								<div class="deliviery__item wow animated bounceInLeft" data-wow-duration="1s" data-wow-delay="1.5s">
									<div class="deliviery__content">
										<div>довольных родителей</div>
										<div class="deliviery__number deliviery__number_blue wow animated pulse infinite" data-wow-duration="3s"><strong>4230</strong></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>