@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-BlackItalic.eot');
	src: url('../fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Lato-BlackItalic.woff') format('woff'),
		 url('../fonts/Lato-BlackItalic.ttf') format('truetype'),
		 url('../fonts/Lato-BlackItalic.svg#Lato') format('svg');
	font-style: italic;
	font-weight: 900;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Bold.eot');
	src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Lato-Bold.woff') format('woff'),
		 url('../fonts/Lato-Bold.ttf') format('truetype'),
		 url('../fonts/Lato-Bold.svg#Lato') format('svg');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-BoldItalic.eot');
	src: url('../fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Lato-BoldItalic.woff') format('woff'),
		 url('../fonts/Lato-BoldItalic.ttf') format('truetype'),
		 url('../fonts/Lato-BoldItalic.svg#Lato') format('svg');
	font-style: italic;
	font-weight: 700;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Medium.eot');
	src: url('../fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Lato-Medium.woff') format('woff'),
		 url('../fonts/Lato-Medium.ttf') format('truetype'),
		 url('../fonts/Lato-Medium.svg#Lato') format('svg');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.eot');
	src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Lato-Regular.woff') format('woff'),
		 url('../fonts/Lato-Regular.ttf') format('truetype'),
		 url('../fonts/Lato-Regular.svg#Lato') format('svg');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Semibold.eot');
	src: url('../fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Lato-Semibold.woff') format('woff'),
		 url('../fonts/Lato-Semibold.ttf') format('truetype'),
		 url('../fonts/Lato-Semibold.svg#Lato') format('svg');
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-SemiboldItalic.eot');
	src: url('../fonts/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Lato-SemiboldItalic.woff') format('woff'),
		 url('../fonts/Lato-SemiboldItalic.ttf') format('truetype'),
		 url('../fonts/Lato-SemiboldItalic.svg#Lato') format('svg');
	font-style: italic;
	font-weight: 600;
}