@font-face {
	font-family: "iconsSvg";
	src: url('../fonts/iconsSvg.eot');
	src: url('../fonts/iconsSvg.eot?#iefix') format('eot'),
		url('../fonts/iconsSvg.woff2') format('woff2'),
		url('../fonts/iconsSvg.woff') format('woff'),
		url('../fonts/iconsSvg.ttf') format('truetype'),
		url('../fonts/iconsSvg.svg#iconsSvg') format('svg');
}

.iconSvg:before {
	font-family: "iconsSvg";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.iconSvg-bar:before {
	content: "\E001";
}

.iconSvg-ceck:before {
	content: "\E002";
}

.iconSvg-close:before {
	content: "\E003";
}

.iconSvg-lock:before {
	content: "\E004";
}
