// float clear
// ===============

@mixin clearfix() {
	&:before, &:after {
		content: '';
		display: table;
	}
	&:after {
		clear: both;
	}
}

// =============================================
// =============================================

/* миксин для списков*/
// ===============

// =============================================
// =============================================

// placeholder
// ===============


@mixin iph {
	&.placeholder {
		@content; 
	}
	&:-moz-placeholder {
		@content; 
	}
	&::-moz-placeholder {
		@content; 
	}
	&:-ms-input-placeholder {
		@content; 
	}
	&::-webkit-input-placeholder {
		@content; 
	}
}

// =============================================
// =============================================




// list clear
@mixin list-clr() {
	padding: 0;
	margin: 0;
	list-style: none;
}
// ==============

// margin-bottom clear
@mixin lmc() {
	& > * {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
// ===========


// list styling for maitedi
@mixin list-r() {
	li {
		position: relative;
		padding-left: 25px;
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);

			width: 11px;
			height: 11px;

			background-color: #000;
			border-radius: 50%;
		}
	}
}
// =============