/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-Stack {
  background-image: url(../images/sprites/sprite1.png);
  background-position: -99px -68px;
  width: 42px;
  height: 36px;
}
.icon-buggy {
  background-image: url(../images/sprites/sprite1.png);
  background-position: -60px -126px;
  width: 37px;
  height: 43px;
}
.icon-delete {
  background-image: url(../images/sprites/sprite1.png);
  background-position: -176px -126px;
  width: 32px;
  height: 32px;
}
.icon-heart-colored {
  background-image: url(../images/sprites/sprite1.png);
  background-position: 0px -60px;
  width: 54px;
  height: 46px;
}
.icon-heart-white {
  background-image: url(../images/sprites/sprite1.png);
  background-position: -165px 0px;
  width: 50px;
  height: 41px;
}
.icon-many {
  background-image: url(../images/sprites/sprite1.png);
  background-position: 0px 0px;
  width: 79px;
  height: 40px;
}
.icon-map-mark {
  background-image: url(../images/sprites/sprite1.png);
  background-position: 0px -126px;
  width: 40px;
  height: 49px;
}
.icon-menu {
  background-image: url(../images/sprites/sprite1.png);
  background-position: -49px -195px;
  width: 32px;
  height: 32px;
}
.icon-mounts-time {
  background-image: url(../images/sprites/sprite1.png);
  background-position: -117px -126px;
  width: 39px;
  height: 39px;
}
.icon-nipple {
  background-image: url(../images/sprites/sprite1.png);
  background-position: -235px 0px;
  width: 26px;
  height: 53px;
}
.icon-number {
  background-image: url(../images/sprites/sprite1.png);
  background-position: -165px -61px;
  width: 43px;
  height: 42px;
}
.icon-phone {
  background-image: url(../images/sprites/sprite1.png);
  background-position: -235px -73px;
  width: 17px;
  height: 19px;
}
.icon-size {
  background-image: url(../images/sprites/sprite1.png);
  background-position: 0px -195px;
  width: 29px;
  height: 40px;
}
.icon-temp {
  background-image: url(../images/sprites/sprite1.png);
  background-position: -99px 0px;
  width: 46px;
  height: 48px;
}
