img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: #333;
	&:hover {
		color: #333;
	}
	&:focus {
		outline: none;
	}
}
html {
	
}
body {
	font-family: $font;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.15;
	color: #34353c;
	position: relative;
}

.pixelperfect {
	position: absolute;
	top: 0;
	left: 0;
	background: url("../images/main3.jpg") 0 0 no-repeat;
	z-index: 0;
	width: 100%;
	height: 100%;
	opacity: .3;
}
.container-fluid {
	max-width: 1330px;
	margin-left: auto;
	margin-right: auto;
}


.col-full-mob {
	@media only screen and(max-width: 400px) {
		flex: 0 0 100%;
		max-width: 100%;
	}
}



.table-wrap {
	overflow: auto;
}
.padding {
	padding-left: 15px;
	padding-right: 15px;
}
.no-paddings {
	padding-left: 0;
	padding-right: 0;
}
.list-clr {
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
}
.icon {
	display: inline-block;
	margin-right: 10px;
}
.icon-minus {
	display: block;
	width: 55px;
	height: 55px;
	border: 1px solid #000;
	border-radius: 50%;
	position: relative;
	&:before {
		content: '';

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #000;
		height: 3px;
		width: 33px;
	}
}
.icon-plus {
	display: block;
	width: 55px;
	height: 55px;
	border: 1px solid #000;
	border-radius: 50%;
	position: relative;
	&:before {
		content: '';

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #000;
		height: 3px;
		width: 33px;
	}
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 3px;
		height: 33px;
		background-color: #000;
	}
}
.icon-heart-colored, .icon-heart-white {
	animation-name: bounceIn;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
.icon-plus.icon-plus_white, .icon-minus.icon-minus_white {
	border-color: #fff;
	&:before, &:after {
		background-color: #fff;
	}
}
.icon-plus.icon-plus_blue, .icon-minus.icon-minus_blue {
	border-color: #3c509e;
	&:before, &:after {
		background-color: #3c509e;
	}
}
.icon-plus.icon-plus_red, .icon-minus.icon-minus_red {
	border-color: #f24559;
	&:before, &:after {
		background-color: #f24559;
	}
}
input, textarea {
	&:focus {
		outline: none;
	}
}
button, input[type="submit"] {
	cursor: pointer;
	&:focus {
		outline: none;
	}
}

.mb-0 {
	margin-bottom: 0;
}
.mb-sm-0 {
	@include sm() {
		margin-bottom: 0 !important;
	}
}
.mb-md-0 {
	@include md() {
		margin-bottom: 0 !important;
	}
}
.mb-lg-0 {
	@include lg() {
		margin-bottom: 0 !important;
	}
}
.mb-xl-0 {
	@include xl() {
		margin-bottom: 0 !important;
	}
}

.mb-5 {
	margin-bottom: 5px !important;
}
.mb-sm-5 {
	@include sm() {
		margin-bottom: 5px !important;
	}
}
.mb-md-5 {
	@include md() {
		margin-bottom: 5px !important;
	}
}
.mb-lg-5 {
	@include lg() {
		margin-bottom: 5px !important;
	}
}
.mb-xl-5 {
	@include xl() {
		margin-bottom: 5px !important;
	}
}

.mb-10 {
	margin-bottom: 10px;
}
.mb-sm-10 {
	@include sm() {
		margin-bottom: 10px !important;
	}
}
.mb-md-10 {
	@include md() {
		margin-bottom: 10px !important;
	}
}
.mb-lg-10 {
	@include lg() {
		margin-bottom: 10px !important;
	}
}
.mb-xl-10 {
	@include xl() {
		margin-bottom: 10px !important;
	}
}


.mb-20 {
	margin-bottom: 20px;
}
.mb-sm-20 {
	@include sm() {
		margin-bottom: 20px !important;
	}
}
.mb-md-20 {
	@include md() {
		margin-bottom: 20px !important;
	}
}
.mb-lg-20 {
	@include lg() {
		margin-bottom: 20px !important;
	}
}
.mb-xl-20 {
	@include xl() {
		margin-bottom: 20px !important;
	}
}

.mb-30 {
	margin-bottom: 30px;
}
.mb-sm-30 {
	@include sm() {
		margin-bottom: 30px !important;
	}
}
.mb-md-30 {
	@include md() {
		margin-bottom: 30px !important;
	}
}
.mb-lg-30 {
	@include lg() {
		margin-bottom: 30px !important;
	}
}
.mb-xl-30 {
	@include xl() {
		margin-bottom: 30px !important;
	}
}

.mb-40 {
	margin-bottom: 40px;
}
.mb-sm-40 {
	@include sm() {
		margin-bottom: 40px !important;
	}
}
.mb-md-40 {
	@include md() {
		margin-bottom: 40px !important;
	}
}
.mb-lg-40 {
	@include lg() {
		margin-bottom: 40px !important;
	}
}
.mb-xl-40 {
	@include xl() {
		margin-bottom: 40px !important;
	}
}

.mb-50 {
	margin-bottom: 50px;
}
.mb-sm-50 {
	@include sm() {
		margin-bottom: 50px !important;
	}
}
.mb-md-50 {
	@include md() {
		margin-bottom: 50px !important;
	}
}
.mb-lg-50 {
	@include lg() {
		margin-bottom: 50px !important;
	}
}
.mb-xl-50 {
	@include xl() {
		margin-bottom: 50px !important;
	}
}

.mt-0 {
	margin-top: 0;
}
.mt-sm-0 {
	@include sm() {
		margin-top: 0 !important;
	}
}
.mt-md-0 {
	@include md() {
		margin-top: 0 !important;
	}
}
.mt-lg-0 {
	@include lg() {
		margin-top: 0 !important;
	}
}
.mt-xl-0 {
	@include xl() {
		margin-top: 0 !important;
	}
}

.mt-10 {
	margin-top: 10px;
}
.mt-sm-10 {
	@include sm() {
		margin-top: 10px !important;
	}
}
.mt-md-10 {
	@include md() {
		margin-top: 10px !important;
	}
}
.mt-lg-10 {
	@include lg() {
		margin-top: 10px !important;
	}
}
.mt-xl-10 {
	@include xl() {
		margin-top: 10px !important;
	}
}


.mt-20 {
	margin-top: 20px;
}
.mt-sm-20 {
	@include sm() {
		margin-top: 20px !important;
	}
}
.mt-md-20 {
	@include md() {
		margin-top: 20px !important;
	}
}
.mt-lg-20 {
	@include lg() {
		margin-top: 20px !important;
	}
}
.mt-xl-20 {
	@include xl() {
		margin-top: 20px !important;
	}
}

.mt-30 {
	margin-top: 30px;
}
.mt-sm-30 {
	@include sm() {
		margin-top: 30px !important;
	}
}
.mt-md-30 {
	@include md() {
		margin-top: 30px !important;
	}
}
.mt-lg-30 {
	@include lg() {
		margin-top: 30px !important;
	}
}
.mt-xl-30 {
	@include xl() {
		margin-top: 30px !important;
	}
}









.mr-0 {
	margin-right: 0 !important;
}
.mr-sm-0 {
	@include sm() {
		margin-right: 0 !important;
	}
}
.mr-md-0 {
	@include md() {
		margin-right: 0 !important;
	}
}
.mr-lg-0 {
	@include lg() {
		margin-right: 0 !important;
	}
}
.mr-xl-0 {
	@include xl() {
		margin-right: 0 !important;
	}
}

.mr-5 {
	margin-right: 5px !important;
}
.mr-sm-5 {
	@include sm() {
		margin-right: 5px !important;
	}
}
.mr-md-5 {
	@include md() {
		margin-right: 5px !important;
	}
}
.mr-lg-5 {
	@include lg() {
		margin-right: 5px !important;
	}
}
.mr-xl-5 {
	@include xl() {
		margin-right: 5px !important;
	}
}

.mr-10 {
	margin-right: 10px !important;
}
.mr-sm-10 {
	@include sm() {
		margin-right: 10px !important;
	}
}
.mr-md-10 {
	@include md() {
		margin-right: 10px !important;
	}
}
.mr-lg-10 {
	@include lg() {
		margin-right: 10px !important;
	}
}
.mr-xl-10 {
	@include xl() {
		margin-right: 10px !important;
	}
}

.mr-15 {
	margin-right: 15px !important;
}
.mr-sm-15 {
	@include sm() {
		margin-right: 15px !important;
	}
}
.mr-md-15 {
	@include md() {
		margin-right: 15px !important;
	}
}
.mr-lg-15 {
	@include lg() {
		margin-right: 15px !important;
	}
}
.mr-xl-15 {
	@include xl() {
		margin-right: 15px !important;
	}
}

.mr-20 {
	margin-right: 20px !important;
}
.mr-sm-20 {
	@include sm() {
		margin-right: 20px !important;
	}
}
.mr-md-20 {
	@include md() {
		margin-right: 20px !important;
	}
}
.mr-lg-20 {
	@include lg() {
		margin-right: 20px !important;
	}
}
.mr-xl-20 {
	@include xl() {
		margin-right: 20px !important;
	}
}

.mr-30 {
	margin-right: 30px !important;
}
.mr-sm-30 {
	@include sm() {
		margin-right: 30px !important;
	}
}
.mr-md-30 {
	@include md() {
		margin-right: 30px !important;
	}
}
.mr-lg-30 {
	@include lg() {
		margin-right: 30px !important;
	}
}
.mr-xl-30 {
	@include xl() {
		margin-right: 30px !important;
	}
}


.ml-5 {
	margin-left: 5px !important;
}
.ml-sm-5 {
	@include sm() {
		margin-left: 5px !important;
	}
}
.ml-md-5 {
	@include md() {
		margin-left: 5px !important;
	}
}
.ml-lg-5 {
	@include lg() {
		margin-left: 5px !important;
	}
}
.ml-xl-5 {
	@include xl() {
		margin-left: 5px !important;
	}
}

.ml-10 {
	margin-left: 10px !important;
}
.ml-sm-10 {
	@include sm() {
		margin-left: 10px !important;
	}
}
.ml-md-10 {
	@include md() {
		margin-left: 10px !important;
	}
}
.ml-lg-10 {
	@include lg() {
		margin-left: 10px !important;
	}
}
.ml-xl-10 {
	@include xl() {
		margin-left: 10px !important;
	}
}

.ml-20 {
	margin-left: 20px !important;
}
.ml-sm-20 {
	@include sm() {
		margin-left: 20px !important;
	}
}
.ml-md-20 {
	@include md() {
		margin-left: 20px !important;
	}
}
.ml-lg-20 {
	@include lg() {
		margin-left: 20px !important;
	}
}
.ml-xl-20 {
	@include xl() {
		margin-left: 20px !important;
	}
}

.ml-30 {
	margin-left: 30px !important;
}
.ml-sm-30 {
	@include sm() {
		margin-left: 30px !important;
	}
}
.ml-md-30 {
	@include md() {
		margin-left: 30px !important;
	}
}
.ml-lg-30 {
	@include lg() {
		margin-left: 30px !important;
	}
}
.ml-xl-30 {
	@include xl() {
		margin-left: 30px !important;
	}
}



.pt-10 {
	padding-top: 10px !important;
}
.pt-sm-10 {
	@include sm() {
		padding-top: 10px !important;
	}
}
.pt-md-10 {
	@include md() {
		padding-top: 10px !important;
	}
}
.pt-lg-10 {
	@include lg() {
		padding-top: 10px !important;
	}
}
.pt-xl-10 {
	@include xl() {
		padding-top: 10px !important;
	}
}

.pt-20 {
	padding-top: 20px !important;
}
.pt-sm-20 {
	@include sm() {
		padding-top: 20px !important;
	}
}
.pt-md-20 {
	@include md() {
		padding-top: 20px !important;
	}
}
.pt-lg-20 {
	@include lg() {
		padding-top: 20px !important;
	}
}
.pt-xl-20 {
	@include xl() {
		padding-top: 20px !important;
	}
}
.pt-30 {
	padding-top: 30px !important;
}
.pt-sm-30 {
	@include sm() {
		padding-top: 30px !important;
	}
}
.pt-md-30 {
	@include md() {
		padding-top: 30px !important;
	}
}
.pt-lg-30 {
	@include lg() {
		padding-top: 30px !important;
	}
}
.pt-xl-30 {
	@include xl() {
		padding-top: 30px !important;
	}
}

.pb-10 {
	padding-bottom: 10px !important;
}
.pb-sm-10 {
	@include sm() {
		padding-bottom: 10px !important;
	}
}
.pb-md-10 {
	@include md() {
		padding-bottom: 10px !important;
	}
}
.pb-lg-10 {
	@include lg() {
		padding-bottom: 10px !important;
	}
}
.pb-xl-10 {
	@include xl() {
		padding-bottom: 10px !important;
	}
}

.pb-20 {
	padding-bottom: 20px !important;
}
.pb-sm-20 {
	@include sm() {
		padding-bottom: 20px !important;
	}
}
.pb-md-20 {
	@include md() {
		padding-bottom: 20px !important;
	}
}
.pb-lg-20 {
	@include lg() {
		padding-bottom: 20px !important;
	}
}
.pb-xl-20 {
	@include xl() {
		padding-bottom: 20px !important;
	}
}

.pb-30 {
	padding-bottom: 30px !important;
}
.pb-sm-30 {
	@include sm() {
		padding-bottom: 30px !important;
	}
}
.pb-md-30 {
	@include md() {
		padding-bottom: 30px !important;
	}
}
.pb-lg-30 {
	@include lg() {
		padding-bottom: 30px !important;
	}
}
.pb-xl-30 {
	@include xl() {
		padding-bottom: 30px !important;
	}
}

.pb-40 {
	padding-bottom: 40px !important;
}
.pb-sm-40 {
	@include sm() {
		padding-bottom: 40px !important;
	}
}
.pb-md-40 {
	@include md() {
		padding-bottom: 40px !important;
	}
}
.pb-lg-40 {
	@include lg() {
		padding-bottom: 40px !important;
	}
}
.pb-xl-40 {
	@include xl() {
		padding-bottom: 40px !important;
	}
}


.blue-gradient {
	background: -webkit-linear-gradient(left, rgb(0, 84, 170) 0%, rgb(0, 105, 173) 100%);
	background: -o-linear-gradient(left, rgb(0, 84, 170) 0%, rgb(0, 105, 173) 100%);
	background: -ms-linear-gradient(left, rgb(0, 84, 170) 0%, rgb(0, 105, 173) 100%);
	background: -moz-linear-gradient(left, rgb(0, 84, 170) 0%, rgb(0, 105, 173) 100%);
	background: linear-gradient(to right, rgb(0, 84, 170) 0%, rgb(0, 105, 173) 100%);

}

.ovh {
	overflow: hidden;
}
.leftSide {
	animation-name: leftSideAnimation;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}
@-webkit-keyframes leftSideAnimation {
	from {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(-10px, -10px);
	}
	to { transform: translate(0, 0); }
}
@-o-keyframes leftSideAnimation {
	from {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(-10px, -10px);
	}
	to { transform: translate(0, 0); }
}
@-moz-keyframes leftSideAnimation {
	from {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(-10px, -10px);
	}
	to { transform: translate(0, 0); }
}
@keyframes leftSideAnimation {
	from {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(-10px, -10px);
	}
	to { transform: translate(0, 0); }
}
.leftSideBigger {
	animation-name: leftSideAnimation;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
}


.leftSideDirect {
	animation-name: leftSideAnimationD;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}
.leftSideDirectFaster {
	animation-name: leftSideAnimationD;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
@-webkit-keyframes leftSideAnimationD {
	from {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(-10px, 0);
	}
	to { transform: translate(0, 0); }
}
@-o-keyframes leftSideAnimationD {
	from {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(-10px, 0);
	}
	to { transform: translate(0, 0); }
}
@-moz-keyframes leftSideAnimationD {
	from {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(-10px, 0);
	}
	to { transform: translate(0, 0); }
}
@keyframes leftSideAnimationD {
	from {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(-10px, 0);
	}
	to { transform: translate(0, 0); }
}


.rightSide {
	animation-name: rightSideAnimation;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}
@-webkit-keyframes rightSideAnimation {
	from {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(15px, -15px);
	}
	to { transform: translate(0, 0); }
}
@-o-keyframes rightSideAnimation {
	from {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(15px, -15px);
	}
	to { transform: translate(0, 0); }
}
@-moz-keyframes rightSideAnimation {
	from {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(15px, -15px);
	}
	to { transform: translate(0, 0); }
}
@keyframes rightSideAnimation {
	from {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(15px, -15px);
	}
	to { transform: translate(0, 0); }
}


.rightSideDirection {
	animation-name: rightSideAnimationD;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}
@-webkit-keyframes rightSideAnimationD {
	from {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(15px, 0);
	}
	to { transform: translate(0, 0); }
}
@-o-keyframes rightSideAnimationD {
	from {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(15px, 0);
	}
	to { transform: translate(0, 0); }
}
@-moz-keyframes rightSideAnimationD {
	from {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(15px, 0);
	}
	to { transform: translate(0, 0); }
}
@keyframes rightSideAnimationD {
	from {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(15px, 0);
	}
	to { transform: translate(0, 0); }
}



.circleMove {
	animation-name: circleMove;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
@-webkit-keyframes circleMove {
	from {
		transform: rotate(0deg)
			translate(-400px)
			rotate(0deg);
	}
	to {
		transform: rotate(360deg)
			translate(-400px) 
			rotate(-360deg);
	}
}
@-o-keyframes circleMove {
	from {
		transform: rotate(0deg)
			translate(-400px)
			rotate(0deg);
	}
	to {
		transform: rotate(360deg)
			translate(-400px) 
			rotate(-360deg);
	}
}
@-moz-keyframes circleMove {
	from {
		transform: rotate(0deg)
			translate(-400px)
			rotate(0deg);
	}
	to {
		transform: rotate(360deg)
			translate(-400px) 
			rotate(-360deg);
	}
}
@keyframes circleMove {
	from {
		transform: rotate(0deg)
			translate(-400px)
			rotate(0deg);
	}
	to {
		transform: rotate(360deg)
			translate(-400px) 
			rotate(-360deg);
	}
}
.circleMove2 {
	animation-name: circleMove2;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
@-webkit-keyframes circleMove2 {
	from {
		transform: rotate(0deg)
			translate(-300px)
			rotate(0deg);
	}
	to {
		transform: rotate(360deg)
			translate(-300px) 
			rotate(-360deg);
	}
}
@-o-keyframes circleMove2 {
	from {
		transform: rotate(0deg)
			translate(-300px)
			rotate(0deg);
	}
	to {
		transform: rotate(360deg)
			translate(-300px) 
			rotate(-360deg);
	}
}
@-moz-keyframes circleMove2 {
	from {
		transform: rotate(0deg)
			translate(-300px)
			rotate(0deg);
	}
	to {
		transform: rotate(360deg)
			translate(-300px) 
			rotate(-360deg);
	}
}
@keyframes circleMove2 {
	from {
		transform: rotate(0deg)
			translate(-300px)
			rotate(0deg);
	}
	to {
		transform: rotate(360deg)
			translate(-300px) 
			rotate(-360deg);
	}
}
.circleMove3 {
	animation-name: circleMove3;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
@-webkit-keyframes circleMove3 {
	from {
		transform: rotate(0deg)
			translate(-190px)
			rotate(0deg);
	}
	to {
		transform: rotate(360deg)
			translate(-190px) 
			rotate(-360deg);
	}
}
@-o-keyframes circleMove3 {
	from {
		transform: rotate(0deg)
			translate(-190px)
			rotate(0deg);
	}
	to {
		transform: rotate(360deg)
			translate(-190px) 
			rotate(-360deg);
	}
}
@-moz-keyframes circleMove3 {
	from {
		transform: rotate(0deg)
			translate(-190px)
			rotate(0deg);
	}
	to {
		transform: rotate(360deg)
			translate(-190px) 
			rotate(-360deg);
	}
}
@keyframes circleMove3 {
	from {
		transform: rotate(0deg)
			translate(-190px)
			rotate(0deg);
	}
	to {
		transform: rotate(360deg)
			translate(-190px) 
			rotate(-360deg);
	}
}


.cloud-move {
	animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: -1000px;}
	100% {margin-left: 1000px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: -1000px;}
	100% {margin-left: 1000px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: -1000px;}
	100% {margin-left: 1000px;}
}
@keyframes moveclouds {
	0% {margin-left: -1000px;}
	100% {margin-left: 1000px;}
}


.cloud-move-reverse {
	animation: movecloudsReverse 20s linear infinite;
}
@-webkit-keyframes moveCloudsReverse {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-moz-keyframes moveCloudsReverse {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-o-keyframes moveCloudsReverse {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@keyframes moveCloudsReverse {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}