.bag-for-every {
	padding: 22px 0 20px;
	position: relative;	
	// min-height: 3252px;
	z-index: 3;
	.title {
		padding-left: 23px;
		max-width: 1060px;
		margin-bottom: 75px;
		.icon {
			top: 3px;
		}
		h3 {
			@media only screen and (max-width: 1919px) {
				color: #fff;
			}
		}
	}
	@media only screen and (max-width: 1919px) {
		background-color: #284690;
	}
	@include mmd() {
	}
}

.bag-for-every__main-bg {
	position: absolute;
	top: 205px;
	left: 0;
	width: 102%;
	max-width: none;
}
.bag-for-every__bg-part {
	position: absolute;
	top: 527px;
	left: 0;
}
.bag-for-every__bg-part2 {
	position: absolute;
	bottom: 270px;
	right: 10px;
}
.bag-for-every__cloud {
	position: absolute;
	left: 96%;
	top: 760px;
	transform: rotateY(-180deg);
	@include mmd() {
		display: none;
	}
}
.bag-for-every__cloud_second {
	top: 1615px;
	right: auto;
	left: 60px;
}

.bag-for-every__list {
	padding-right: 100px;
	margin-bottom: 100px;
	@media only screen and (max-width: 1919px) {
		padding-right: 0;
	}
	.bag-for-every__item {
		position: relative;
		width: 100%;
		font-size: 35px;
		line-height: 42px;
		color: #34353c;
		font-weight: 600;

		background-color: #fff;
		@include mmd() {
			padding-top: 70px !important;
			font-size: 25px !important;
			line-height: 32px !important;
		}
		@include msm() {
			font-size: 20px !important;
			line-height: 26px !important;
			padding-left: 10px !important;
		}
		p {
			margin-bottom: 0;
		}
		.icon {
			position: absolute;
			bottom: 30px;
			@include mmd() {
				left: 10px !important;
				right: auto !important;
				bottom: auto;
				top: 10px;
			}
			@include msm() {
				right: 5px !important;
			}
		}
		&:nth-child(4n+1) {
			background-color: #f24559;
			padding: 95px 80px 95px;
			color: #fff;

			// flex: 0 0 545px;
			// max-width: 545px;
			@include md() {
				flex: 0 0 54.5%;
				max-width: 54.5%;
				min-height: 420px;
			}
			.icon {
				// bottom: 30px;
				left: 30px;
			}
			@include mxl() {
				padding: 30px;
			}
		}
		&:nth-child(4n+2) {
			padding: 98px 30px 25px 55px;

			// flex: 0 0 459px;
			// max-width: 459px;
			@include md() {
				flex: 0 0 45.5%;
				max-width: 45.5%;
				min-height: 420px;
			}
			font-size: 32px;
			line-height: 39px;
			.icon {
				right: 26px;
				// bottom: 30px;
			}
			@include mxl() {
				padding: 30px;
				font-size: 28px;
				line-height: 35px;
			}
		}
		&:nth-child(4n+3) {
			font-size: 30px;
			line-height: 37px;
			padding: 50px 20px 75px 42px;
			// flex: 0 0 412px;
			// max-width: 412px;
			@include md() {
				flex: 0 0 41.2%;
				max-width: 41.2%;
				min-height: 315px;
			}
			background-color: #fff;
			.icon {
				left: 20px;
				bottom: 20px;
			}
			@include mxl() {
				padding: 30px;
			}
		}
		&:nth-child(4n+4) {
			font-size: 33px;
			line-height: 40px;
			padding: 80px 43px 125px 45px;
			// flex: 0 0 458px;
			// max-width: 458px;
			@include md() {
				flex: 0 0 45.5%;
				max-width: 45.5%;
				min-height: 375px;
			}
			background-color: #3c509e;
			color: #fff;
			.icon {
				right: 25px;
				bottom: 33px;
			}
			@include mxl() {
				padding: 30px;
			}
		}
	}
}
.bag-for-every__list-in {
	width: 100%;
	flex: 0 0 1030px;
	max-width: 1030px;
	@media only screen and (max-width: 1919px) {
		max-width: none;
		flex: 1 1 auto;
	}
}


.bag-for-every__list-reverse {
	padding-left: 60px;
	margin-bottom: 90px;
	@include mmd() {
		padding-left: 0;
		margin-bottom: 20px;
	}
	.bag-for-every__list-in {
		flex: 0 0 1045px;
		max-width: 1045px;
		@media only screen and (max-width: 1919px) {
			max-width: none;
			flex: 1 1 auto;
		}
		.row {
		}
	}
	.bag-for-every__item {
		position: relative;
		background-color: #fff;
		color: #34353c;
		font-size: 32px;
		line-height: 40px;
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@include mmd() {
			padding: 20px !important;
			padding-top: 70px !important;
			font-size: 25px !important;
			line-height: 32px !important;
		}
		@include msm() {
			font-size: 20px !important;
			line-height: 26px !important;
			padding-left: 10px !important;
		}
		p {
			margin-bottom: 0;
		}
		.icon {
			position: absolute;
			@include mmd() {
				left: 10px !important;
				right: auto !important;
				bottom: auto;
				top: 10px;
			}
			@include msm() {
				right: 5px !important;
			}
		}
		&:nth-child(4n+1) {
			// 470
			@include md() {
				flex: 0 0 46.3%;
				max-width: 46.3%;
				min-height: 378px;
			}
			padding-left: 27px;
			padding-right: 20px;
			padding-bottom: 50px;
			@media only screen and (max-width: 1919px) {
				padding-bottom: 90px;
			}

			line-height: 38px;
			margin-top: auto;
			.icon {
				bottom: 25px;
				left: 21px;
			}
		}
		&:nth-child(4n+2) {
			background-color: #f24559;
			@include md() {
				// max-width: 540px;
				// flex: 0 0 540px;
				max-width: 53.2%;
				flex: 0 0 53.2%;
				min-height: 420px;
			}
			padding-left: 60px;
			padding-right: 40px;
			color: #fff;
			font-size: 35px;
			line-height: 42px;
			padding-bottom: 38px;
			.icon {
				bottom: 35px;
				right: 16px;
			}
		}
		&:nth-child(4n+3) {
			background-color: #3c509e;
			// max-width: 470px;
			// flex: 0 0 470px;
			// min-height: 380px;
			@include md() {
				flex: 0 0 46.3%;
				max-width: 46.3%;
				min-height: 380px;
			}
			padding-left: 38px;
			padding-right: 35px;
			padding-bottom: 48px;

			color: #fff;
			font-size: 35px;
			line-height: 42px;
			.icon {
				left: 33px;
				bottom: 38px;
			}
		}
		&:nth-child(4n+4) {
			background-color: #fff;
			// max-width: 480px;
			// flex: 0 0 480px;
			// min-height: 325px;
			@include md() {
				flex: 0 0 47.3%;
				max-width: 47.3%;
				min-height: 325px;
				
			}
			padding-left: 55px;
			padding-right: 55px;
			padding-bottom: 50px;
			font-size: 30px;
			line-height: 36px;
			margin-bottom: auto;
			.icon {
				right: 10px;
				bottom: 24px;
			}
		}
	}
}

