.call-us {
	background-color: #28397b;
	position: relative;
	padding: 40px 0;
	@media only screen and (min-width: 1920px) {
		min-height: 465px;
	}
	@include mxl() {
		padding: 20px 0;
	}
}
.call-us_position {
	// margin-top: -135px;
}

.call-us__number {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -20px;
	margin-top: -32px;
	transform: translate(-50%, -50%);
	font-weight: 700;
	font-style: italic;
	color: #f24559;
	width: 100%;
	max-width: 1651px;
	@media only screen and (max-width: 1720px) {
		padding-left: 30px;
		padding-right: 30px;
	}
	@include mmd() {
		position: static;
		margin: 0;
		transform: none;
		top: auto;
		left: auto;
	}
}
.call-us__content-wrap {
	width: 100%;
	max-width: 679px;
	margin-left: 43%;
	padding-left: 15px;
	padding-right: 15px;
	@include mmd() {
		max-width: none;
		margin-left: 0;
	}
}
.call-us__content {
	position: relative;
	left: -12px;
	color: #fff;
	@include mmd() {
		left: 0;
	}
	h3 {
		font-size: 40px;
		line-height: 46px;
		font-weight: 700;
		font-style: italic;
		margin-bottom: 15px;
		@include mlg() {
			font-size: 30px;
			line-height: 36px;
		}
		@include msm() {
			font-size: 26px;
			line-height: 32px;
		}
	}
	p {
		font-size: 28px;
		line-height: 35px;
		margin-bottom: 37px;
		@include mlg() {
			font-size: 23px;
			line-height: 30px;
			margin-bottom: 15px;
		}
		@include msm() {
			font-size: 18px;
			line-height: 23px;
		}
		span{
			display: block;
		}
	}
	a {
		color: #fff;
		font-size: 45px;
		line-height: 46px;
		display: block;
		margin-bottom: 15px;
		@include mlg() {
			font-size: 36px;
			line-height: 37px;
		}
		@include msm() {
			font-size: 26px;
			line-height: 34px;
		}
	}
	strong {
		font-size: 28px;
		font-weight: 700;
		font-style: italic;
		top: -4px;
		position: relative;
		@include mlg() {
			font-size: 23px;
			line-height: 30px;
		}
		@include msm() {
			font-size: 18px;
			line-height: 25px;
		}
		span {
			text-transform: uppercase;
		}
	}
}