.content {
	& > * {
		&:last-child {
			margin-bottom: 0;
		}
	}
	p {
		font-size: 27px;
		line-height: 36px;
		color: #34353c;
		margin-bottom: 36px;
	}
	ul {
		margin-bottom: 35px;
		li {
			font-size: 27px;
			line-height: 60px;
			padding-left: 64px;
			position: relative;
		}
		.icon {
			position: absolute;
			top: 7px;
			left: 9px;
		}
	}
	.order_offset {
		margin-left: 26%;
		@include msm() {
			margin-left: 0;
		}
	}
}