.deliviery-outer {
	position: relative;
}
.deliviery {
	// background-color: #36488d;
	position: relative;
	overflow: hidden;
	padding-top: 37px;
	min-height: 1716px;
	& > img {
		position: absolute;
	}
	.container-fluid {
		max-width: 1600px;
	}
	@media only screen and (max-width: 1649px) {
		background-color: #36488d;
	}
}
.deliviery__title {
	margin-bottom: 12px;
	h3 {
		padding-top: 58px;
		color: #fff;
	}
}

.deliviery__bg-left {
	left: 0;
	top: 40px;
	@include mxl() {
		max-width: 400px;
	}
	@include msm() {
		max-width: 200px;
	}
}
.deliviery__bg-right {
	right: -20px;
	top: 48px;
	@include mxl() {
		max-width: 400px;
	}
	@include msm() {
		max-width: 200px;
	}
}
.deliviery__bg-bottom {
	max-width: none;
	top: 0;
	left: 0;
	width: 102%;
	position: absolute;
	height: 100%;
	@media only screen and (max-width: 1649px) {
		height: 1800px;
	}
}
.deliviery__map {
	margin-bottom: 225px;
	@media only screen and (max-width: 1649px) {
		margin-bottom: 180px;
	}
	@include mxl() {
		margin-bottom: 100px;
	}
}

.deliviery__info {
	// padding-right: 50px;
	.row {
		@media only screen and (min-width: 1920px) {
			justify-content: space-between !important;
		}
	}
}
.deliviery__item {
	flex: 0 0 360px;
	max-width: 360px;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 20px;
	@include msm() {
		flex: 0 1 auto;
		max-width: none;
		margin-bottom: 30px;
	}
}

.deliviery__content {
	border-radius: 50%;
	width: 326px;
	height: 326px;
	border: 4px solid #9ba4c6;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;

	padding: 40px;

	color: #fff;
	font-size: 27px;
	line-height: 35px;
	font-weight: 600;
	font-style: italic;
	text-align: center;
	@include msm() {
		width: 273px;
		height: 273px;
		margin-left: auto;
		margin-right: auto;
	}
}

.deliviery__number {
	width: 126px;
	height: 126px;
	position: absolute;
	top: -40px;
	left: 0;
	// top: 50%;
	// left: 50%;
	// margin-left: -63px;
	// margin-top: -63px;

	color: #fff;
	// font-size: 39px;
	// line-height: 41px;
	// font-weight: 600;
	// font-style: italic;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	border-radius: 50%;

	// animation-name: circleMove3;
	// animation-duration: 20s;
	// animation-iteration-count: infinite;
	span {
		position: relative;
		display: inline-block;
		margin-bottom: -11px;
	}
	strong {
		font-size: 39px;
		line-height: 41px;
		font-weight: 600;
		font-style: italic;
	}
}
.deliviery__number_pink {
	background-color: #f06eaa;
}
.deliviery__number_red {
	background-color: #f24559;
}
.deliviery__number_yellow {
	background-color: #f5be67;
}
.deliviery__number_blue {
	background-color: #00aeef;
}