.faq {
	// background: url("../images/faq-bg.png") 50% 50% no-repeat;
	// background-size: cover;
	padding-top: 205px;
	min-height: 1434px;
	position: relative;
	z-index: 2;
	// overflow: hidden;
	background-color: #eaf2f6;
	@include mmd() {
		padding-bottom: 30px;
		padding-top: 30px;
	}
}

.faq__main-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 102%;
	// height: 100%;
	height: 1760px;
	max-width: none;
	@media only screen and (max-width: 1919px) {
		height: 1650px;
	}
	@include msm() {
		// height: 1800px;
	}
	// object-fit: cover;
	@include mmd() {
		
	}
}
.faq__title {
	margin-bottom: 85px;
	@include mmd() {
		margin-bottom: 30px;
	}
}
.faq__content {
	position: relative;
	max-width: 980px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 35px;
	@include lmc();
	@include mmd() {
		padding-left: 0;
	}
	h4 {
		color: #f24559;
		font-weight: 600;
		font-style: italic;
		font-size: 30px;
		line-height: 46px;
		margin-bottom: 18px;
		@include mmd() {
			font-size: 24px;
			line-height: 30px;
			margin-bottom: 10px;
		}
	}
	p {
		font-size: 25px;
		font-weight: 600;
		margin-bottom: 7px;
		@include mmd() {
			font-size: 20px;
			line-height: 25px;
		}
	}
	ul {
		@include list-clr();
		@include list-r();
		li {
			font-size: 25px;
			line-height: 30px;
			padding-left: 36px;
			@include mmd() {
				font-size: 20px;
				line-height: 25px;
			}
			&:before {
				background-color: #ff6678;
			}
		}
	}
}
.faq__item {
	// @include lmc();
	margin-bottom: 43px;
	padding-bottom: 1px;
	@include mmd() {
		margin-bottom: 20px;
	}
	&:nth-child(even) {
		padding-left: 29%;
		@include mmd() {
			padding-left: 20px;
		}
	}
	&:last-child {
		padding-left: 4%;
		margin-top: -10px;
		padding-right: 20%;
	}
}