.footer {
	background-color: #28397b;
	overflow: hidden;
	padding-top: 93px;
	padding-bottom: 90px;
	position: relative;
	@include md() {
		min-height: 681px;
	}
	@include mmd() {
		padding: 30px 0;
	}
	& > img {
		position: absolute;
		top: 0;
		right: 0;
		height: 104%;
	}
}
.footer__content {
	position: relative;
	text-align: center;
	max-width: 890px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;

	color: #fff;
	font-size: 22px;
	line-height: 30px;
	@include mmd() {
		padding-left: 0;
		padding-right: 0;
	}
	a {
		color: #fff;
		&:hover {
			color: #fff;
		}
	}
	input[type="text"], input[type="tel"] {
		border-radius: 3px;
		background-color: rgb(255, 255, 255);

		font-size: 20.288px;
		font-family: "Lato";
		color: rgb(125, 125, 125);
		line-height: 1;
		padding: 18px 12px 17px;

		border: none;
		margin-bottom: 10px;
		width: 320px;
		transition: linear .2s;
		@include mmd() {
			width: 270px;
		}
		@include iph() {
			font-size: 20.288px;
			font-family: "Lato";
			color: rgb(125, 125, 125);
			line-height: 1;
		}
		@include mmd() {
			padding-top: 12px;
			padding-bottom: 12px;
		}
		&:focus {
			outline: none;
		}
		&:hover {
			box-shadow: 0 0 10px 1px rgba(#fff, .5);
		}
	}
	h2 {
		font-size: 40px;
		font-family: "Lato";
		color: rgb(255, 255, 255);
		font-weight: 700;
		font-style: italic;
		line-height: 50px;
		text-align: center;
		margin-bottom: 73px;
		@include mmd() {
			font-size: 24px;
			line-height: 34px;
			margin-bottom: 20px;
		}
	}
	.footer__submit {
		margin-top: 58px;
		max-width: 325px;
		padding-top: 20px;
		padding-bottom: 19px;
		margin-bottom: 43px;
		@include mmd() {
			margin-top: 20px;
			padding-top: 12px;
			padding-bottom: 12px;
		}
	}
}