.front-section {
	background-position: 50% 100%;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 888px;
	position: relative;
	overflow: hidden;
	@media only screen and (max-width: 767px) {
		background-color: #28397b;
		min-height: auto;
	}
}
.front-section__bg-main {
	position: absolute;
	top: -25px;
	left: 0;
	width: 102%;
	transition: ease .2s;
	height: 100%;
	max-width: none;
	@media only screen and (max-width: 1250px) {
		height: 100%;
	}
	@media only screen and (max-width: 767px) {
		display: none;
	}
}
.front-section__bg-left {
	position: absolute;
	left: 0;
	top: 0;
	@media only screen and (max-width: 1250px) {
		max-width: 200px;
	}
	@media only screen and (max-width: 767px) {
		max-width: 150px;
	}
	@media only screen and (max-width: 500px) {
		max-width: 80px;
	}
}
.front-section__bg-right {
	position: absolute;
	right: -16px;
	top: 0;
	@media only screen and (max-width: 1250px) {
		max-width: 600px;
	}
	@media only screen and (max-width: 767px) {
		max-width: 400px;
	}
	@media only screen and (max-width: 500px) {
		max-width: 200px;
	}
}

.front-section__content {
	padding-top: 318px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	h2 {
		font-size: 56px;
		line-height: 64px;
		color: #fff;
		font-weight: 700;
		font-style: italic;
		margin-bottom: 42px;
		line-height: 1.2;
		// word-spacing: 3px;
		span {
			display: block;
			&:last-child {
				padding-left: 70px;
				@media only screen and (max-width: 992px) {
					padding-left: 0;
				}
			}
		}
		strong {
			text-transform: uppercase;
			font-weight: 700;
			// font-style: italic;
		}
	}
	@media only screen and (max-width: 1250px) {
		padding-top: 220px;
		h2 {
			font-size: 43px;
		}
	}
	@media only screen and (max-width: 991px) {
		h2 {
			font-size: 38px;
		}
	}
	@media only screen and (max-width: 767px) {
		padding-top: 150px;
	}
	@media only screen and (max-width: 520px) {
		padding-top: 170px;
	}
	@media only screen and (max-width: 400px) {
		padding-top: 200px;
		h2 {
			font-size: 30px;
			line-height: 36px;
			text-align: center;
		}
	}
}
.front-section__good-preview {
	padding-top: 180px;
	padding-left: 75px;
	position: relative;
	img {
		width: 100%;
		@media only screen and (min-width: 1250px) {
			max-width: 451px;
			max-height: 597px;

		}
		@media only screen and (max-width: 767px) {
			max-width: 320px;
		}
	}
	@media only screen and (max-width: 1250px) {
		padding-top: 140px;
		padding-left: 20px;
	}
	@media only screen and (max-width: 767px) {
		padding-top: 20px;
		padding-left: 0;
		text-align: center;
	}
}
.front-section__order {
	// margin-right: 20px;
	max-width: 280px;
	margin-left: 2px;

	font-size: 18px;
	padding: 16px 10px 15px;
}
.front-section__price {
	position: absolute;
	bottom: 90px;
	left: -45px;
	overflow: hidden;
	color: #fff;
	font-weight: 900;
	font-style: italic;
	text-align: center;
	div {
		&:first-child {
			font-size: 48px;
			line-height: 46px;
			text-align: center;
			position: relative;
			display: inline-block;
			padding-right: 30px;
			padding-left: 5px;
			@media only screen and (max-width: 1250px) {
				font-size: 40px;
			}
		}
		&:last-child {
			font-size: 78px;
			line-height: 1;
			span {
				font-size: 50px;
			}
			@media only screen and (max-width: 1250px) {
				font-size: 50px;
				span {
					font-size: 30px;
				}
			}
		}
	}
	@media only screen and (max-width: 767px) {
		right: 5%;
		left: auto;
		bottom: auto;
		bottom: 50px;
	}
}

.front-section__price {

}
.front-section__through {
	position: absolute;
	left: -2px;
	right: 31px;
	top: 50%;
	transform: translate(0, -50%);

	background-color: #f84b5f;
	height: 3px;
	margin-top: 3px;
	&.animated {
	}
}