.header {
	padding: 20px 0;
	transition: ease .2s;
	@media only screen and (max-width: 1250px) {
		padding: 10px 0;
	}
	@media only screen and (max-width: 576px) {
		padding: 10px 0 1px;
	}
}
.header_fixed {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 111;

	// background-color: rgba(#000, .3);
}
.header__container {
	max-width: 1280px;
}
.header__logo {
	@media only screen and (max-width: 1250px) {
		margin-bottom: 10px;
	}
}
.header__menu {
	margin-left: 80px;
	margin-right: 55px;
	@media only screen and (max-width: 1250px) {
		margin-bottom: 10px;
		margin-left: 0;
		margin-right: 0;
	}
	@media only screen and (max-width: 1115px) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		transition: ease .2s;
		opacity: 0;
		visibility: hidden;
		transform: translate(-100%, 0);
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;

			background-color: rgba(#000, .7);
		}
		ul {
			position: absolute;
			top: 0;
			left: -100%;
			transition: ease .2s;
			opacity: 0;
			visibility: hidden;
			width: 270px;
			height: 100%;

			background-color: #0056b3;

			display: block;
			padding: 100px 20px;
			li {
				margin-bottom: 30px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&.visible {
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0);
			z-index: 999;
			ul {
				opacity: 1;
				visibility: visible;
				left: 0;
			}
			.menu-close {
				left: 200px;
				opacity: 1;
				visibility: visible;
			}
		}
	}
	@media only screen and (max-width: 575px) {
		margin-bottom: 0;
		ul {
			justify-content: center;
		}
		li {
			margin-bottom: 10px;
		}
		a {
			font-size: 20px;
		}
	}
}
.header__phone {
	margin-left: 5px;
	margin-right: 5px;
	@media only screen and (max-width: 1250px) {
		margin-bottom: 10px;
	}
	
}
.header__order {
	width: 237px;
	@media only screen and (max-width: 1250px) {
		margin-bottom: 10px;
	}
}
.header_stick {
	background-color: rgba(#000, .5);
}
.header__main-row {
	@media only screen and (min-width: 1250px) {
		justify-content: flex-start;
	}
}