.high-quality {
	position: relative;
	padding: 40px 0;
	min-height: 987px;
	background-color: #f0f5f5;
	@include mmd() {
		padding: 20px 0;
	}
	.container-fluid {
	}
}
.high-quality__main-bg {
	position: absolute;
	width: 102%;
	top: 0;
	left: 0;
	max-width: none;
	// height: 100%;
	object-fit: cover;
}
.high-quality__container {
	max-width: 1320px;
	position: relative;
}
.high-quality__title {
	@include mxl() {
		margin-bottom: 30px;
	}
}
.high-quality__col {
	width: 100%;
	flex: 0 0 660px;
	max-width: 660px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 20px;
	@media only screen and (min-width: 1920px) {
		margin-bottom: 0;
	}
	@include mmd() {
		flex: 0 1 auto;
		max-width: none;
	}
}
.high-quality__exmaples {
	// width: 100%;
	height: 100%;
	max-width: 606px;
	font-size: 0;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	@media only screen and (min-width: 1920px) {
		margin-left: 0;
		margin-right: 0;
	}
	img {
		display: inline-block;
		vertical-align: top;
		object-fit: cover;
		&:first-child {
			width: 100%;
			@include md() {
				max-width: 606px;
				height: 268px;
				margin-bottom: 4px;
			}
		}
		&:nth-child(2) {
			width: 100%;
			height: 250px;
			@include md() {
				max-width: 301px;
				height: 275px;
				margin-right: 4px;
			}
		}
		&:nth-child(3) {
			width: 100%;
			height: 250px;
			@include md() {
				max-width: 301px;
				height: 275px;
			}
		}
	}
}
.high-quality__description {
	background-color: #fff;
	padding: 50px 60px;
	// width: 100%;
	height: 100%;
	max-width: 606px;
	@media only screen and (min-width: 1920px) {
		margin-left: 15px;
	}
	@include mmd() {
		padding: 20px;
	}
	& > * {
		&:last-child {
			margin-bottom: 0;
		}
	}
	p {
		font-size: 27px;
		line-height: 36px;
		color: #34353c;
		@include mmd() {
			font-size: 20px;
			line-height: 26px;
			
		}
	}
}