.list-r {
	li {
		position: relative;
		padding-left: 25px;
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);

			width: 11px;
			height: 11px;

			background-color: #000;
			border-radius: 50%;
		}
	}
}

.list-r_pink {
	li {
		&:before {
			background-color: #f84b5f;
		}
	}
}