.logo {
	font-size: 0;
	line-height: 1;
	transition: ease .2s;
	overflow: hidden;
	position: relative;
	&:before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		background: url(../images/logo-colored.png) 50% 50% no-repeat;
		transform: translate3d(50%,0,0);
		transition: opacity .2s ease,transform .2s ease,visibility .2s ease;
		opacity: 0;
		visibility: hidden;
	}
	img {
		transition: opacity .3s ease,transform .3s ease,visibility .3s ease;
	}
	&:hover {
		&:before {
			visibility: visible;
			opacity: 1;
			transform: translateZ(0);
		}
		img {
			transform: translate3d(-50%,0,0);
			opacity: 0;
			visibility: hidden;
		}
	}
}