.map-russia {
	text-align: center;
	position: relative;
	svg {
		// width: 1200px;
		width: 100%;
		max-width: 1270px;
		height: 720px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		left: 10px;
		@media only screen and (max-width: 1649px) {
			margin-bottom: 10px;
			height: 500px;
		}
		.path {
			cursor: pointer;
			transition: ease .1s;
			&:hover {
				fill: #fff !important;
				stroke: #36488d !important;
			}
		}
		@include msm() {
			width: 270px;
			height: 160px;
		}
	}
}

.map-russia__mark {
	cursor: pointer;
	@media only screen and (min-width: 1650px) {
		position: absolute;
		top: 0;
		left: 0;
	}
	@media only screen and (max-width: 1649px) {
		text-align: left;
		animation-name: none !important;
		display: inline-block;
		vertical-align: top;
	}
	.icon {
		transition: ease .2s;
		@media only screen and (max-width: 1649px) {
			position: absolute;
			top: 0;
			left: 0;
			display: none;
		}
	}
	&:hover {
		.map-russia__content {
			@media only screen and (min-width: 1650px) {
				transform: scale(1.1);
			}
		}
		.icon, img {
			@media only screen and (min-width: 1650px) {
				opacity: .7;
			}
		}
	}
}
.map-russia__mark_moscow {
	@media only screen and (min-width: 1650px) {
		top: 41%;
		left: 20%;
	}
	.map-russia__content {
		background-color: #f24559;
		@media only screen and (min-width: 1650px) {
			width: 370px;
			top: -157px;
			left: -300px;
		}
	}
}
.map-russia__mark_ekat {
	@media only screen and (min-width: 1650px) {
		top: 53%;
		left: 32%;
	}
	.map-russia__content {
		@media only screen and (min-width: 1650px) {
			width: 470px;
			top: -130px;
			left: 83px;
		}
		background-color: #f5be67;
	}
	.map-russia__arrow {
		transform: rotateY(-180deg);
		left: 63px;
	}
}
.map-russia__mark_krasnodar {
	@media only screen and (min-width: 1650px) {
		top: 59%;
		left: 11%;
	}
	.map-russia__content {
		@media only screen and (min-width: 1650px) {
			width: 415px;
			top: 136px;
			left: -260px;
		}
		background-color: #f06eaa;
	}
	.map-russia__arrow {
		top: 54px;
		left: -16px;
	}
}
.map-russia__mark_novsib {
	@media only screen and (min-width: 1650px) {
		top: 70%;
		left: 41%;
	}
	.map-russia__content {
		@media only screen and (min-width: 1650px) {
			width: 470px;
			top: 140px;
			left: -430px;
		}
		background-color: #00aeef;
	}
	.map-russia__arrow {
		top: 59px;
		left: -22px;
	}
}
.map-russia__mark_vladi {
	@media only screen and (min-width: 1650px) {
		top: 89%;
		left: 76%;
	}
	.map-russia__content {
		@media only screen and (min-width: 1650px) {
			width: 460px;
			top: 142px;
			left: -167px;
		}
		background-color: #f24559;
	}
	.map-russia__arrow {
		top: 50px;
		left: 0;
		transform: rotateY(180deg);
	}
}

.map-russia__arrow {
	position: absolute;
	bottom: 100%;
	left: 0;
	margin-bottom: 12px;
	margin-left: -36px;
	@media only screen and (max-width: 1649px) {
		display: none;
	}
}
.map-russia__content {
	@media only screen and (min-width: 1650px) {
		position: absolute;
		top: 0;
		left: 0;
	}
	@media only screen and (max-width: 1649px) {
		margin-bottom: 10px;
		padding-left: 15px;
		padding-right: 15px;
	}
	@include mmd() {
		font-size: 22px;
		line-height: 24px;
	}
	display: inline-block;
	font-size: 30px;
	line-height: 46px;
	font-weight: 600;
	font-style: italic;
	color: #fff;
	border-radius: 30px;
	background-color: red;
	text-align: center;

	padding: 8px 5px;
	transition: ease .2s;
}

#vectormap1_MOS, #vectormap1_KDA, #vectormap1_SVE, #vectormap1_NVS, #vectormap1_PRI {
	@media only screen and (max-width: 1649px) {
		fill: #fff !important;
		stroke: #36488d !important;
	}
}