.menu {
	ul {
		display: flex;
		flex-wrap: wrap;
		margin-left: -15px;
		margin-right: -15px;
	}
	li {
		padding-left: 14px;
		padding-right: 14px;
	}
	a {
		font-size: 21px;
		line-height: 1;
		color: #fff;
		position: relative;
		transition: ease .2s;
		&:before {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;

			height: 1px;
			margin-top: 5px;
			transition: ease .2s;
			opacity: 0;
			visibility: hidden;
			background-color: #fff;
		}
		&:hover {
			text-decoration: none;
			perspective: 300px;
			transform: trasnlate3d(100px, 100px, -200px);
			&:before {
				opacity: 1;
				visibility: visible;
				margin-top: 0;
			}
		}
	}
}
.menu-bar {
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	padding: 0;
	border: none;
	background-color: transparent;
	@media only screen and (min-width: 1116px) {
		display: none;
	}
}
.menu-close {
	font-size: 20px;
	color: #fff;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: -100%;
	top: 20px;
	transition: ease .2s;
	z-index: 2;

	background-color: transparent;
	padding: 0;
	border: none;
}