.mounts {
	padding: 90px 0 110px;
	background-color: #f0f5f5;
	@include mxl() {
		padding: 40px 0;
	}
	@include mmd() {
		padding: 20px 0 40px;
	}
	@include msm() {
		padding-bottom: 0;
	}
	.container-fluid {
		max-width: 1360px;
	}
}
.mounts__content-outer {
	padding-left: 37px;
	max-width: 730px;
	@media only screen and (max-width: 1919px) {
		padding-left: 0;
	}
	.title {
		margin-bottom: 53px;
		@include mmd() {
			margin-bottom: 25px;
		}
		h3 {
			padding-left: 67px;
			@include msm() {
				padding-left: 0;
			}
		}
		.icon {
			@include msm() {
				left: 50%;
			}
		}
	}
}
.mounts__content {
	ul {
		li {
			@include mmd() {
				font-size: 20px;
				line-height: 30px;
			}
		}
	}
	p {
		@include mmd() {
			font-size: 20px;
			line-height: 26px;
		}
	}
}
.mounts__col {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 50px;
	@include sm() {
		flex: 0 0 40%;
		max-width: 40%;
		margin-bottom: 0;
	}
}
.mounts__col_large {
	@include sm() {
		flex: 0 0 60%;
		max-width: 60%;
	}
}

.mounts__img-wrap {
	position: relative;
	// width: 586px;
	// height: 557px;
	&:before {
		content: '';

		position: absolute;
		top: -20px;
		left: 100%;
		margin-left: -40px;
		background: url("../images/design-part.png") 0 0 no-repeat;
		width: 93px;
		height: 93px;
		background-size: cover;
		@include mmd() {
			width: 50px;
			height: 50px;
		}
	}
	img {
		position: relative;
		top: 10px;
		left: -20px;
		// max-width: 586px;
		// max-height: 557px;
	}
}