.order {
	display: block;
	width: 100%;
	max-width: 240px;
	padding: 12px 10px 11px;
	border: 1px solid #28397b;

	font-size: 15px;
	line-height: 1;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;

	background-color: #28397b;
	border-radius: 3px;
	transition: ease .2s;
	span {
		// transition: ease .2s;
		display: block;
	}
	&:hover {
		color: #fff;
		text-decoration: none;
		background-color: transparent;
		border-color: #fff;
		// transform: scale(1.03, 1.03);
		span {
			// transform: scale(.85, .85);
		}
	}
}
.order_pink {
	background-color: #f84b5f;
	border-color: #f84b5f;
}
.order_bigger {
	font-size: 18px;
	padding: 16px 10px 15px;
	max-width: 280px;
}
.order_pink_on_white {
	&:hover {
		border-color: #f84b5f;
		color: #f84b5f;
	}
}