.our-guarantees {
	position: relative;
	z-index: 3;
	// padding-bottom: 50px;
	// margin-bottom: 155px;
	@media only screen and (max-width: 1919px) {
		background-color: #284690;
		
	}
	@include mmd() {
	}
	.container-fluid {

	}
}
.our-guarantees__title {
	max-width: none;
	margin-bottom: 85px;
	@include mmd() {
		margin-bottom: 30px;
	}
	h3 {
		color: #fff;
	}
}
.our-guarantees__item {
	width: 100%;
	max-width: 530px;
	flex: 0 0 530px;
	margin-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
	& > img {
		margin-bottom: 42px;
		position: relative;
	}
	&:nth-child(odd) {
		& > img {
			position: relative;
		}
		.our-guarantees__content {
			@include md() {
				padding-left: 10px;
				padding-right: 100px;
			}
		}
	}
	&:nth-child(even) {
		& > img {
			@media only screen and (min-width: 1920px) {
				left: 20px;
			}
		}
		.our-guarantees__content {
			@include md() {
				left: 25px;
			}
		}
	}
	&:nth-child(3) {
		& > img {
			// margin-bottom: 45px;
		}
		.our-guarantees__content {
			@include md() {
				padding-right: 50px;
			}
		}
	}
	@include mmd() {
		flex: 0 1 auto;
		max-width: none;
		text-align: center;
		.our-guarantees__content {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
.our-guarantees__content {
	position: relative;
	color: #fff;
	& > * {
		&:nth-child {
			margin-bottom: 0;
		}
	}
	h3 {
		font-size: 40px;
		line-height: 47px;

		font-weight: 600;
		font-style: italic;
		margin-bottom: 15px;
		@include mmd() {
			font-size: 30px;
			line-height: 37px;
		}
	}
	p {
		font-size: 25px;
		line-height: 30px;
		@include mmd() {
			font-size: 20px;
			line-height: 25px;
		}
	}
}