.our-mission {
	// background: #eaf2f6 url("../images/our-mission-bg.jpg") 0 50px no-repeat;
	background-color: #f75366;
	// background-size: cover;
	padding-top: 100px;
	// padding-bottom: 245px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	padding-bottom: 30px;
	@include md() {
		min-height: 810px;
		padding-bottom: 0;
	}
}
.our-mission__air {
	position: absolute;
	bottom: 10px;
	left: 16.3%;
	z-index: 1;
	@media only screen and (max-width: 1600px) {
		left: 10%;
	}
	@media only screen and (max-width: 1400px) {
		left: 3%;
	}
	@include mxl() {
		left: 0;
	}
	@include mlg() {
		max-width: 700px;
	}
	@include mmd() {
		max-width: 650px;
		top: 120px;
	}
}
.our-mission__hearts {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	animation-duration: 3s;
	object-fit: cover;
}
.our-mission__content {
	position: relative;
	z-index: 2;
	padding-top: 200px;
	padding-left: 14px;
	margin-left: auto;
	@include mmd() {
		padding-left: 15px;
		padding-right: 15px;
		margin-left: 0;
	}
	@include md() {
		flex: 0 0 60%;
		max-width: 60%;
	}
	@include mmd() {
		padding-top: 400px;
		flex: 1 1 auto;
		max-width: none;
	}
	color: #fff;
	h4 {
		font-size: 35px;
		line-height: 41px;
		font-weight: 600;
		font-style: italic;
		color: #fff;
		@include mmd() {
			font-size: 25px;
			line-height: 31px;
		}
	}
	div, p {
		max-width: 750px;
		font-size: 27px;
		line-height: 34px;
		@include mmd() {
			font-size: 22px;
			line-height: 29px;
		}
	}
	p {
		padding-right: 140px;
		margin: 0;
		@include mmd() {
			padding-right: 0;
		}
	}
}
.our-mission__title {
	margin-bottom: 38px;
	@include mmd() {
		padding-left: 0;
		margin-bottom: 20px !important;
	}
	h3 {
		color: #fff;
		margin-bottom: 37px;
		padding-left: 80px;
		@include mmd() {
			margin-bottom: 10px;
		}
	}
	.icon {
		top: 10px;
		left: 0;
	}
}