.phone {
	color: #fff;
	font-size: 21px;
	line-height: 1;
	.icon {
		transition: ease .2s;
		margin-right: 5px;
	}
	&:hover {
		text-decoration: none;
		color: #fff;
		.icon {
			transform: scale(1.3);
		}
	}
}