.products {
	padding: 36px 0 0;
}
.products__title {
	margin-bottom: 55px;
	@include msm() {
		padding-left: 0;
	}
}
.products__container {
	max-width: 1332px;
}
.product-list-outer {
	padding-left: 26px;
}

.products_vip {
	padding: 7px 0;
	.products__title {
		max-width: 995px;
		padding-left: 25px;
		@include msm() {
			padding-left: 0;
		}
		.icon {
			top: 3px;
		}
	}
}