.product {
	position: relative;
	&:hover {
		img {
			transform: scale(1.1) translateX(10px);
		}
	}
}
.product__img {
	display: block;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
	img {
		width: 100%;
		max-height: 500px;
		transition: ease .2s;
	}
}
.product__basket {
	display: block;
}
.product__price {
	position: absolute;
	right: 20px;
	top: 14px;
	color: #fff;
	z-index: 3;
	div, span {
		display: inline-block;
		vertical-align: bottom;
	}
	div {
		font-size: 23px;
		line-height: 1;
		font-weight: 700;
		text-decoration: line-through;
	}
	span {
		font-size: 30px;
		line-height: 1;
	}
}

.product__basket {
	background-color: #f24559;
	border-radius: 0 0 10px 10px;
	padding: 13px 10px 18px;

	font-size: 22px;
	line-height: 1;
	text-align: center;
	color: #fff;
	transition: ease .2s;
	span {
		vertical-align: middle;
	}
	.icon {
		transition: ease .2s;
	}
	span:not(.icon) {
		position: relative;
		top: 3px;
		margin-right: 8px;
	}
	&:hover {
		color: #fff;
		text-decoration: none;
		background-color: #f0132c;
		.icon {
			transform: translate(7px, 0);
		}
	}
}
