.product-list {

}
.product-list__item {
	flex: 0 0 444px;
	max-width: 444px;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;

	margin-bottom: 62px;
	// img {
	// 	width: 100%;
	// 	max-height: 500px;
	// }
	@include msm() {
		flex: 0 1 auto;
		max-width: none;
		margin-bottom: 30px;
	}
}