.reasons {
	padding-bottom: 40px;
}
.reasons__list {
	padding-left: 90px;
	@include msm() {
		padding-left: 20px;
	}
	ul {

	}
	li {
		font-size: 25px;
		line-height: 24px;
		margin-bottom: 24px;
		&:last-child {
			margin-bottom: 0;
		}
		@include mmd() {
			font-size: 20px;
			line-height: 19px;
		}
	}
}
.reasons__preview-wrap {
	// height: 679px;
	position: relative;
	&:before {
		content: '';

		position: absolute;
		top: -62px;
		left: -268px;

		width: 531px;
		height: 374px;
		background: url("../images/reasong-preview-styling1.png") 0 0 no-repeat;
		-webkit-animation: pulse 5s linear infinite;
		-moz-animation: pulse 5s linear infinite;
		-o-animation: pulse 5s linear infinite;
		background-size: cover;
		@media only screen and (max-width: 1400px) {
			width: 401px;
			height: 282px;
			left: 0;
		}
		@include mlg() {
			width: 331px;
			height: 233px;
			left: 50px;
		}
		@include mmd() {
			top: 40px;
			left: 0;
		}
		@include msm() {
			width: 210px;
			height: 148px;
			top: 40px;
			// left: -60px;
		}
		@media only screen and (max-width: 410px) {
			top: 30px;
			left: -60px;
		}
	}
	&:after {
		content: '';

		position: absolute;
		top: 50%;
		left: 50%;
		background: url("../images/reasong-preview-styling2.png") 0 0 no-repeat;
		width: 206px;
		height: 206px;
		margin-top: -103px;
		margin-left: -103px;
		animation-name: circleMove;
		animation-duration: 16s;
		animation-iteration-count: infinite;
		background-size: cover;
		@media only screen and (max-width: 1919px) {
			animation-name: none;
			left: 0;
			margin-left: -70px;
			margin-top: 70px;
		}
		@media only screen and (max-width: 1400px) {
			left: 10%;
		}
		@include mlg() {
			// animation-name: none;
			// left: 140px;
			// margin-top: 0;

			// width: 150px;
			// height: 150px;
		}
		@include mmd() {
			// right: 0;
			// left: auto;
			// bottom: 0;
			// top: auto;
		}
		@include msm() {
			width: 100px;
			height: 100px;
			margin-top: 50px;
			left: 13%;
		}
	}
	@media only screen and (max-width: 767px) {
		padding-top: 140px;
	}
	@include msm() {
		padding-top: 100px;
	}
}
.reasons__preview {
	width: 679px;
	height: 679px;
	position: relative;
	left: -32px;
	top: -2px;
	img {
		width: 100%;
		height: 100%;
	}
	// @media only screen and (max-width: 1919px) {
	// 	left: 50%;
	// 	top: 0;
	// 	margin-left: -339px;
	// }
	@media only screen and (max-width: 1919px) {
		width: 603px;
		height: 603px;
		left: 50%;
		margin-left: -301px;
	}
	@media only screen and (max-width: 1400px) {
		width: 500px;
		height: 500px;
		margin-left: -250px;
	}
	@include mlg() {
		width: 500px;
		height: 500px;
		margin-left: -250px;
	}
	@include msm() {
		width: 280px;
		height: 280px;
		margin-left: -140px;
	}
}

.reasons__col {
	width: 100%;
	position: relative;
	margin-bottom: 50px;
	flex: 0 0 47%;
	max-width: 47%;
	padding-left: 15px;
	padding-right: 15px;
	@include mlg() {
		max-width: none;
		flex: 0 1 auto;
	}
}
.reasons__col_large {
	@media only screen and (min-width: 1920px) {
		flex: 0 0 53%;
		max-width: 53%;

	}
}

.reasons__col-main {
	width: 100%;
	position: relative;
	margin-bottom: 45px;
	flex: 0 0 49%;
	max-width: 49%;
	padding-left: 15px;
	padding-right: 15px;
	@media only screen and (max-width: 1199px) {
		max-width: none;
		flex: 0 1 auto;
	}
}
.reasons__col-main_large {
	flex: 0 0 51%;
	max-width: 51%;
	@media only screen and (min-width: 1920px) {

	}
}

.reasons__title {
	max-width: 550px;
	margin-bottom: 80px;
	@include msm() {
		margin-bottom: 40px;
	}
}

.reasons__container-previews {
	max-width: 1540px;
	position: relative;
}

.reasons__title_else {
	margin-bottom: 48px;
	h3 {
		padding-left: 70px;
	}
	.icon {
		top: 5px;
		left: -5px;
	}
	@include mxl() {
		margin-bottom: 30px;
	}
}
.reasons__content {
	margin-bottom: 10px;
	padding-left: 10px;
	color: #34353c;
	p {
		font-size: 27px;
		line-height: 36px;
		color: #34353c;
		margin-bottom: 30px;
		@include mxl() {
			font-size: 23px;
			line-height: 29px;
		}
	}
	ul {
		margin-bottom: 30px;
		li {
			padding-left: 65px;
			position: relative;
			font-size: 27px;
			line-height: 55px;
			margin-bottom: 5px;
			color: #34353c;
			@include mxl() {
				font-size: 23px;
				line-height: 50px;
			}
		}
		.icon {
			position: absolute;
			top: 0;
			left: 0;
		}
		span:not(.icon) {
			position: relative;
			top: -5px;
			display: block;
		}
		.icon-many {
			margin-left: -25px;
		}
	}
}

.reasons__order {
	margin-left: 19%;
	max-width: 280px;
	@include msm() {
		margin-left: 0;
	}
}

.reasons__preview-second {
	position: relative;
	@media only screen and (min-width: 1920px) {
		min-height: 650px;
	}
	img {
		position: relative;
		z-index: 1;
		top: 61px;
		left: 64px;

		max-width: 863px;
		max-height: 600px;
		position: relative;
		left: -60px;
		top: 58px;
	}
	@media only screen and (max-width: 1919px) {
		text-align: center;
		img {
			max-width: 100%;
			max-height: none;
			top: auto;
			left: auto;
		}
	}
}

.reasons_second {
	background: url("../images/reasong-blue-bg.png") 0 0 no-repeat;
	min-height: 891px;
	padding-top: 65px;
	background-size: cover;
	@include mmd() {
		padding-bottom: 100px;
		padding-top: 30px;
	}
	@include msm() {
		padding-bottom: 30px;
	}
	.container-fluid {
		max-width: 1530px;
	}
	.reasons__preview {
		width: 603px;
		height: 603px;
		top: -10px;
		left: 103px;
		img {
			width: 100%;
			height: 100%;
		}
		@media only screen and (max-width: 1919px) {
			margin-left: 0;
		}
		@media only screen and (max-width: 1400px) {
			left: 50%;
			width: 500px;
			height: 500px;
			margin-left: -250px;
		}
		@media only screen and (max-width: 1199px) {
			width: 400px;
			height: 400px;
			margin-left: -200px;
		}
		@include msm() {
			width: 278px;
			height: 278px;
			margin-left: -139px;
		}
	}
	.reasons__preview-wrap {
		height: auto;
		@include mmd() {
			padding-top: 0;
		}
		&:before {
			top: -121px;
			left: -171px;
			width: 483px;
			height: 341px;
			background-size: cover;
			@media only screen and (max-width: 1199px) {
				width: 311px;
				height: 219px;
				left: -20%;
				top: -80px;
			}
			@include mlg() {
				left: -25%;
			}
			@include mmd() {
				left: 3%;
			}
			@include msm() {
				width: 171px;
				height: 120px;
			}
		}
		&:after {
			// bottom: 132px;
			top: 50%;
			left: 50%;
			animation-name: circleMove2;
			@media only screen and (max-width: 1919px) {
				animation-name: none;
				left: -7%;
				margin-top: -20px;
			}
			@media only screen and (max-width: 1400px) {
				width: 150px;
				height: 150px;
				left: 5%;
				margin-top: 0;
			}
			@include mmd() {
				left: 9%;
			}
			@include msm() {
				width: 100px;
				height: 100px;
			}
		}
	}
	.reasons__title {
		max-width: none;
		position: relative;
		z-index: 3;
		margin-bottom: 100px;
		h3 {
			padding-right: 160px;
			display: inline-block;
			@include mxl() {
				padding-right: 50px;
			}
			@include mmd() {
				padding-right: 0;
			}
		}
		.icon {
			top: 5px;
			left: -5px;
			@include msm() {
				left: 50%;
			}
		}
		@include msm() {
			h3 {
				// text-align: left;
			}
		}
	}
	.reasons__content {
		margin-top: 28px;
		padding-left: 60px;
		@media only screen and (max-width: 1199px) {
			padding-left: 0;
			margin-top: 0;
		}
	}
	.reasons__content-in {
		background-color: #fff;
		max-width: 686px;
		padding: 54px 40px 24px 43px;
		margin-bottom: 43px;
		@include msm() {
			padding: 20px;
		}
	}
	.reasons__order {
		margin-left: 0;
	}
	.reasons__col-main {
		margin-bottom: 0;
		@media only screen and (max-width: 1199px) {
			flex: 0 0 50%;
			max-width: 50%;
		}
		@include mmd() {
			flex: 0 1 auto;
			max-width: none;
			margin-bottom: 20px;
		}
	}
}


.reasons_third {
	padding-bottom: 0;
	.container-fluid {
		max-width: 1310px;
	}
	.title {
		margin-bottom: 68px;
		@include mxl() {
			margin-bottom: 20px;
		}
		.icon {
			top: -5px;
			left: 0;
			@include msm() {
				left: 50%;
			}
		}
		h3 {
			padding-left: 68px;
			@include msm() {
				padding-left: 0;
			}
		}
	}
	.reasons__col {
		text-align: center;
		@media only screen and (min-width: 640px) {
			flex: 0 0 43%;
			max-width: 43%;
			margin-bottom: 47px;
		}
	}
	.reasons__col_large {
		text-align: left;
		padding-top: 108px;
		@media only screen and (min-width: 640px) {
			flex: 0 0 57%;
			max-width: 57%;
		}
		@include mxl() {
			padding-top: 0;
		}
	}
	.reasons__good {
		position: relative;
		img {
			@media only screen and (min-width: 1920px) {
				position: relative;
				left: 60px;
				top: -10px;
			}
			// position: absolute;
			// top: -120px;
			// left: 80px;
			// max-width: 416px;
			// max-height: 571px;
		}
	}
	.reasons__content {
		p {
			margin-bottom: 40px;
		}
	}
	ul {
		.icon {
			top: -5px;
		}
		span:not(.icon) {
			top: 0;
		}
		li {
			padding-left: 55px;
			@include mxl() {
				line-height: 31px;
			}
		}
	}
	
}


.reasons_fourth {
	padding: 80px 0 20px;
	position: relative;
	@include mxl() {
		padding: 40px 0;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 758px;
		background: url("../images/reasons-bg-fourth.jpg") 0 0 no-repeat;
		@include mxl() {
			min-height: 650px;
		}
		@include mlg() {
			background-size: cover;
			min-height: auto;
			height: 100%;
			
		}
	}
	.reasons__col {
		margin-bottom: 20px;
		padding-left: 15px;
		padding-right: 15px;
		@include sm() {
			flex: 0 0 40%;
			max-width: 40%;
			
		}
	}
	.reasons__title {
		max-width: none;
		margin-bottom: 100px;
		@include mxl() {
			margin-bottom: 30px;
		}
		.icon {
			left: -5px;
			top: 5px;
			@include msm() {
				left: 50%;
			}
		}
	}
	.reasons__col_large {
		@include sm() {
			flex: 0 0 60%;
			max-width: 60%;
		}
	}
	.reasons__content {
		padding-left: 65px;
		max-width: 670px;
		position: relative;
		@include mmd() {
			padding-left: 0;
		}
		p {
			margin-bottom: 82px;
			@include mxl() {
				margin-bottom: 20px;
			}
			@include mmd() {
				font-size: 18px;
				line-height: 24px;
			}
		}
	}
	.reasons__img-wrap {
		position: relative;
		width: 100%;
		@include md() {
			max-width: 409px;
		}
		@include mmd() {
			text-align: center;
		}
		img {
			// width: 100%;
			@media only screen and (min-width: 1920px) {
				position: relative;
				top: 23px;
				left: 87px;

			}
		}
	}
}

.reasons_fifth {
	padding: 20px 0;
	@include mlg() {
		padding-top: 30px;
	}
	.reasons__content-outer {
		padding-top: 174px;
		padding-left: 14px;
		@include mxl() {
			padding-top: 100px;
		}
		@include mmd() {
			padding-top: 0;
			padding-left: 0;
		}
	}
	.reasons__content {
		p {
			@include mmd() {
				font-size: 18px;
				line-height: 24px;
			}
		}
	}
	.reasons__title {
		padding-left: 10px;
		margin-bottom: 87px;
		@include mxl() {
			margin-bottom: 15px;
		}
		.icon {
			top: -3px;
		}
	}
	.reasons__img-wrap {
		max-width: 659px;
		img {
			@media only screen and (min-width: 1920px) {
				max-width: none;
			}
		}
	}
	.reasons__col {
		margin-bottom: 22px;
		padding-left: 15px;
		padding-right: 15px;
		@include sm() {
			flex: 0 0 49%;
			max-width: 49%;
			
		}
	}
	.reasons__col_large {
		@include sm() {
			flex: 0 0 51%;
			max-width: 51%;
			
		}
	}
}