.reasons-previews {
	margin-bottom: 90px;
	@include msm() {
		margin-bottom: 30px;
	}
}
.reasons-previews__circle {
	width: 305px;
	height: 305px;
	margin-bottom: 12px;
	display: inline-block;
	img {
		width: 100%;
		height: 100%;
	}
	@include msm() {
		width: 278px;
		height: 278px;
	}
}

.reasons-previews__col {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	flex: 0 0 370px;
	max-width: 370px;
	text-align: center;
	margin-bottom: 30px;
	@include msm() {
		flex: 0 1 auto;
		max-width: none;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.reasons-previews__text {
	font-size: 22px;
	line-height: 29px;
	color: #34353c;
}