.reviews {
	padding-top: 20px;
	.title {
		@include mmd() {
			margin-bottom: 30px;
		}
	}
}
.reviews__item {
	display: block;
	width: 100%;
	flex: 0 0 25%;
	max-width: 25%;
	font-size: 0;
	width: 100%;
	overflow: hidden;
	@include mmd() {
		flex: 0 0 50%;
		max-width: 50%;
	}
	@include mmd() {

	}
	img {
		height: 100%;
		width: 100%;
		transition: ease .2s;
	}
	&:hover {
		img {
			transform: scale(1.1);
		}
	}
}
.reviews__title {
	margin-bottom: 50px;
}