.title {
	h3 {
		font-size: 40px;
		line-height: 46px;
		color: #28397b;
		font-weight: 700;
		font-style: italic;
		position: relative;
		padding-left: 68px;
		span {
			vertical-align: top;
		}
		@include mxl() {
			font-size: 36px;
			line-height: 42px;
		}
		@include mlg() {
			font-size: 30px;
			line-height: 36px;
		}
	}
	.icon {
		position: absolute;
		top: 0;
		left: 0;
	}
	@include msm() {
		padding-left: 0;
		max-width: none;
		text-align: center;
		// margin-bottom: 70px;
		h3 {
			padding: 68px 0 0;
			text-align: center;
			@include msm() {
				padding-top: 48px;
			}
		}
		.icon {
			top: 3px;
			left: 50%;
			margin-left: -20px;
		}
		span:not(.icon) {
			display: block;
			padding-left: 0;
		}
	}
}

.title_icon_top {
	padding-left: 0;
	max-width: none;
	text-align: center;
	margin-bottom: 70px;
	h3 {
		padding: 68px 0 0;
	}
	.icon {
		top: 3px;
		left: 50%;
		margin-left: -20px;
	}
	span:not(.icon) {
		display: block;
		padding-left: 20px;
	}
}