.video-section {
	background-color: #ace5e9;
	position: relative;
	background: url("../images/video-section-bg.jpg") 0 0 no-repeat;
	overflow: hidden;
	padding-top: 324px;
	@media only screen and (min-width: 1920px) {
		min-height: 1071px;
	}
	@media only screen and (max-width: 1670px) {
		padding-top: 200px;
	}
	@include mlg() {
		padding-top: 120px;
		padding-bottom: 50px;
	}
	@include msm() {
		padding: 20px 0 40px;
		& > img {
			display: none;
		}
	}
}
.video-section__wrap {
	background: url("../images/video-bg.png") 50% 59% no-repeat;
	width: 1170px;
	height: 653px;
	padding: 30px 0 84px;
	margin-left: 6%;
	background-size: contain;
	iframe {
		position: absolute;
		top: 31px;
		left: 170px;
		width: 810px;
		height: 536px;
		@media only screen and (max-width: 1300px) {
			top: 20px;
			left: 111px;
			width: 529px;
			height: 349px;
		}
		@include mlg() {
			// display: none;
			width: 279px;
			height: 183px;
			top: 11px;
			left: 58px;
		}
		@include msm() {
			width: 100%;
			height: 300px;
			position: static;
		}
	}
	@media only screen and (max-width: 1300px) {
		width: 760px;
		height: 423px;
		margin-left: auto;
		margin-right: auto;
	}
	@include mlg() {
		width: 400px;
		height: 223px;
	}
	@media only screen and (max-width: 450px) {
		background: none;
		padding: 0;
		margin: 0;
		height: auto;
		width: auto;
	}
}

.video-section__cloud-left {
	position: absolute;
	top: 0;
	left: 0;
	@media only screen and (max-width: 1670px) {
		max-width: 500px;
	}
	@include mxl() {
		max-width: 300px;
	}
	@include msm() {
		display: none;
	}
}
.video-section__cloud-right {
	position: absolute;
	top: 0;
	right: 0;
	@media only screen and (max-width: 1670px) {
		max-width: 500px;
	}
	@include mxl() {
		max-width: 300px;
	}
	@include msm() {
		display: none;
	}
}

.video-section__cloud {
	position: absolute;
	top: 42%;
	left: 13%;
	z-index: 3;
	margin-left: 9px;
	margin-top: 10px;
	@include mlg() {
		max-width: 120px;
	}
}

.video-section__cloud_revers {
	position: absolute;
	bottom: 28%;
	left: 96%;
	margin-right: 15px;
	margin-bottom: 2px;
	z-index: 3;
	transform: rotateY(-180deg);
	@include mlg() {
		max-width: 120px;
	}
}