<footer class="footer">
	<img src="images/footer-bg.png" alt="" class="footer__part rightSide">
	<div class="container-fluid">
		<div class="footer__content paddings wow animated bounceInUp" data-wow-duration="1s">
			<h2>Есть вопросы? Оставьте ваши данные, чтобы наш менеджер мог связаться с Вами и проконсультировать. </h2>
			<form>
				<div class="row justify-content-center">
					<div class="padding">
						<input type="text" placeholder="Имя:">
					</div>
					<div class="padding">
						<input type="tel" placeholder="Телефон:">
					</div>
				</div>
				<div>
					<input type="submit" value="Отправить" class="footer__submit order order_pink order_bigger ml-auto mr-auto">
				</div>
				<div>Телефоны: <a href="tel+88007456380">8-800-745-63-80</a></div>
			</form>
		</div>
	</div>
</footer>