<header class="header header_fixed">
	<div class="header__container container-fluid">
		<div class="header__main-row row align-items-center justify-content-center">
			<div class="padding">
				<a href="#" class="header__logo logo d-block">
					<img src="images/logo-white.png" alt="">
				</a>
			</div>
			<div class="header__menu menu list-clr padding scroll-spy">
				<button class="menu-close"><span class="icon icon-delete"></span></button>
				<ul class="menu__list">
					<li>
						<a href="#whyWe">Почему мы</a>
					</li>
					<li>
						<a href="#guarantees">Наши гарантии</a>
					</li>
					<li>
						<a href="#faq">FAQ</a>
					</li>
				</ul>
			</div>
			<div class="padding">
				<div class="row align-items-center justify-content-center">
					<div class="padding">
						<a href="tel:+88007456380" class="header__phone phone d-block">
							<span class="icon icon-phone"></span>
							<span>8-800-745-63-80</span>
						</a>
					</div>
					<div class="padding">
						<a href="#" class="header__order order d-block  zoomIn">
							<span>Оформить заказ</span>
						</a>
					</div>
				</div>
			</div>
			<div class="padding">
				<button class="menu-bar"><span class="icon icon-menu"></span></button>
			</div>
		</div>
	</div>
</header>